n8n-workflows/closing-document-validator.json
{
  "name": "Closing Document Validator",
  "nodes": [
    {
      "parameters": {
        "content": "## 📑 Closing Document Validator\n\n### What this workflow does\n1. Watches Google Drive folder for closing packages\n2. Extracts data from closing disclosure, deed, note\n3. Cross-validates names, addresses, amounts\n4. Flags inconsistencies across documents\n5. Logs validation results to Google Sheets\n6. Sends Slack alert with discrepancy report\n\n### Setup steps\n1. Get PDF Vector API key from pdfvector.com/api-keys\n2. Create a Google Drive folder for closing documents\n3. Create a Google Sheet with these columns:\n   File Number | Property | Buyer | Seller | Amount | Doc Type | Validation Status | Discrepancies | Processed Date\n4. Update the folder ID and sheet ID in the nodes\n5. Connect your Slack workspace\n\n### Perfect for\n- Closing coordinators\n- Transaction managers\n- Title company processors",
        "height": 520,
        "width": 400,
        "color": 5
      },
      "id": "823a5ba0-f769-4f1c-82c4-8c2e2f3c0e77",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3808,
        880
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "YOUR_FOLDER_ID",
          "mode": "list",
          "cachedResultName": "",
          "cachedResultUrl": ""
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "08254b11-fdb4-43ce-851e-6ae644c24f95",
      "name": "New Closing Doc",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        4240,
        1104
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "4917d213-fc5c-4eef-9816-103cfd2e4f76",
      "name": "Download Document",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        4432,
        1104
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "extract",
        "inputType": "file",
        "prompt": "Extract real estate closing document data as flat fields only — no nested objects. Extract: documentType (closing disclosure/HUD-1/settlement statement/deed/mortgage note/etc), fileNumber, closingDate. Property: propertyStreet, propertyCity, propertyState, propertyZip, propertyCounty, parcelNumber. Parties: buyerName, buyerAddress, sellerName, sellerAddress. Loan: loanAmount, loanType (conventional/FHA/VA/USDA/cash), interestRate (decimal), loanTerm. Financials: purchasePrice, earnestMoneyDeposit, totalClosingCosts, cashToClose, sellerProceeds. Agents: lenderName, titleCompany, closingAgentName. Execution: buyerSigned (true/false), sellerSigned (true/false), notarized (true/false). All monetary values as plain numbers in dollars.",
        "schema": "{\"type\": \"object\", \"properties\": {\"documentType\": {\"type\": \"string\"}, \"fileNumber\": {\"type\": \"string\"}, \"closingDate\": {\"type\": \"string\"}, \"propertyStreet\": {\"type\": \"string\"}, \"propertyCity\": {\"type\": \"string\"}, \"propertyState\": {\"type\": \"string\"}, \"propertyZip\": {\"type\": \"string\"}, \"propertyCounty\": {\"type\": \"string\"}, \"parcelNumber\": {\"type\": \"string\"}, \"buyerName\": {\"type\": \"string\"}, \"buyerAddress\": {\"type\": \"string\"}, \"sellerName\": {\"type\": \"string\"}, \"sellerAddress\": {\"type\": \"string\"}, \"loanAmount\": {\"type\": \"number\"}, \"loanType\": {\"type\": \"string\"}, \"interestRate\": {\"type\": \"number\"}, \"loanTerm\": {\"type\": \"string\"}, \"purchasePrice\": {\"type\": \"number\"}, \"earnestMoneyDeposit\": {\"type\": \"number\"}, \"totalClosingCosts\": {\"type\": \"number\"}, \"cashToClose\": {\"type\": \"number\"}, \"sellerProceeds\": {\"type\": \"number\"}, \"lenderName\": {\"type\": \"string\"}, \"titleCompany\": {\"type\": \"string\"}, \"closingAgentName\": {\"type\": \"string\"}, \"buyerSigned\": {\"type\": \"boolean\"}, \"sellerSigned\": {\"type\": \"boolean\"}, \"notarized\": {\"type\": \"boolean\"}}, \"required\": [\"documentType\", \"purchasePrice\"], \"additionalProperties\": false}"
      },
      "id": "886d49e6-5142-4f73-b218-05c1d9e6dd63",
      "name": "Extract Closing Data",
      "type": "n8n-nodes-pdfvector.pdfVector",
      "typeVersion": 2,
      "position": [
        4640,
        1104
      ],
      "credentials": {
        "pdfVectorApi": {
          "id": "YOUR_PDFVECTOR_CREDENTIAL_ID",
          "name": "PDF Vector account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "list",
          "cachedResultName": "",
          "cachedResultUrl": ""
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "",
          "cachedResultUrl": ""
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Property",
              "lookupValue": "={{ $('Extract Closing Data').item.json.data.propertyStreet || $('Extract Closing Data').item.json.propertyStreet }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b6bccd55-84d5-4af9-af97-7a99a5a47409",
      "name": "Get Previous Docs",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        4832,
        1104
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const closing = ($('Extract Closing Data').item.json?.data || $('Extract Closing Data').item.json) || {};\nconst prevDocs = $('Get Previous Docs').all().map(r => r.json) || [];\nconst fileName = $('New Closing Doc').item.json.name;\nconst fileId   = $('New Closing Doc').item.json.id;\n\nconst c = v => parseFloat(String(v||0).replace(/[^0-9.]/g,'')) || 0;\nconst issues = (closing.validationIssuesList || '').split(';').filter(Boolean);\nconst missing = (closing.missingDocsList || '').split(';').filter(Boolean);\n\nlet validationFlags = [...issues];\nif (closing.toleranceViolation) validationFlags.push('Tolerance violation: ' + (closing.toleranceDetails||''));\nif (!closing.threeBusinessDayRule) validationFlags.push('3-business-day rule may not be met');\nconst cashToClose = c(closing.cashToClose);\nconst calcCash = c(closing.purchasePrice) - c(closing.loanAmount) - c(closing.sellerCredits) + c(closing.totalClosingCosts);\nif (cashToClose > 0 && Math.abs(cashToClose - calcCash) > 100) validationFlags.push('Cash-to-close discrepancy');\n\nconst status = validationFlags.length === 0 ? 'Clear to Close' :\n  validationFlags.some(f => f.includes('violation')) ? 'Hold' : 'Review Required';\n\nreturn [{ json: {\n  documentType:     closing.documentType     || 'N/A',\n  propertyAddress: [closing.propertyStreet, closing.propertyCity, closing.propertyState, closing.propertyZip].filter(Boolean).join(', ') || closing.propertyAddress || 'N/A',\n  closingDate:      closing.closingDate      || 'N/A',\n  buyerName:        closing.buyerName        || 'N/A',\n  sellerName:       closing.sellerName       || 'N/A',\n  lenderName:       closing.lenderName       || 'N/A',\n  purchasePrice:    c(closing.purchasePrice),\n  loanAmount:       c(closing.loanAmount),\n  loanType:         closing.loanType         || 'N/A',\n  interestRate:     c(closing.interestRate),\n  totalClosingCosts: c(closing.totalClosingCosts),\n  cashToClose,\n  validationFlags: validationFlags.join('; ') || 'None',\n  flagCount: validationFlags.length,\n  missingDocs: closing.missingDocsList || 'None',\n  missingCount: missing.length,\n  status,\n  toleranceViolation: closing.toleranceViolation || false,\n  prevDocCount: prevDocs.length,\n  fileName, fileId,\n  processedAt: new Date().toISOString(),\n  fileId: fileId,\n  fileNumber: \"N/A\",\n  buyerNames: closing.buyerName || \"N/A\",\n  sellerNames: closing.sellerName || \"N/A\",\n  lender: closing.lenderName || \"N/A\",\n  downPayment: c(closing.purchasePrice) - c(closing.loanAmount),\n  totalBuyerCosts: c(closing.totalClosingCosts),\n  totalSellerCosts: 0,\n  proceedsToSeller: c(closing.sellerProceeds) || (c(closing.purchasePrice) - c(closing.loanAmount)),\n  discrepancies: validationFlags.join(\"; \") || \"None\",\n  validationStatus: status,\n relatedDocCount: prevDocs.length,\n  signatures: \"N/A\",\n}}];"
      },
      "id": "205f416b-24e2-460f-a23b-8a61654fb8c6",
      "name": "Cross-Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5040,
        1104
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "list",
          "cachedResultName": "",
          "cachedResultUrl": ""
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "",
          "cachedResultUrl": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Property": "={{ $json.propertyAddress }}",
            "Buyer": "={{ $json.buyerName }}",
            "Seller": "={{ $json.sellerName }}",
            "Closing Date": "={{ $json.closingDate }}",
            "Purchase Price": "={{ $json.purchasePrice }}",
            "Loan Amount": "={{ $json.loanAmount }}",
            "Cash to Close": "={{ $json.cashToClose }}",
            "Status": "={{ $json.status }}",
            "Flags": "={{ $json.flagCount }}",
            "Document Link": "=https://drive.google.com/file/d/{{ $json.fileId }}/view",
            "Added Date": "={{ $json.processedAt.split('T')[0] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Property",
              "displayName": "Property",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Buyer",
              "displayName": "Buyer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Seller",
              "displayName": "Seller",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Closing Date",
              "displayName": "Closing Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Purchase Price",
              "displayName": "Purchase Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Loan Amount",
              "displayName": "Loan Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cash to Close",
              "displayName": "Cash to Close",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Flags",
              "displayName": "Flags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Document Link",
              "displayName": "Document Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Added Date",
              "displayName": "Added Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "f9ac2fa4-695c-4a1a-b470-93db3c882bed",
      "name": "Log to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        5232,
        1104
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "YOUR_SLACK_CHANNEL_ID",
          "mode": "list",
          "cachedResultName": ""
        },
        "text": "=📑 *Closing Document Validated*\n\n*File:* {{ $('Cross-Validate').item.json.fileNumber }}\n*Document:* {{ $('Cross-Validate').item.json.documentType }}\n*Status:* {{ $('Cross-Validate').item.json.validationStatus }}\n\n🏠 *Property:*\n{{ $('Cross-Validate').item.json.propertyAddress }}\n\n👥 *Parties:*\n• Buyer: {{ $('Cross-Validate').item.json.buyerNames }}\n• Seller: {{ $('Cross-Validate').item.json.sellerNames }}\n• Lender: {{ $('Cross-Validate').item.json.lender }}\n\n💰 *Financial Summary:*\n• Purchase Price: ${{ $('Cross-Validate').item.json.purchasePrice }}\n• Loan Amount: ${{ $('Cross-Validate').item.json.loanAmount }}\n• Down Payment: ${{ $('Cross-Validate').item.json.downPayment }}\n• Interest Rate: {{ $('Cross-Validate').item.json.interestRate }}%\n\n💵 *Closing Figures:*\n• Buyer Costs: ${{ $('Cross-Validate').item.json.totalBuyerCosts }}\n• Seller Costs: ${{ $('Cross-Validate').item.json.totalSellerCosts }}\n• Cash to Close: ${{ $('Cross-Validate').item.json.cashToClose }}\n• Proceeds to Seller: ${{ $('Cross-Validate').item.json.proceedsToSeller }}\n\n✍️ *Signatures:* {{ $('Cross-Validate').item.json.signatures }}\n\n📋 *Validation ({{ $('Cross-Validate').item.json.relatedDocCount }} related docs):*\n{{ $('Cross-Validate').item.json.discrepancies }}\n\n🔗 <https://drive.google.com/file/d/{{ $('Cross-Validate').item.json.fileId }}/view|View Document>",
        "otherOptions": {}
      },
      "id": "b10ad57c-6465-445a-8870-da8417d4e749",
      "name": "Send to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        5440,
        1104
      ],
      "credentials": {
        "slackOAuth2Api": {
          "id": "YOUR_SLACK_CREDENTIAL_ID",
          "name": "Slack OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "New Closing Doc": {
      "main": [
        [
          {
            "node": "Download Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Document": {
      "main": [
        [
          {
            "node": "Extract Closing Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Closing Data": {
      "main": [
        [
          {
            "node": "Get Previous Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Previous Docs": {
      "main": [
        [
          {
            "node": "Cross-Validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cross-Validate": {
      "main": [
        [
          {
            "node": "Log to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Sheets": {
      "main": [
        [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
