n8n-workflows/commercial-lease-abstraction.json
{
  "name": "W37 - Commercial Lease Abstraction",
  "nodes": [
    {
      "parameters": {
        "content": "## \ud83c\udfe2 Commercial Lease Abstraction\n\n### What this workflow does\n1. Watches Google Drive folder for lease documents\n2. Extracts rent, escalation, CAM, renewal options, termination terms\n3. Captures parking, TI allowance, permitted use, and special provisions\n4. Logs all terms to Google Sheets\n5. Sends Slack alert with full lease summary\n\n### Setup steps\n1. Get PDF Vector API key from pdfvector.com/api-keys\n2. Create a Google Drive folder for lease documents\n3. Create a Google Sheet with these columns:\n   Property | Tenant | Landlord | Lease Start | Lease End | Term (Yrs) | Base Rent | Escalation | CAM | Renewal Options | Termination Notice | Processed Date\n4. Update YOUR_FOLDER_ID in the Google Drive Trigger node\n5. Update YOUR_SPREADSHEET_ID in the Log to Sheets node\n6. Update YOUR_SLACK_CHANNEL_ID in the Send to Slack node\n7. Connect your Google Drive, Google Sheets, PDF Vector, and Slack credentials\n\n### Perfect for\n- Real estate attorneys\n- Property managers\n- REITs and portfolio managers",
        "height": 540,
        "width": 400,
        "color": 5
      },
      "id": "43be3fee-87b4-4a87-867c-499cf81da030",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3168,
        480
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "YOUR_FOLDER_ID",
          "mode": "list",
          "cachedResultName": "Your Folder"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "f6f869d5-abf1-40c8-92b1-999f9a4ead46",
      "name": "New Lease Document",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        3600,
        704
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "02d5cc27-f843-4bbb-8aed-8f19dbeb0132",
      "name": "Download Lease",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3792,
        704
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "extract",
        "inputType": "file",
        "prompt": "Extract commercial lease data. Return every field below. For text fields write the exact value from the document. For number fields write digits only, no $ or commas. If not found write N/A for text or 0 for numbers.",
        "schema": "{\"type\": \"object\", \"additionalProperties\": false, \"properties\": {\"propertyAddress\": {\"type\": \"string\", \"description\": \"Full street address of leased property\"}, \"landlordName\": {\"type\": \"string\", \"description\": \"Landlord or lessor company name\"}, \"tenantName\": {\"type\": \"string\", \"description\": \"Tenant or lessee company name\"}, \"leaseStartDate\": {\"type\": \"string\", \"description\": \"Lease commencement date\"}, \"leaseEndDate\": {\"type\": \"string\", \"description\": \"Lease expiration date\"}, \"leaseTerm\": {\"type\": \"string\", \"description\": \"Total lease duration e.g. 5 years\"}, \"leaseType\": {\"type\": \"string\", \"description\": \"Lease type e.g. NNN, Gross, Modified Gross\"}, \"baseRentMonthly\": {\"type\": \"number\", \"description\": \"Monthly base rent in dollars\"}, \"baseRentAnnual\": {\"type\": \"number\", \"description\": \"Annual base rent in dollars\"}, \"rentEscalationPct\": {\"type\": \"number\", \"description\": \"Annual rent escalation percentage\"}, \"securityDeposit\": {\"type\": \"number\", \"description\": \"Security deposit amount in dollars\"}, \"camChargesMonthly\": {\"type\": \"number\", \"description\": \"Monthly CAM or operating expense charges\"}, \"operatingExpensesCap\": {\"type\": \"number\", \"description\": \"CAM expense cap percentage per year\"}, \"tenantImprovementAllowance\": {\"type\": \"number\", \"description\": \"Tenant improvement allowance in dollars\"}, \"usableSquareFeet\": {\"type\": \"number\", \"description\": \"Usable or rentable square footage\"}, \"parkingSpaces\": {\"type\": \"number\", \"description\": \"Number of parking spaces included\"}, \"parkingCostMonthly\": {\"type\": \"number\", \"description\": \"Monthly cost per parking space\"}, \"renewalOptionsList\": {\"type\": \"string\", \"description\": \"Renewal options e.g. 2 options of 3 years each\"}, \"terminationOptionsList\": {\"type\": \"string\", \"description\": \"Early termination option details\"}, \"permittedUse\": {\"type\": \"string\", \"description\": \"Permitted use of the premises\"}, \"sublettingAllowed\": {\"type\": \"boolean\", \"description\": \"Whether subletting is allowed\"}, \"keyRisksList\": {\"type\": \"string\", \"description\": \"Key risks or unusual clauses semicolon separated\"}}}"
      },
      "id": "8834bc75-2ecc-4b03-a5a0-6fab4da39bb7",
      "name": "Extract Lease Terms",
      "type": "n8n-nodes-pdfvector.pdfVector",
      "typeVersion": 2,
      "position": [
        4000,
        704
      ],
      "credentials": {
        "pdfVectorApi": {
          "id": "YOUR_PDFVECTOR_CREDENTIAL_ID",
          "name": "PDF Vector account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst data = raw?.data || raw || {};\nconst fileName = $('New Lease Document').item.json.name;\nconst fileId   = $('New Lease Document').item.json.id;\n\nconst cleanNum = v => parseFloat(String(v||0).replace(/[^0-9.]/g,'')) || 0;\n\n// Fallback: parse from summary if structured fields are missing\nconst summary = data.summary || data.markdown || '';\nfunction fromSummary(pattern, fallback) {\n  const m = summary.match(pattern);\n  return (m && m[1] && m[1].trim()) ? m[1].trim() : fallback;\n}\nfunction numFromSummary(pattern, fallback) {\n  const m = summary.match(pattern);\n  if (m) { const n = cleanNum(m[1]); if (n > 0) return n; }\n  return fallback;\n}\n\nconst propertyAddress = data.propertyAddress || fromSummary(/Property address:\\s*([^.]+)/i, 'N/A');\nconst landlordName    = data.landlordName    || fromSummary(/Landlord:\\s*([^,\\.]+)/i, 'N/A');\nconst tenantName      = data.tenantName      || fromSummary(/Tenant:\\s*([^,\\.]+)/i, 'N/A');\nconst leaseStartDate  = data.leaseStartDate  || fromSummary(/(?:Lease commencement|Commencement):\\s*([^.]+)/i, 'N/A');\nconst leaseEndDate    = data.leaseEndDate    || fromSummary(/(?:Lease expiration|Expiration date):\\s*([^.]+)/i, 'N/A');\nconst leaseTerm       = data.leaseTerm       || fromSummary(/Lease term:\\s*([^.]+)/i, 'N/A');\nconst leaseType       = data.leaseType       || fromSummary(/Lease type:\\s*([^.]+)/i,\n  summary.match(/Triple Net|NNN/i) ? 'Triple Net (NNN)' : 'N/A');\nconst permittedUse    = data.permittedUse    || fromSummary(/Permitted use:\\s*([^.]+)/i, 'N/A');\nconst renewalOptions  = data.renewalOptionsList || fromSummary(/Renewal options:\\s*([^.]+)/i, 'None');\nconst keyRisks        = data.keyRisksList    || 'None';\n\nconst baseRent    = cleanNum(data.baseRentMonthly)          || numFromSummary(/\\$([\\d,]+)\\/month/i, 0);\nconst annualRent  = cleanNum(data.baseRentAnnual)           || numFromSummary(/\\$([\\d,]+)\\/year/i, baseRent * 12);\nconst escalation  = cleanNum(data.rentEscalationPct)        || numFromSummary(/escalation:\\s*([\\d.]+)%/i, 0);\nconst securityDep = cleanNum(data.securityDeposit)          || numFromSummary(/Security deposit:\\s*\\$([\\d,]+)/i, 0);\nconst camCharges  = cleanNum(data.camChargesMonthly)        || numFromSummary(/CAM charges:\\s*\\$([\\d,]+)\\/month/i, 0);\nconst camCap      = cleanNum(data.operatingExpensesCap)     || numFromSummary(/cap:\\s*([\\d.]+)%/i, 0);\nconst tiAllowance = cleanNum(data.tenantImprovementAllowance) || numFromSummary(/allowance:\\s*\\$([\\d,]+)/i, 0);\nconst sqFt        = cleanNum(data.usableSquareFeet)         || numFromSummary(/(\\d[\\d,]+) (?:usable|rentable)/i, 0);\nconst parkingSpaces = parseInt(data.parkingSpaces)          || numFromSummary(/Parking:\\s*(\\d+) spaces/i, 0);\nconst parkingCost = cleanNum(data.parkingCostMonthly)       || numFromSummary(/Parking:.*?\\$([\\d,]+)\\/month/i, 0);\n\nconst risks    = keyRisks.split(';').filter(Boolean);\nconst renewals = renewalOptions.split(';').filter(Boolean);\nconst terminationAllowed = (data.terminationOptionsList && data.terminationOptionsList !== 'N/A')\n  ? 'Yes' : (summary.match(/early termination:\\s*yes/i) ? 'Yes' : 'No');\n\nreturn [{ json: {\n  propertyAddress, landlordName, tenantName,\n  leaseStartDate, leaseEndDate, leaseTerm, leaseType,\n  baseRentMonthly:  baseRent,\n  baseRentAnnual:   annualRent,\n  rentEscalationPct: escalation,\n  securityDeposit:  securityDep,\n  camChargesMonthly: camCharges,\n  operatingExpensesCap: camCap,\n  tenantImprovementAllowance: tiAllowance,\n  usableSquareFeet: sqFt,\n  parkingSpaces, parkingCost,\n  renewalOptionsList: renewalOptions,\n  renewalCount: renewals.length,\n  permittedUse, keyRisksList: keyRisks, riskCount: risks.length,\n  sublettingAllowed: data.sublettingAllowed || !!summary.match(/subletting/i),\n  fileName, fileId,\n  processedAt: new Date().toISOString(),\n  propertyName:      propertyAddress,\n  commencementDate:  leaseStartDate,\n  expirationDate:    leaseEndDate,\n  termYears:         leaseTerm,\n  baseRentAmount:    baseRent,\n  rentPerSqFt:       sqFt > 0 ? Math.round(annualRent / sqFt) : 0,\n  rentFrequency:     'Monthly',\n  escalationSummary: escalation + '% annual',\n  camAmount:         camCharges,\n  camCap:            camCap + '%',\n  tiAllowance,\n  renewalOptions,\n  terminationAllowed,\n  terminationFee:    'Per lease terms',\n  terminationNotice: 'Per lease terms',\n  specialProvisions: permittedUse,\n}}];"
      },
      "id": "33df6546-5f06-4282-99d9-fe0f7214f8e4",
      "name": "Format Lease Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4192,
        704
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "list",
          "cachedResultName": "Your Spreadsheet"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Property": "={{ $json.propertyAddress }}",
            "Tenant": "={{ $json.tenantName }}",
            "Landlord": "={{ $json.landlordName }}",
            "Lease Start": "={{ $json.leaseStartDate }}",
            "Lease End": "={{ $json.leaseEndDate }}",
            "Term (Yrs)": "={{ $json.termYears }}",
            "Base Rent": "={{ $json.baseRentAmount }}",
            "Escalation": "={{ $json.escalationSummary }}",
            "CAM": "={{ $json.camAmount }}",
            "Renewal Options": "={{ $json.renewalCount }}",
            "Termination Notice": "={{ $json.terminationNotice }}",
            "Processed Date": "={{ $json.processedAt.split('T')[0] }}",
            "Monthly Rent": "={{ $json.baseRentMonthly }}",
            "Annual Rent": "={{ $json.baseRentAnnual }}",
            "Lease Type": "={{ $json.leaseType }}",
            "Sq Ft": "={{ $json.usableSquareFeet }}",
            "Security Deposit": "={{ $json.securityDeposit }}",
            "Key Risks": "={{ $json.riskCount }}",
            "Document Link": "=https://drive.google.com/file/d/{{ $json.fileId }}/view",
            "Added Date": "={{ $json.processedAt.split('T')[0] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Property",
              "displayName": "Property",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tenant",
              "displayName": "Tenant",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Landlord",
              "displayName": "Landlord",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lease Start",
              "displayName": "Lease Start",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lease End",
              "displayName": "Lease End",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Term (Yrs)",
              "displayName": "Term (Yrs)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Base Rent",
              "displayName": "Base Rent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Escalation",
              "displayName": "Escalation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CAM",
              "displayName": "CAM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Renewal Options",
              "displayName": "Renewal Options",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Termination Notice",
              "displayName": "Termination Notice",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Processed Date",
              "displayName": "Processed Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "e6467f31-cd2d-4c56-851b-20d5438c7cbf",
      "name": "Log to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        4400,
        704
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "YOUR_SLACK_CHANNEL_ID",
          "mode": "list",
          "cachedResultName": "your-channel"
        },
        "text": "=\ud83c\udfe2 *Commercial Lease Abstracted*\n\n*Property:* {{ $('Format Lease Data').item.json.propertyAddress }}\n*Landlord:* {{ $('Format Lease Data').item.json.landlordName }}\n*Tenant:* {{ $('Format Lease Data').item.json.tenantName }}\n\n\ud83d\udcc5 *Term:*\n\u2022 Start: {{ $('Format Lease Data').item.json.leaseStartDate }}\n\u2022 End: {{ $('Format Lease Data').item.json.leaseEndDate }}\n\u2022 Duration: {{ $('Format Lease Data').item.json.leaseTerm }}\n\u2022 Type: {{ $('Format Lease Data').item.json.leaseType }}\n\n\ud83d\udcb0 *Rent:*\n\u2022 Base: ${{ $('Format Lease Data').item.json.baseRentMonthly }}/month\n\u2022 Annual: ${{ $('Format Lease Data').item.json.baseRentAnnual }}\n\u2022 Per Sq Ft: ${{ $('Format Lease Data').item.json.rentPerSqFt }}/yr\n\u2022 Escalation: {{ $('Format Lease Data').item.json.rentEscalationPct }}% annual\n\u2022 Security Deposit: ${{ $('Format Lease Data').item.json.securityDeposit }}\n\n\ud83c\udfd7\ufe0f *Operating Costs:*\n\u2022 CAM: ${{ $('Format Lease Data').item.json.camAmount }}/month (Cap: {{ $('Format Lease Data').item.json.camCap }})\n\n\ud83d\udd04 *Options:*\n\u2022 Renewal: {{ $('Format Lease Data').item.json.renewalOptions }}\n\n\ud83d\udeaa *Termination:*\n\u2022 Allowed: {{ $('Format Lease Data').item.json.terminationAllowed }}\n\u2022 Notice: {{ $('Format Lease Data').item.json.terminationNotice }}\n\u2022 Fee: {{ $('Format Lease Data').item.json.terminationFee }}\n\n\ud83d\udccb *Use:*\n\u2022 Permitted Use: {{ $('Format Lease Data').item.json.permittedUse }}\n\u2022 Parking: {{ $('Format Lease Data').item.json.parkingSpaces }} spaces (${{ $('Format Lease Data').item.json.parkingCost }}/mo)\n\u2022 TI Allowance: ${{ $('Format Lease Data').item.json.tiAllowance }}\n\n\u26a0\ufe0f *Key Risks ({{ $('Format Lease Data').item.json.riskCount }}):*\n{{ $('Format Lease Data').item.json.keyRisksList }}\n\n\ud83d\udd17 <https://drive.google.com/file/d/{{ $('Format Lease Data').item.json.fileId }}/view|View Lease>",
        "otherOptions": {}
      },
      "id": "e202d70c-8bf2-4585-993a-d0005ebd7d75",
      "name": "Send to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        4592,
        704
      ],
      "credentials": {
        "slackOAuth2Api": {
          "id": "YOUR_SLACK_CREDENTIAL_ID",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "New Lease Document": {
      "main": [
        [
          {
            "node": "Download Lease",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Lease": {
      "main": [
        [
          {
            "node": "Extract Lease Terms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Lease Terms": {
      "main": [
        [
          {
            "node": "Format Lease Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Lease Data": {
      "main": [
        [
          {
            "node": "Log to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Sheets": {
      "main": [
        [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
