n8n-workflows/extract-trial-data-pdfs.json
{
  "name": "Extract clinical trial data from PDFs and log to Google Sheets",
  "nodes": [
    {
      "parameters": {
        "content": "## 🧪 Clinical Trial Document Analyzer\n\n### What this workflow does\n1. Watches Google Drive folder for new trial PDFs\n2. Downloads and extracts study data (phase, endpoints, sample size)\n3. Pulls adverse event counts and dosing schedules\n4. Logs structured data to Google Sheets\n5. Sends Slack notification with summary\n\n### Setup steps\n1. Get PDF Vector API key from pdfvector.com/api-keys\n2. Create a Google Drive folder for trial documents\n3. Create a Google Sheet with these columns:\n   Study ID | Protocol | Phase | Sponsor | Indication | Design | Primary Endpoint | Secondary Endpoints | Sample Size | Duration | Total AEs | SAEs | Status | Processed Date\n4. Update the folder ID and sheet ID in the nodes\n5. Connect your Slack workspace\n\n### Perfect for\n- Clinical research organizations\n- Pharma regulatory teams\n- Research coordinators",
        "height": 520,
        "width": 380,
        "color": 5
      },
      "id": "sticky-main",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        60,
        60
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "YOUR_FOLDER_ID",
          "mode": "list",
          "cachedResultName": "Clinical Trials"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "gdrive-trigger",
      "name": "New Trial Document",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        480,
        280
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "gdrive-download",
      "name": "Download Document",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        680,
        280
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "operation": "extract",
        "inputType": "file",
        "prompt": "Extract clinical trial document data as flat fields. trialTitle, trialId, phase (e.g. Phase I, Phase II, Phase III), studyType, sponsor, indication, targetPopulation, primaryEndpointDescription, primaryEndpointMetric, secondaryEndpointsList (semicolon-separated secondary endpoints), totalSampleSize (number), treatmentGroupSize (number), controlGroupSize (number), inclusionCriteriaList (semicolon-separated inclusion criteria), exclusionCriteriaList (semicolon-separated exclusion criteria), drugName, dosage, routeOfAdministration, treatmentDuration, adverseEventsList (semicolon-separated adverse events with frequency), primaryResultSummary, statisticalSignificance, pValue, keyFindingsList (semicolon-separated key findings), trialStatus (ongoing/completed/terminated), studyStartDate, studyEndDate, clinicalTrialsGovId, irb, fundingSource.",
        "schema": "{\"type\": \"object\", \"properties\": {\"trialTitle\": {\"type\": \"string\"}, \"trialId\": {\"type\": \"string\"}, \"phase\": {\"type\": \"string\"}, \"studyType\": {\"type\": \"string\"}, \"sponsor\": {\"type\": \"string\"}, \"indication\": {\"type\": \"string\"}, \"targetPopulation\": {\"type\": \"string\"}, \"primaryEndpointDescription\": {\"type\": \"string\"}, \"primaryEndpointMetric\": {\"type\": \"string\"}, \"secondaryEndpointsList\": {\"type\": \"string\"}, \"totalSampleSize\": {\"type\": \"number\"}, \"treatmentGroupSize\": {\"type\": \"number\"}, \"controlGroupSize\": {\"type\": \"number\"}, \"inclusionCriteriaList\": {\"type\": \"string\"}, \"exclusionCriteriaList\": {\"type\": \"string\"}, \"drugName\": {\"type\": \"string\"}, \"dosage\": {\"type\": \"string\"}, \"routeOfAdministration\": {\"type\": \"string\"}, \"treatmentDuration\": {\"type\": \"string\"}, \"adverseEventsList\": {\"type\": \"string\"}, \"primaryResultSummary\": {\"type\": \"string\"}, \"statisticalSignificance\": {\"type\": \"string\"}, \"pValue\": {\"type\": \"string\"}, \"keyFindingsList\": {\"type\": \"string\"}, \"trialStatus\": {\"type\": \"string\"}, \"studyStartDate\": {\"type\": \"string\"}, \"studyEndDate\": {\"type\": \"string\"}, \"clinicalTrialsGovId\": {\"type\": \"string\"}, \"irb\": {\"type\": \"string\"}, \"fundingSource\": {\"type\": \"string\"}}, \"additionalProperties\": false}"
      },
      "id": "pdfvector-extract",
      "name": "Extract Trial Data",
      "type": "n8n-nodes-pdfvector.pdfVector",
      "typeVersion": 2,
      "position": [
        880,
        280
      ],
      "credentials": {
        "pdfVectorApi": {
          "id": "YOUR_PDFVECTOR_CREDENTIAL_ID",
          "name": "PDF Vector"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = ($input.first().json?.data || $input.first().json) || {};\nconst fileName = $('New Trial Document').item.json.name;\nconst fileId   = $('New Trial Document').item.json.id;\n\nconst findings = (data.keyFindingsList || '').split(';').filter(Boolean);\nconst adverse  = (data.adverseEventsList || '').split(';').filter(Boolean);\nconst findingsList = findings.map((f,i) => `${i+1}. ${f.trim()}`).join('\\n') || 'N/A';\nconst adverseList  = adverse.map(a => `• ${a.trim()}`).join('\\n') || 'None reported';\n\nreturn [{ json: {\n  trialTitle:   data.trialTitle   || 'Unknown Trial',\n  trialId:      data.trialId      || 'N/A',\n  phase:        data.phase        || 'N/A',\n  studyType:    data.studyType    || 'N/A',\n  sponsor:      data.sponsor      || 'N/A',\n  indication:   data.indication   || 'N/A',\n  drugName:     data.drugName     || 'N/A',\n  dosage:       data.dosage       || 'N/A',\n  treatmentDuration: data.treatmentDuration || 'N/A',\n  totalSampleSize:   parseInt(data.totalSampleSize) || 0,\n  primaryEndpointDescription: data.primaryEndpointDescription || 'N/A',\n  primaryResultSummary: data.primaryResultSummary || 'N/A',\n  statisticalSignificance: data.statisticalSignificance || 'N/A',\n  pValue:       data.pValue       || 'N/A',\n  findingsList, findingsCount: findings.length,\n  adverseList,  adverseCount:  adverse.length,\n  trialStatus:  data.trialStatus  || 'N/A',\n  studyStartDate: data.studyStartDate || 'N/A',\n  studyEndDate:   data.studyEndDate   || 'N/A',\n  clinicalTrialsGovId: data.clinicalTrialsGovId || 'N/A',\n  fundingSource: data.fundingSource || 'N/A',\n  fileName, fileId,\n  processedAt: new Date().toISOString(),\n  fileId: fileId,\n  studyId: data.clinicalTrialsGovId || data.trialId || \"N/A\",\n  protocolNumber: data.trialId || \"N/A\",\n  studyDesign: data.studyType || \"N/A\",\n  studyDuration: data.treatmentDuration || \"N/A\",\n  primaryEndpoint: data.primaryEndpointDescription || \"N/A\",\n  sampleTarget: parseInt(data.totalSampleSize) || 0,\n  sampleEnrolled: parseInt(data.totalSampleSize) || 0,\n  sampleCompleted: parseInt(data.totalSampleSize) || 0,\n  secondaryCount: (data.secondaryEndpointsList || \"\").split(\";\").filter(Boolean).length,\n  aeTotal: adverse.length,\n  aeSAE: 0,\n  aeCommon: adverse.slice(0,3).map(a => a.trim()).join(\"; \") || \"None\",\n}}];"
      },
      "id": "format-data",
      "name": "Format Trial Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        280
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "list",
          "cachedResultName": "Clinical Trials Log"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Trials"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Study ID": "={{ $json.studyId }}",
            "Protocol": "={{ $json.protocolNumber }}",
            "Phase": "={{ $json.phase }}",
            "Sponsor": "={{ $json.sponsor }}",
            "Indication": "={{ $json.indication }}",
            "Design": "={{ $json.studyDesign }}",
            "Primary Endpoint": "={{ $json.primaryEndpointDescription }}",
            "Secondary Endpoints": "={{ $json.secondaryCount }}",
            "Sample Size": "={{ $json.totalSampleSize }}",
            "Duration": "={{ $json.studyDuration }}",
            "Total AEs": "={{ $json.aeTotal }}",
            "SAEs": "={{ $json.aeSAE }}",
            "Status": "={{ $json.trialStatus }}",
            "Processed Date": "={{ $json.processedAt.split('T')[0] }}",
            "Trial ID": "={{ $json.trialId }}",
            "Drug": "={{ $json.drugName }}",
            "Key Findings": "={{ $json.findingsCount }}",
            "Adverse Events": "={{ $json.adverseCount }}",
            "Document Link": "=https://drive.google.com/file/d/{{ $json.fileId }}/view",
            "Added Date": "={{ $json.processedAt.split('T')[0] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Study ID",
              "displayName": "Study ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Protocol",
              "displayName": "Protocol",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phase",
              "displayName": "Phase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sponsor",
              "displayName": "Sponsor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Indication",
              "displayName": "Indication",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Design",
              "displayName": "Design",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Primary Endpoint",
              "displayName": "Primary Endpoint",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Secondary Endpoints",
              "displayName": "Secondary Endpoints",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sample Size",
              "displayName": "Sample Size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Duration",
              "displayName": "Duration",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total AEs",
              "displayName": "Total AEs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SAEs",
              "displayName": "SAEs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Processed Date",
              "displayName": "Processed Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "sheets-log",
      "name": "Log to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1280,
        280
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "YOUR_SLACK_CHANNEL_ID",
          "mode": "list",
          "cachedResultName": "clinical-trials"
        },
        "text": "=🧪 *Clinical Trial Document Processed*\n\n*Study:* {{ $('Format Trial Data').item.json.studyId }}\n*Protocol:* {{ $('Format Trial Data').item.json.protocolNumber }}\n*Phase:* {{ $('Format Trial Data').item.json.phase }}\n*Sponsor:* {{ $('Format Trial Data').item.json.sponsor }}\n\n📋 *Study Overview:*\n• Indication: {{ $('Format Trial Data').item.json.indication }}\n• Design: {{ $('Format Trial Data').item.json.studyDesign }}\n• Duration: {{ $('Format Trial Data').item.json.studyDuration }}\n\n👥 *Sample Size:*\n• Target: {{ $('Format Trial Data').item.json.sampleTarget }}\n• Enrolled: {{ $('Format Trial Data').item.json.sampleEnrolled }}\n• Completed: {{ $('Format Trial Data').item.json.sampleCompleted }}\n\n🎯 *Primary Endpoint:*\n{{ $('Format Trial Data').item.json.primaryEndpoint }}\n\n📊 *Secondary Endpoints:* {{ $('Format Trial Data').item.json.secondaryCount }}\n\n⚠️ *Safety:*\n• Total AEs: {{ $('Format Trial Data').item.json.aeTotal }}\n• Serious AEs: {{ $('Format Trial Data').item.json.aeSAE }}\n• Common: {{ $('Format Trial Data').item.json.aeCommon }}\n\n🔗 <https://drive.google.com/file/d/{{ $('Format Trial Data').item.json.fileId }}/view|View Document>",
        "otherOptions": {}
      },
      "id": "slack-notify",
      "name": "Send to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1480,
        280
      ],
      "credentials": {
        "slackOAuth2Api": {
          "id": "YOUR_SLACK_CREDENTIAL_ID",
          "name": "Slack"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "New Trial Document": {
      "main": [
        [
          {
            "node": "Download Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Document": {
      "main": [
        [
          {
            "node": "Extract Trial Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Trial Data": {
      "main": [
        [
          {
            "node": "Format Trial Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Trial Data": {
      "main": [
        [
          {
            "node": "Log to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Sheets": {
      "main": [
        [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
