n8n-workflows/financial-statement-analyzer.json
{
  "name": "Extract financial statements and analyze trends with AI",
  "nodes": [
    {
      "parameters": {
        "content": "## 📊 Financial Statement Analyzer\n\n### What this workflow does\n1. Watches Google Drive folder for financial statements\n2. Extracts revenue, EBITDA, margins, debt ratios\n3. AI analyzes trends and year-over-year growth\n4. Flags unusual variances and concerns\n5. Logs analysis to Google Sheets\n6. Sends Slack alert with financial summary\n\n### Setup steps\n1. Get PDF Vector API key from pdfvector.com/api-keys\n2. Create a Google Drive folder for financial statements\n3. Create a Google Sheet with these columns:\n   Company | Period | Revenue | EBITDA | Net Income | Debt/Equity | Current Ratio | YoY Growth | Risk Flags | Processed Date\n4. Update the folder ID and sheet ID in the nodes\n5. Connect your Slack workspace\n\n### Perfect for\n- Financial analysts\n- Credit officers\n- Investment analysts",
        "height": 520,
        "width": 400,
        "color": 5
      },
      "id": "sticky-main",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        60,
        60
      ]
    },
    {
      "parameters": {
        "content": "## 🔀 Parallel Processing\n\nExtract and Analysis run at the\nsame time from the same PDF",
        "height": 100,
        "width": 260
      },
      "id": "sticky-parallel",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        840,
        100
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "YOUR_FOLDER_ID",
          "mode": "list",
          "cachedResultName": "Financial Statements"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "gdrive-trigger",
      "name": "New Statement",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        480,
        300
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "gdrive-download",
      "name": "Download Document",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        680,
        300
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "operation": "extract",
        "inputType": "file",
        "prompt": "Extract financial statement data as flat fields. companyName, statementType (income/balance/cash flow/combined), reportingPeriod, fiscalYearEnd, currency, revenue (number), costOfGoodsSold (number), grossProfit (number), operatingExpenses (number), operatingIncome (number), ebitda (number), interestExpense (number), taxExpense (number), netIncome (number), eps (number), totalAssets (number), totalLiabilities (number), totalEquity (number), cashAndEquivalents (number), accountsReceivable (number), inventory (number), totalDebt (number), longTermDebt (number), operatingCashFlow (number), investingCashFlow (number), financingCashFlow (number), freeCashFlow (number), priorRevenue (number), priorNetIncome (number), auditStatus (audited/unaudited/reviewed), auditorName, goingConcernNote (true/false), restatementNote (true/false), keyNotesList (semicolon-separated key accounting notes).",
        "schema": "{\"type\": \"object\", \"additionalProperties\": false, \"properties\": {\"companyName\": {\"type\": \"string\"}, \"statementType\": {\"type\": \"string\"}, \"reportingPeriod\": {\"type\": \"string\"}, \"fiscalYearEnd\": {\"type\": \"string\"}, \"currency\": {\"type\": \"string\"}, \"revenue\": {\"type\": \"number\"}, \"costOfGoodsSold\": {\"type\": \"number\"}, \"grossProfit\": {\"type\": \"number\"}, \"operatingExpenses\": {\"type\": \"number\"}, \"operatingIncome\": {\"type\": \"number\"}, \"ebitda\": {\"type\": \"number\"}, \"interestExpense\": {\"type\": \"number\"}, \"taxExpense\": {\"type\": \"number\"}, \"netIncome\": {\"type\": \"number\"}, \"eps\": {\"type\": \"number\"}, \"totalAssets\": {\"type\": \"number\"}, \"totalLiabilities\": {\"type\": \"number\"}, \"totalEquity\": {\"type\": \"number\"}, \"cashAndEquivalents\": {\"type\": \"number\"}, \"accountsReceivable\": {\"type\": \"number\"}, \"inventory\": {\"type\": \"number\"}, \"totalDebt\": {\"type\": \"number\"}, \"longTermDebt\": {\"type\": \"number\"}, \"operatingCashFlow\": {\"type\": \"number\"}, \"investingCashFlow\": {\"type\": \"number\"}, \"financingCashFlow\": {\"type\": \"number\"}, \"freeCashFlow\": {\"type\": \"number\"}, \"priorRevenue\": {\"type\": \"number\"}, \"priorNetIncome\": {\"type\": \"number\"}, \"auditStatus\": {\"type\": \"string\"}, \"auditorName\": {\"type\": \"string\"}, \"goingConcernNote\": {\"type\": \"boolean\"}, \"restatementNote\": {\"type\": \"boolean\"}, \"keyNotesList\": {\"type\": \"string\"}}}"
      },
      "id": "pdfvector-extract",
      "name": "Extract Financials",
      "type": "n8n-nodes-pdfvector.pdfVector",
      "typeVersion": 2,
      "position": [
        900,
        220
      ],
      "credentials": {
        "pdfVectorApi": {
          "id": "YOUR_PDFVECTOR_CREDENTIAL_ID",
          "name": "PDF Vector"
        }
      }
    },
    {
      "parameters": {
        "operation": "ask",
        "inputType": "file",
        "question": "Perform a comprehensive financial analysis of this statement. Evaluate:\n\n**PROFITABILITY ANALYSIS:**\n- Gross margin trend and industry comparison\n- Operating margin and efficiency\n- Net profit margin\n- Return on assets (ROA)\n- Return on equity (ROE)\n\n**LIQUIDITY ANALYSIS:**\n- Current ratio (current assets / current liabilities)\n- Quick ratio ((current assets - inventory) / current liabilities)\n- Cash ratio\n- Working capital adequacy\n\n**LEVERAGE & SOLVENCY:**\n- Debt-to-equity ratio\n- Debt-to-assets ratio\n- Interest coverage ratio\n- Long-term debt capacity\n\n**EFFICIENCY METRICS:**\n- Asset turnover\n- Inventory turnover (if applicable)\n- Receivables turnover\n- Days sales outstanding\n\n**CASH FLOW QUALITY:**\n- Operating cash flow vs net income\n- Free cash flow generation\n- Capital expenditure intensity\n- Dividend sustainability\n\n**YEAR-OVER-YEAR ANALYSIS:**\n- Revenue growth rate\n- Net income growth rate\n- Asset growth\n- Debt changes\n\n**RED FLAGS TO CHECK:**\n- Declining margins\n- Negative working capital\n- Increasing debt levels\n- Poor cash conversion\n- Unusual accounting items\n- Going concern indicators\n\nProvide:\n1. Overall financial health score (1-100)\n2. Key strengths (top 3)\n3. Key concerns (top 3)\n4. Investment/credit recommendation\n5. Areas requiring further due diligence"
      },
      "id": "pdfvector-analyze",
      "name": "Financial Analysis",
      "type": "n8n-nodes-pdfvector.pdfVector",
      "typeVersion": 2,
      "position": [
        900,
        380
      ],
      "credentials": {
        "pdfVectorApi": {
          "id": "YOUR_PDFVECTOR_CREDENTIAL_ID",
          "name": "PDF Vector"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1120,
        300
      ],
      "id": "merge-results",
      "name": "Merge Results"
    },
    {
      "parameters": {
        "jsCode": "const allInputs = $input.all();\nconst fin = (allInputs[0]?.json?.data || allInputs[0]?.json) || {};\nconst analysis = allInputs[1]?.json?.answer || allInputs[1]?.json?.markdown || '';\nconst fileName = $('New Statement').item.json.name;\nconst fileId   = $('New Statement').item.json.id;\n\nconst c = v => parseFloat(String(v||0).replace(/[^0-9.]/g,'')) || 0;\nconst rev = c(fin.revenue); const ni = c(fin.netIncome);\nconst assets = c(fin.totalAssets); const liab = c(fin.totalLiabilities);\nconst equity = c(fin.totalEquity);\nconst grossMargin  = rev > 0 ? ((c(fin.grossProfit)/rev)*100).toFixed(1)+'%' : 'N/A';\nconst netMargin    = rev > 0 ? ((ni/rev)*100).toFixed(1)+'%' : 'N/A';\nconst debtToEquity = equity > 0 ? (c(fin.totalDebt)/equity).toFixed(2) : 'N/A';\nconst currentRatio = liab > 0 ? (assets/liab).toFixed(2) : 'N/A';\nconst revGrowth = c(fin.priorRevenue) > 0 ?\n  (((rev - c(fin.priorRevenue))/c(fin.priorRevenue))*100).toFixed(1)+'%' : 'N/A';\n\nreturn [{ json: {\n  companyName:      fin.companyName      || 'Unknown',\n  statementType:    fin.statementType    || 'N/A',\n  reportingPeriod:  fin.reportingPeriod  || 'N/A',\n  currency:         fin.currency         || 'USD',\n  revenue: rev, netIncome: ni,\n  grossProfit:      c(fin.grossProfit),\n  operatingIncome:  c(fin.operatingIncome),\n  ebitda:           c(fin.ebitda),\n  eps:              c(fin.eps),\n  totalAssets: assets, totalLiabilities: liab, totalEquity: equity,\n  cashAndEquivalents: c(fin.cashAndEquivalents),\n  totalDebt:        c(fin.totalDebt),\n  freeCashFlow:     c(fin.freeCashFlow),\n  grossMargin, netMargin, debtToEquity, currentRatio, revGrowth,\n  auditStatus:      fin.auditStatus      || 'Unknown',\n  auditorName:      fin.auditorName      || 'N/A',\n  goingConcernNote: fin.goingConcernNote || false,\n  restatementNote:  fin.restatementNote  || false,\n  keyNotesList:     fin.keyNotesList     || 'None',\n  analysis,\n  fileName, fileId,\n  processedAt: new Date().toISOString(),\n  fileId: fileId,\n  reportType: fin.statementType || \"N/A\",\n  fiscalPeriodEnd: fin.fiscalYearEnd || \"N/A\",\n  revenueFormatted: \"$\" + rev.toLocaleString(),\n  netIncomeFormatted: \"$\" + ni.toLocaleString(),\n  ebitdaFormatted: \"$\" + c(fin.ebitda).toLocaleString(),\n  cashFormatted: \"$\" + c(fin.cashAndEquivalents).toLocaleString(),\n  totalAssetsFormatted: \"$\" + assets.toLocaleString(),\n  totalDebtFormatted: \"$\" + c(fin.totalDebt).toLocaleString(),\n  netMargin: netMargin,\n  currentRatio: currentRatio,\n  debtToEquity: debtToEquity,\n  debtToAssets: assets > 0 ? (liab/assets).toFixed(2) : \"N/A\",\n  yoyGrowth: revGrowth,\n  healthScore: fin.goingConcernNote ? \"Concerning\" : \"Stable\",\n  riskFlags: fin.goingConcernNote ? \"Going concern noted\" : fin.restatementNote ? \"Restatement noted\" : \"None\",\n}}];"
      },
      "id": "format-data",
      "name": "Calculate Ratios",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        300
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "list",
          "cachedResultName": "Financial Analysis Log"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Statements"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company": "={{ $json.companyName }}",
            "Period": "={{ $json.reportingPeriod }}",
            "Revenue": "={{ $json.revenue }}",
            "EBITDA": "={{ $json.ebitdaFormatted }}",
            "Net Income": "={{ $json.netIncome }}",
            "Debt/Equity": "={{ $json.debtToEquity }}",
            "Current Ratio": "={{ $json.currentRatio }}",
            "YoY Growth": "={{ $json.yoyGrowth }}",
            "Health Score": "={{ $json.healthScore }}",
            "Risk Flags": "={{ $json.riskFlags }}",
            "Processed Date": "={{ $json.processedAt.split('T')[0] }}",
            "Gross Margin": "={{ $json.grossMargin }}",
            "Net Margin": "={{ $json.netMargin }}",
            "D/E Ratio": "={{ $json.debtToEquity }}",
            "Audit Status": "={{ $json.auditStatus }}",
            "Document Link": "=https://drive.google.com/file/d/{{ $json.fileId }}/view",
            "Analyzed Date": "={{ $json.processedAt.split('T')[0] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Period",
              "displayName": "Period",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Revenue",
              "displayName": "Revenue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EBITDA",
              "displayName": "EBITDA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Net Income",
              "displayName": "Net Income",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Debt/Equity",
              "displayName": "Debt/Equity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Current Ratio",
              "displayName": "Current Ratio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "YoY Growth",
              "displayName": "YoY Growth",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Health Score",
              "displayName": "Health Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Risk Flags",
              "displayName": "Risk Flags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Processed Date",
              "displayName": "Processed Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "sheets-log",
      "name": "Log to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1520,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "YOUR_SLACK_CHANNEL_ID",
          "mode": "list",
          "cachedResultName": "financial-analysis"
        },
        "text": "=📊 *Financial Statement Analysis Complete*\n\n*Company:* {{ $('Calculate Ratios').item.json.companyName }}\n*Period:* {{ $('Calculate Ratios').item.json.fiscalPeriodEnd }}\n*Report:* {{ $('Calculate Ratios').item.json.reportType }}\n\n💰 *Income Statement:*\n• Revenue: {{ $('Calculate Ratios').item.json.currency }} {{ $('Calculate Ratios').item.json.revenueFormatted }}\n• Gross Margin: {{ $('Calculate Ratios').item.json.grossMargin }}\n• EBITDA: {{ $('Calculate Ratios').item.json.currency }} {{ $('Calculate Ratios').item.json.ebitdaFormatted }}\n• Net Income: {{ $('Calculate Ratios').item.json.currency }} {{ $('Calculate Ratios').item.json.netIncomeFormatted }}\n• Net Margin: {{ $('Calculate Ratios').item.json.netMargin }}\n\n📈 *Balance Sheet:*\n• Total Assets: {{ $('Calculate Ratios').item.json.currency }} {{ $('Calculate Ratios').item.json.totalAssetsFormatted }}\n• Total Debt: {{ $('Calculate Ratios').item.json.currency }} {{ $('Calculate Ratios').item.json.totalDebtFormatted }}\n• Cash: {{ $('Calculate Ratios').item.json.currency }} {{ $('Calculate Ratios').item.json.cashFormatted }}\n\n📉 *Key Ratios:*\n• Current Ratio: {{ $('Calculate Ratios').item.json.currentRatio }}\n• Debt/Equity: {{ $('Calculate Ratios').item.json.debtToEquity }}\n• Debt/Assets: {{ $('Calculate Ratios').item.json.debtToAssets }}\n• YoY Growth: {{ $('Calculate Ratios').item.json.yoyGrowth }}\n\n🏥 *Health Assessment:*\n• Score: {{ $('Calculate Ratios').item.json.healthScore }}/100\n• Risk Flags: {{ $('Calculate Ratios').item.json.riskFlags }}\n\n📝 *AI Analysis:*\n{{ $('Calculate Ratios').item.json.analysis }}\n\n🔗 <https://drive.google.com/file/d/{{ $('Calculate Ratios').item.json.fileId }}/view|View Statement>",
        "otherOptions": {}
      },
      "id": "slack-notify",
      "name": "Send to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1720,
        300
      ],
      "credentials": {
        "slackOAuth2Api": {
          "id": "YOUR_SLACK_CREDENTIAL_ID",
          "name": "Slack"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "New Statement": {
      "main": [
        [
          {
            "node": "Download Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Document": {
      "main": [
        [
          {
            "node": "Extract Financials",
            "type": "main",
            "index": 0
          },
          {
            "node": "Financial Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Financials": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Financial Analysis": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Calculate Ratios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Ratios": {
      "main": [
        [
          {
            "node": "Log to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Sheets": {
      "main": [
        [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
