n8n-workflows/financial-statement-analyzer.json
{
  "name": "Extract financial statements and analyze trends with AI",
  "nodes": [
    {
      "parameters": {
        "content": "## 📊 Financial Statement Analyzer\n\n### What this workflow does\n1. Watches Google Drive folder for financial statements\n2. Extracts revenue, EBITDA, margins, debt ratios\n3. AI analyzes trends and year-over-year growth\n4. Flags unusual variances and concerns\n5. Logs analysis to Google Sheets\n6. Sends Slack alert with financial summary\n\n### Setup steps\n1. Get PDF Vector API key from pdfvector.com/api-keys\n2. Create a Google Drive folder for financial statements\n3. Create a Google Sheet with these columns:\n   Company | Period | Revenue | EBITDA | Net Income | Debt/Equity | Current Ratio | YoY Growth | Risk Flags | Processed Date\n4. Update the folder ID and sheet ID in the nodes\n5. Connect your Slack workspace\n\n### Perfect for\n- Financial analysts\n- Credit officers\n- Investment analysts",
        "height": 520,
        "width": 400,
        "color": 5
      },
      "id": "sticky-main",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        60,
        60
      ]
    },
    {
      "parameters": {
        "content": "## 🔀 Parallel Processing\n\nExtract and Analysis run at the\nsame time from the same PDF",
        "height": 100,
        "width": 260
      },
      "id": "sticky-parallel",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        840,
        100
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "YOUR_FOLDER_ID",
          "mode": "list",
          "cachedResultName": "Financial Statements"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "gdrive-trigger",
      "name": "New Statement",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        480,
        300
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "gdrive-download",
      "name": "Download Document",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        680,
        300
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "resource": "document",
        "operation": "extract",
        "inputType": "file",
        "binaryPropertyName": "data",
        "prompt": "Extract financial statement data including: company name, fiscal period end date, report type (annual/quarterly/10-K/10-Q), currency, revenue or net sales, cost of goods sold, gross profit, gross margin percentage, operating expenses, operating income (EBIT), EBITDA, net income, earnings per share (basic and diluted), total assets, total liabilities, total equity, current assets, current liabilities, working capital, long-term debt, short-term debt, total debt, cash and equivalents, accounts receivable, inventory, accounts payable, retained earnings, operating cash flow, investing cash flow, financing cash flow, free cash flow, capital expenditures, dividends paid, and any prior period comparatives if available.",
        "schema": "{\"type\":\"object\",\"properties\":{\"companyName\":{\"type\":\"string\"},\"fiscalPeriodEnd\":{\"type\":\"string\"},\"reportType\":{\"type\":\"string\"},\"currency\":{\"type\":\"string\"},\"incomeStatement\":{\"type\":\"object\",\"properties\":{\"revenue\":{\"type\":\"number\"},\"costOfGoodsSold\":{\"type\":\"number\"},\"grossProfit\":{\"type\":\"number\"},\"grossMargin\":{\"type\":\"number\"},\"operatingExpenses\":{\"type\":\"number\"},\"operatingIncome\":{\"type\":\"number\"},\"ebitda\":{\"type\":\"number\"},\"netIncome\":{\"type\":\"number\"},\"epsBasic\":{\"type\":\"number\"},\"epsDiluted\":{\"type\":\"number\"}}},\"balanceSheet\":{\"type\":\"object\",\"properties\":{\"totalAssets\":{\"type\":\"number\"},\"totalLiabilities\":{\"type\":\"number\"},\"totalEquity\":{\"type\":\"number\"},\"currentAssets\":{\"type\":\"number\"},\"currentLiabilities\":{\"type\":\"number\"},\"workingCapital\":{\"type\":\"number\"},\"longTermDebt\":{\"type\":\"number\"},\"shortTermDebt\":{\"type\":\"number\"},\"totalDebt\":{\"type\":\"number\"},\"cashAndEquivalents\":{\"type\":\"number\"},\"accountsReceivable\":{\"type\":\"number\"},\"inventory\":{\"type\":\"number\"},\"accountsPayable\":{\"type\":\"number\"},\"retainedEarnings\":{\"type\":\"number\"}}},\"cashFlow\":{\"type\":\"object\",\"properties\":{\"operatingCashFlow\":{\"type\":\"number\"},\"investingCashFlow\":{\"type\":\"number\"},\"financingCashFlow\":{\"type\":\"number\"},\"freeCashFlow\":{\"type\":\"number\"},\"capitalExpenditures\":{\"type\":\"number\"},\"dividendsPaid\":{\"type\":\"number\"}}},\"priorPeriod\":{\"type\":\"object\",\"properties\":{\"revenue\":{\"type\":\"number\"},\"netIncome\":{\"type\":\"number\"},\"totalAssets\":{\"type\":\"number\"},\"totalDebt\":{\"type\":\"number\"}}}},\"required\":[\"companyName\",\"fiscalPeriodEnd\"],\"additionalProperties\":false}"
      },
      "id": "pdfvector-extract",
      "name": "Extract Financials",
      "type": "n8n-nodes-pdfvector.pdfVector",
      "typeVersion": 1,
      "position": [
        900,
        220
      ],
      "credentials": {
        "pdfVectorApi": {
          "id": "YOUR_PDFVECTOR_CREDENTIAL_ID",
          "name": "PDF Vector"
        }
      }
    },
    {
      "parameters": {
        "resource": "document",
        "operation": "ask",
        "inputType": "file",
        "binaryPropertyName": "data",
        "prompt": "Perform a comprehensive financial analysis of this statement. Evaluate:\n\n**PROFITABILITY ANALYSIS:**\n- Gross margin trend and industry comparison\n- Operating margin and efficiency\n- Net profit margin\n- Return on assets (ROA)\n- Return on equity (ROE)\n\n**LIQUIDITY ANALYSIS:**\n- Current ratio (current assets / current liabilities)\n- Quick ratio ((current assets - inventory) / current liabilities)\n- Cash ratio\n- Working capital adequacy\n\n**LEVERAGE & SOLVENCY:**\n- Debt-to-equity ratio\n- Debt-to-assets ratio\n- Interest coverage ratio\n- Long-term debt capacity\n\n**EFFICIENCY METRICS:**\n- Asset turnover\n- Inventory turnover (if applicable)\n- Receivables turnover\n- Days sales outstanding\n\n**CASH FLOW QUALITY:**\n- Operating cash flow vs net income\n- Free cash flow generation\n- Capital expenditure intensity\n- Dividend sustainability\n\n**YEAR-OVER-YEAR ANALYSIS:**\n- Revenue growth rate\n- Net income growth rate\n- Asset growth\n- Debt changes\n\n**RED FLAGS TO CHECK:**\n- Declining margins\n- Negative working capital\n- Increasing debt levels\n- Poor cash conversion\n- Unusual accounting items\n- Going concern indicators\n\nProvide:\n1. Overall financial health score (1-100)\n2. Key strengths (top 3)\n3. Key concerns (top 3)\n4. Investment/credit recommendation\n5. Areas requiring further due diligence"
      },
      "id": "pdfvector-analyze",
      "name": "Financial Analysis",
      "type": "n8n-nodes-pdfvector.pdfVector",
      "typeVersion": 1,
      "position": [
        900,
        380
      ],
      "credentials": {
        "pdfVectorApi": {
          "id": "YOUR_PDFVECTOR_CREDENTIAL_ID",
          "name": "PDF Vector"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1120,
        300
      ],
      "id": "merge-results",
      "name": "Merge Results"
    },
    {
      "parameters": {
        "jsCode": "// Get all items from Merge\nconst allItems = $input.all();\n\n// Extract data from first item\nconst extractItem = allItems[0]?.json || {};\nconst financials = extractItem.data || extractItem;\n\n// Analysis from second item\nconst analysisItem = allItems[1]?.json || {};\nconst analysis = analysisItem.markdown || analysisItem.answer || analysisItem.text || 'No analysis generated';\n\n// Get trigger data\nconst triggerData = $('New Statement').item.json;\nconst fileName = triggerData.name || 'unknown';\nconst fileId = triggerData.id || '';\n\n// Income statement\nconst is = financials.incomeStatement || {};\nconst revenue = is.revenue || 0;\nconst grossProfit = is.grossProfit || 0;\nconst grossMargin = is.grossMargin || (revenue > 0 ? (grossProfit / revenue * 100).toFixed(1) : 0);\nconst ebitda = is.ebitda || 0;\nconst netIncome = is.netIncome || 0;\nconst netMargin = revenue > 0 ? (netIncome / revenue * 100).toFixed(1) : 0;\n\n// Balance sheet\nconst bs = financials.balanceSheet || {};\nconst totalAssets = bs.totalAssets || 0;\nconst totalLiabilities = bs.totalLiabilities || 0;\nconst totalEquity = bs.totalEquity || 0;\nconst currentAssets = bs.currentAssets || 0;\nconst currentLiabilities = bs.currentLiabilities || 0;\nconst totalDebt = bs.totalDebt || 0;\nconst cash = bs.cashAndEquivalents || 0;\n\n// Calculate ratios\nconst currentRatio = currentLiabilities > 0 ? (currentAssets / currentLiabilities).toFixed(2) : 'N/A';\nconst debtToEquity = totalEquity > 0 ? (totalDebt / totalEquity).toFixed(2) : 'N/A';\nconst debtToAssets = totalAssets > 0 ? (totalDebt / totalAssets * 100).toFixed(1) : 'N/A';\n\n// Cash flow\nconst cf = financials.cashFlow || {};\nconst operatingCF = cf.operatingCashFlow || 0;\nconst freeCashFlow = cf.freeCashFlow || 0;\n\n// Prior period comparison\nconst prior = financials.priorPeriod || {};\nconst priorRevenue = prior.revenue || 0;\nconst yoyGrowth = priorRevenue > 0 ? ((revenue - priorRevenue) / priorRevenue * 100).toFixed(1) : 'N/A';\n\n// Risk flags\nlet riskFlags = [];\nif (parseFloat(currentRatio) < 1) riskFlags.push('Low liquidity');\nif (parseFloat(debtToEquity) > 2) riskFlags.push('High leverage');\nif (netIncome < 0) riskFlags.push('Net loss');\nif (operatingCF < 0) riskFlags.push('Negative operating cash flow');\nif (parseFloat(yoyGrowth) < -10) riskFlags.push('Revenue decline >10%');\n\n// Health score estimation\nlet healthScore = 70;\nif (riskFlags.length === 0) healthScore = 85;\nif (riskFlags.length >= 2) healthScore = 55;\nif (riskFlags.length >= 3) healthScore = 40;\n\n// Format large numbers\nfunction formatMoney(num) {\n  if (Math.abs(num) >= 1e9) return (num / 1e9).toFixed(1) + 'B';\n  if (Math.abs(num) >= 1e6) return (num / 1e6).toFixed(1) + 'M';\n  if (Math.abs(num) >= 1e3) return (num / 1e3).toFixed(1) + 'K';\n  return num.toString();\n}\n\nreturn [{\n  json: {\n    companyName: financials.companyName || 'Unknown',\n    fiscalPeriodEnd: financials.fiscalPeriodEnd || 'N/A',\n    reportType: financials.reportType || 'N/A',\n    currency: financials.currency || 'USD',\n    revenue: revenue,\n    revenueFormatted: formatMoney(revenue),\n    grossProfit: grossProfit,\n    grossMargin: grossMargin + '%',\n    ebitda: ebitda,\n    ebitdaFormatted: formatMoney(ebitda),\n    netIncome: netIncome,\n    netIncomeFormatted: formatMoney(netIncome),\n    netMargin: netMargin + '%',\n    totalAssets: totalAssets,\n    totalAssetsFormatted: formatMoney(totalAssets),\n    totalLiabilities: totalLiabilities,\n    totalEquity: totalEquity,\n    totalDebt: totalDebt,\n    totalDebtFormatted: formatMoney(totalDebt),\n    cash: cash,\n    cashFormatted: formatMoney(cash),\n    currentRatio: currentRatio,\n    debtToEquity: debtToEquity,\n    debtToAssets: debtToAssets + '%',\n    operatingCashFlow: operatingCF,\n    freeCashFlow: freeCashFlow,\n    yoyGrowth: yoyGrowth + '%',\n    riskFlags: riskFlags.join('; ') || 'None',\n    riskFlagCount: riskFlags.length,\n    healthScore: healthScore,\n    analysis: analysis,\n    fileName: fileName,\n    fileId: fileId,\n    processedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "format-data",
      "name": "Calculate Ratios",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        300
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "list",
          "cachedResultName": "Financial Analysis Log"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Statements"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company": "={{ $json.companyName }}",
            "Period": "={{ $json.fiscalPeriodEnd }}",
            "Revenue": "={{ $json.revenueFormatted }}",
            "EBITDA": "={{ $json.ebitdaFormatted }}",
            "Net Income": "={{ $json.netIncomeFormatted }}",
            "Debt/Equity": "={{ $json.debtToEquity }}",
            "Current Ratio": "={{ $json.currentRatio }}",
            "YoY Growth": "={{ $json.yoyGrowth }}",
            "Health Score": "={{ $json.healthScore }}",
            "Risk Flags": "={{ $json.riskFlags }}",
            "Processed Date": "={{ $json.processedAt.split('T')[0] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Period",
              "displayName": "Period",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Revenue",
              "displayName": "Revenue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EBITDA",
              "displayName": "EBITDA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Net Income",
              "displayName": "Net Income",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Debt/Equity",
              "displayName": "Debt/Equity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Current Ratio",
              "displayName": "Current Ratio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "YoY Growth",
              "displayName": "YoY Growth",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Health Score",
              "displayName": "Health Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Risk Flags",
              "displayName": "Risk Flags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Processed Date",
              "displayName": "Processed Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "sheets-log",
      "name": "Log to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1520,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "YOUR_SLACK_CHANNEL_ID",
          "mode": "list",
          "cachedResultName": "financial-analysis"
        },
        "text": "=\ud83d\udcca *Financial Statement Analysis Complete*\n\n*Company:* {{ $('Calculate Ratios').item.json.companyName }}\n*Period:* {{ $('Calculate Ratios').item.json.fiscalPeriodEnd }}\n*Report:* {{ $('Calculate Ratios').item.json.reportType }}\n\n\ud83d\udcb0 *Income Statement:*\n\u2022 Revenue: {{ $('Calculate Ratios').item.json.currency }} {{ $('Calculate Ratios').item.json.revenueFormatted }}\n\u2022 Gross Margin: {{ $('Calculate Ratios').item.json.grossMargin }}\n\u2022 EBITDA: {{ $('Calculate Ratios').item.json.currency }} {{ $('Calculate Ratios').item.json.ebitdaFormatted }}\n\u2022 Net Income: {{ $('Calculate Ratios').item.json.currency }} {{ $('Calculate Ratios').item.json.netIncomeFormatted }}\n\u2022 Net Margin: {{ $('Calculate Ratios').item.json.netMargin }}\n\n\ud83d\udcc8 *Balance Sheet:*\n\u2022 Total Assets: {{ $('Calculate Ratios').item.json.currency }} {{ $('Calculate Ratios').item.json.totalAssetsFormatted }}\n\u2022 Total Debt: {{ $('Calculate Ratios').item.json.currency }} {{ $('Calculate Ratios').item.json.totalDebtFormatted }}\n\u2022 Cash: {{ $('Calculate Ratios').item.json.currency }} {{ $('Calculate Ratios').item.json.cashFormatted }}\n\n\ud83d\udcc9 *Key Ratios:*\n\u2022 Current Ratio: {{ $('Calculate Ratios').item.json.currentRatio }}\n\u2022 Debt/Equity: {{ $('Calculate Ratios').item.json.debtToEquity }}\n\u2022 Debt/Assets: {{ $('Calculate Ratios').item.json.debtToAssets }}\n\u2022 YoY Growth: {{ $('Calculate Ratios').item.json.yoyGrowth }}\n\n\ud83c\udfe5 *Health Assessment:*\n\u2022 Score: {{ $('Calculate Ratios').item.json.healthScore }}/100\n\u2022 Risk Flags: {{ $('Calculate Ratios').item.json.riskFlags }}\n\n\ud83d\udcdd *AI Analysis:*\n{{ $('Calculate Ratios').item.json.analysis }}\n\n\ud83d\udd17 <https://drive.google.com/file/d/{{ $('Calculate Ratios').item.json.fileId }}/view|View Statement>",
        "otherOptions": {}
      },
      "id": "slack-notify",
      "name": "Send to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1720,
        300
      ],
      "credentials": {
        "slackOAuth2Api": {
          "id": "YOUR_SLACK_CREDENTIAL_ID",
          "name": "Slack"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "New Statement": {
      "main": [
        [
          {
            "node": "Download Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Document": {
      "main": [
        [
          {
            "node": "Extract Financials",
            "type": "main",
            "index": 0
          },
          {
            "node": "Financial Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Financials": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Financial Analysis": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Calculate Ratios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Ratios": {
      "main": [
        [
          {
            "node": "Log to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Sheets": {
      "main": [
        [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
