n8n-workflows/fincen-real-estate-reporter.json
{
  "name": "FinCEN Real Estate Reporter",
  "nodes": [
    {
      "parameters": {
        "content": "## 🏛️ FinCEN Real Estate Reporter\n\n### What this workflow does\n1. Watches Google Drive folder for closing documents\n2. Extracts buyer, seller, property, transaction data\n3. Identifies beneficial owners for entity buyers\n4. Checks if transaction meets reporting thresholds\n5. Logs reportable transactions to Google Sheets\n6. Sends Slack alert with FinCEN report data\n\n### Setup steps\n1. Get PDF Vector API key from pdfvector.com/api-keys\n2. Create a Google Drive folder for closings\n3. Create a Google Sheet with these columns:\n   File # | Property | Transaction Type | Amount | Buyer Type | Buyer Name | Beneficial Owner | Seller | Reportable | Report Status | Processed Date\n4. Update the folder ID and sheet ID in the nodes\n5. Connect your Slack workspace\n\n### Perfect for\n- Title companies\n- Real estate attorneys\n- Closing agents",
        "height": 540,
        "width": 400,
        "color": 5
      },
      "id": "sticky-main",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        60,
        60
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "YOUR_FOLDER_ID",
          "mode": "list",
          "cachedResultName": ""
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "gdrive-trigger",
      "name": "New Transaction",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        480,
        280
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "gdrive-download",
      "name": "Download Document",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        680,
        280
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "operation": "extract",
        "inputType": "file",
        "prompt": "Extract real estate transaction data from this document (closing disclosure, HUD-1, settlement statement, or deed). transactionType (purchase/refinance/transfer), propertyAddress (full street address), propertyCity, propertyState, propertyZip, propertyType (residential/commercial/mixed-use), propertyCounty, purchasePrice (number), closingDate (YYYY-MM-DD), buyerName (full name of buyer/borrower), buyerEntityType (individual/LLC/corporation/trust), buyerStateOfFormation, buyerTaxId, sellerName (full name of seller), sellerEntityType (individual/LLC/corporation/trust), paymentMethod (all-cash/financed/mixed), financingPercent (number 0-100), allCashPurchase (true if no mortgage/loan involved, false if financed), purchasePriceThreshold (true if purchase price >= 300000), beneficialOwnerName, beneficialOwnerPercent (number), beneficialOwnerDob, representativePayerName, representativePayerRole, titleCompany, closingAttorney, reportingThresholdMet (true if all-cash purchase >= 300000), reportingThresholdAmount (number), suspiciousActivityFlag (true/false), suspiciousActivityDetails, fincenReportRequired (true if all-cash purchase by entity >= threshold), reportingDeadline (YYYY-MM-DD), gtoJurisdiction (true/false), gtoCity, riskScore (number 0-100), riskFactorsList (semicolon-separated risk factors).",
        "schema": "{\"type\": \"object\", \"properties\": {\"transactionType\": {\"type\": \"string\"}, \"closingDate\": {\"type\": \"string\"}, \"fileNumber\": {\"type\": \"string\"}, \"propertyType\": {\"type\": \"string\"}, \"propertyStreet\": {\"type\": \"string\"}, \"propertyCity\": {\"type\": \"string\"}, \"propertyState\": {\"type\": \"string\"}, \"propertyZip\": {\"type\": \"string\"}, \"propertyCounty\": {\"type\": \"string\"}, \"purchasePrice\": {\"type\": \"number\"}, \"paymentMethod\": {\"type\": \"string\"}, \"financingType\": {\"type\": \"string\"}, \"buyerType\": {\"type\": \"string\"}, \"buyerLegalName\": {\"type\": \"string\"}, \"buyerAddress\": {\"type\": \"string\"}, \"buyerTinLast4\": {\"type\": \"string\"}, \"buyerFormationState\": {\"type\": \"string\"}, \"buyerFormationDate\": {\"type\": \"string\"}, \"beneficialOwnersSummary\": {\"type\": \"string\"}, \"beneficialOwnersCount\": {\"type\": \"number\"}, \"sellerType\": {\"type\": \"string\"}, \"sellerLegalName\": {\"type\": \"string\"}, \"sellerAddress\": {\"type\": \"string\"}, \"titleCompany\": {\"type\": \"string\"}, \"closingAgent\": {\"type\": \"string\"}, \"additionalParties\": {\"type\": \"string\"}}, \"required\": [\"transactionType\", \"purchasePrice\"], \"additionalProperties\": false}"
      },
      "id": "pdfvector-extract",
      "name": "Extract FinCEN Data",
      "type": "n8n-nodes-pdfvector.pdfVector",
      "typeVersion": 2,
      "position": [
        880,
        280
      ],
      "credentials": {
        "pdfVectorApi": {
          "id": "YOUR_PDFVECTOR_CREDENTIAL_ID",
          "name": "PDF Vector"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = ($input.first().json?.data || $input.first().json) || {};\nconst fileName = $('New Transaction').item.json.name;\nconst fileId   = $('New Transaction').item.json.id;\n\nconst c = v => parseFloat(String(v||0).replace(/[^0-9.]/g,'')) || 0;\nconst price = c(data.purchasePrice);\nconst riskFactors = (data.riskFactorsList || '').split(';').filter(Boolean);\n\nconst fincenRequired = data.fincenReportRequired || data.allCashPurchase && price >= 300000;\nconst riskScore = parseInt(data.riskScore) || 0;\nconst riskLevel = data.suspiciousActivityFlag ? 'Critical' :\n  riskScore >= 70 ? 'High' : riskScore >= 40 ? 'Medium' : 'Low';\n\nreturn [{ json: {\n  transactionType:   data.transactionType   || 'N/A',\n  propertyAddress: [data.propertyStreet || data.propertyAddress, data.propertyCity, data.propertyState, data.propertyZip].filter(Boolean).join(', ') || 'N/A',\n  propertyCity:      data.propertyCity      || 'N/A',\n  propertyState:     data.propertyState     || 'N/A',\n  propertyType:      data.propertyType      || 'N/A',\n  purchasePrice:     price,\n  closingDate:       data.closingDate       || 'N/A',\n  buyerName:         data.buyerLegalName || data.buyerName || 'N/A',\n  buyerEntityType:   data.buyerType || data.buyerEntityType || 'N/A',\n  sellerName:        data.sellerLegalName || data.sellerName || 'N/A',\n  paymentMethod:     data.paymentMethod     || 'N/A',\n  allCashPurchase:   data.allCashPurchase   || false,\n  beneficialOwnerName: data.beneficialOwnerName || 'N/A',\n  fincenRequired,\n  reportingDeadline: data.reportingDeadline || 'N/A',\n  gtoJurisdiction:   data.gtoJurisdiction   || false,\n  gtoCity:           data.gtoCity           || 'N/A',\n  suspiciousActivityFlag: data.suspiciousActivityFlag || false,\n  suspiciousActivityDetails: data.suspiciousActivityDetails || 'None',\n  riskScore, riskLevel,\n  riskFactorsList: data.riskFactorsList || 'None',\n  riskFactorsCount: riskFactors.length,\n  fileName, fileId,\n  processedAt: new Date().toISOString(),\n  buyerAddress:    data.buyerAddress || 'N/A',\n  propertyCounty:  data.propertyCounty  || 'N/A',\n  fileNumber:      'N/A',\n  dataGaps:        'N/A',\n  fileId: fileId,\n  fileNumber: \"N/A\",\n  buyerType: data.buyerEntityType || \"N/A\",\n  buyerTIN: data.buyerTaxId || \"N/A\",\n  buyerAddress: \"N/A\",\n  isEntityBuyer: data.buyerEntityType && data.buyerEntityType !== \"individual\" ? true : false,\n  sellerType: data.sellerEntityType || \"N/A\",\n  financingType: data.paymentMethod || \"N/A\",\n  primaryBOName: data.beneficialOwnerName || \"N/A\",\n  beneficialOwnerCount: data.beneficialOwnerName ? 1 : 0,\n  beneficialOwnerSummary: data.beneficialOwnerName ? data.beneficialOwnerName + \" (\" + (data.beneficialOwnerPercent||0) + \"%)\" : \"N/A\",\n  propertyCounty: \"N/A\",\n  isReportable: fincenRequired,\n  reportReason: data.allCashPurchase ? \"All-cash purchase\" : data.suspiciousActivityFlag ? \"Suspicious activity\" : \"N/A\",\n  reportStatus: fincenRequired ? \"REQUIRED\" : \"Not Required\",\n  dataGaps: \"N/A\",\n}}];"
      },
      "id": "determine-reporting",
      "name": "Check Reporting",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        280
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "list",
          "cachedResultName": ""
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "File #": "={{ $json.fileNumber }}",
            "Property": "={{ $json.propertyAddress }}",
            "Transaction Type": "={{ $json.transactionType }}",
            "Amount": "={{ $json.purchasePrice }}",
            "Payment": "={{ $json.paymentMethod }}",
            "Buyer Type": "={{ $json.buyerType }}",
            "Buyer Name": "={{ $json.buyerName }}",
            "Beneficial Owner": "={{ $json.primaryBOName }}",
            "Seller": "={{ $json.sellerName }}",
            "Reportable": "={{ $json.isReportable }}",
            "Report Status": "={{ $json.reportStatus }}",
            "Processed Date": "={{ $json.processedAt.split('T')[0] }}",
            "Buyer": "={{ $json.buyerName }}",
            "Purchase Price": "={{ $json.purchasePrice }}",
            "Closing Date": "={{ $json.closingDate }}",
            "Payment Method": "={{ $json.paymentMethod }}",
            "FinCEN Required": "={{ $json.fincenRequired ? 'Yes' : 'No' }}",
            "Risk Level": "={{ $json.riskLevel }}",
            "Risk Score": "={{ $json.riskScore }}",
            "SAR Flag": "={{ $json.suspiciousActivityFlag ? 'Yes' : 'No' }}",
            "Document Link": "=https://drive.google.com/file/d/{{ $json.fileId }}/view",
            "Added Date": "={{ $json.processedAt.split('T')[0] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "File #",
              "displayName": "File #",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Property",
              "displayName": "Property",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Transaction Type",
              "displayName": "Transaction Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Amount",
              "displayName": "Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Payment",
              "displayName": "Payment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Buyer Type",
              "displayName": "Buyer Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Buyer Name",
              "displayName": "Buyer Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Beneficial Owner",
              "displayName": "Beneficial Owner",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Seller",
              "displayName": "Seller",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reportable",
              "displayName": "Reportable",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Report Status",
              "displayName": "Report Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Processed Date",
              "displayName": "Processed Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "sheets-log",
      "name": "Log to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1280,
        280
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "YOUR_SLACK_CHANNEL_ID",
          "mode": "list",
          "cachedResultName": ""
        },
        "text": "=🏛️ *FinCEN Transaction Analysis*\n\n*File:* {{ $('Check Reporting').item.json.fileName }}\n*Status:* {{ $('Check Reporting').item.json.reportStatus }}\n\n🏠 *Property:*\n{{ $('Check Reporting').item.json.propertyAddress }}\n• Type: {{ $('Check Reporting').item.json.propertyType }}\n• County: {{ $('Check Reporting').item.json.propertyCounty }}\n\n💰 *Transaction:*\n• Type: {{ $('Check Reporting').item.json.transactionType }}\n• Amount: ${{ $('Check Reporting').item.json.purchasePrice.toLocaleString() }}\n• Payment: {{ $('Check Reporting').item.json.paymentMethod }}\n• Financing: {{ $('Check Reporting').item.json.financingType }}\n• Closing Date: {{ $('Check Reporting').item.json.closingDate }}\n\n👤 *Buyer:*\n• Type: {{ $('Check Reporting').item.json.buyerType }} {{ $('Check Reporting').item.json.isEntityBuyer ? '(Entity)' : '(Individual)' }}\n• Name: {{ $('Check Reporting').item.json.buyerName }}\n• Address: {{ $('Check Reporting').item.json.buyerAddress }}\n• TIN (last 4): {{ $('Check Reporting').item.json.buyerTIN }}\n\n🏢 *Beneficial Owners ({{ $('Check Reporting').item.json.beneficialOwnerCount }}):*\n{{ $('Check Reporting').item.json.beneficialOwnerSummary }}\n• Primary BO: {{ $('Check Reporting').item.json.primaryBOName }}\n\n👤 *Seller:*\n• Type: {{ $('Check Reporting').item.json.sellerType }}\n• Name: {{ $('Check Reporting').item.json.sellerName }}\n\n📋 *FinCEN Determination:*\n• Reportable: {{ $('Check Reporting').item.json.isReportable ? 'YES' : 'NO' }}\n• Reason: {{ $('Check Reporting').item.json.reportReason }}\n\n⚠️ *Data Gaps:*\n{{ $('Check Reporting').item.json.dataGaps }}\n\n🔗 <https://drive.google.com/file/d/{{ $('Check Reporting').item.json.fileId }}/view|View Document>",
        "otherOptions": {}
      },
      "id": "slack-notify",
      "name": "Send to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1480,
        280
      ],
      "credentials": {
        "slackOAuth2Api": {
          "id": "YOUR_SLACK_CREDENTIAL_ID",
          "name": "Slack"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "New Transaction": {
      "main": [
        [
          {
            "node": "Download Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Document": {
      "main": [
        [
          {
            "node": "Extract FinCEN Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract FinCEN Data": {
      "main": [
        [
          {
            "node": "Check Reporting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Reporting": {
      "main": [
        [
          {
            "node": "Log to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Sheets": {
      "main": [
        [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
