n8n-workflows/isda-terms-extraction.json
{
  "name": "Extract ISDA master agreement terms and log to Google Sheets",
  "nodes": [
    {
      "parameters": {
        "content": "## 📈 ISDA Master Agreement Digitizer\n\n### What this workflow does\n1. Watches Google Drive folder for ISDA documents\n2. Extracts netting provisions and credit support terms\n3. Pulls close-out mechanics and governing law\n4. Extracts CSA terms and threshold amounts\n5. Logs all terms to Google Sheets\n6. Sends Slack alert with agreement summary\n\n### Setup steps\n1. Get PDF Vector API key from pdfvector.com/api-keys\n2. Create a Google Drive folder for ISDA documents\n3. Create a Google Sheet with these columns:\n   Counterparty | Agreement Date | Governing Law | Netting Type | Credit Support | Threshold | MTA | Close-out | Cross Default | Processed Date\n4. Update the folder ID and sheet ID in the nodes\n5. Connect your Slack workspace\n\n### Perfect for\n- Derivatives trading desks\n- Financial institutions\n- Risk management teams",
        "height": 520,
        "width": 400,
        "color": 5
      },
      "id": "sticky-main",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        60,
        60
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "YOUR_FOLDER_ID",
          "mode": "list",
          "cachedResultName": "ISDA Documents"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "gdrive-trigger",
      "name": "New ISDA Document",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        480,
        280
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "gdrive-download",
      "name": "Download Document",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        680,
        280
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "operation": "extract",
        "inputType": "file",
        "prompt": "Extract ISDA Master Agreement data as flat fields. agreementDate (YYYY-MM-DD), agreementVersion (e.g. 1992 or 2002), partyAName, partyARole, partyBName, partyBRole, governingLaw, nettingApplies (true/false), nettingScope, creditSupportType, thresholdAmount (number), minimumTransferAmount (number), eventsOfDefaultList (semicolon-separated events of default), terminationEventsList (semicolon-separated termination events), crossDefaultApplies (true/false), crossDefaultThreshold (number), closeOutNettingMethod, earlyTerminationMethod, amendmentsList (semicolon-separated key schedule amendments), specifiedEntitiesList (semicolon-separated specified entities), electiveTerminationRights (true/false), autoEarlyTermination (true/false), riskRating (one of: Low, Medium, High, Critical), keyRisksList (semicolon-separated key risks).",
        "schema": "{\"type\": \"object\", \"properties\": {\"agreementDate\": {\"type\": \"string\"}, \"agreementVersion\": {\"type\": \"string\"}, \"partyAName\": {\"type\": \"string\"}, \"partyARole\": {\"type\": \"string\"}, \"partyBName\": {\"type\": \"string\"}, \"partyBRole\": {\"type\": \"string\"}, \"governingLaw\": {\"type\": \"string\"}, \"nettingApplies\": {\"type\": \"boolean\"}, \"nettingScope\": {\"type\": \"string\"}, \"creditSupportType\": {\"type\": \"string\"}, \"thresholdAmount\": {\"type\": \"number\"}, \"minimumTransferAmount\": {\"type\": \"number\"}, \"eventsOfDefaultList\": {\"type\": \"string\"}, \"terminationEventsList\": {\"type\": \"string\"}, \"crossDefaultApplies\": {\"type\": \"boolean\"}, \"crossDefaultThreshold\": {\"type\": \"number\"}, \"closeOutNettingMethod\": {\"type\": \"string\"}, \"earlyTerminationMethod\": {\"type\": \"string\"}, \"amendmentsList\": {\"type\": \"string\"}, \"specifiedEntitiesList\": {\"type\": \"string\"}, \"electiveTerminationRights\": {\"type\": \"boolean\"}, \"autoEarlyTermination\": {\"type\": \"boolean\"}, \"riskRating\": {\"type\": \"string\"}, \"keyRisksList\": {\"type\": \"string\"}}, \"additionalProperties\": false}"
      },
      "id": "pdfvector-extract",
      "name": "Extract ISDA Terms",
      "type": "n8n-nodes-pdfvector.pdfVector",
      "typeVersion": 2,
      "position": [
        880,
        280
      ],
      "credentials": {
        "pdfVectorApi": {
          "id": "YOUR_PDFVECTOR_CREDENTIAL_ID",
          "name": "PDF Vector"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = ($input.first().json?.data || $input.first().json) || {};\nconst fileName = $('New ISDA Document').item.json.name;\nconst fileId   = $('New ISDA Document').item.json.id;\n\nconst parties = [data.partyAName, data.partyBName].filter(Boolean).join(' / ') || 'N/A';\nconst eods = (data.eventsOfDefaultList || '').split(';').filter(Boolean);\nconst terms = (data.terminationEventsList || '').split(';').filter(Boolean);\nconst risks = (data.keyRisksList || '').split(';').filter(Boolean);\n\nreturn [{ json: {\n  agreementDate:    data.agreementDate    || 'N/A',\n  agreementVersion: data.agreementVersion || 'N/A',\n  partyAName:       data.partyAName       || 'N/A',\n  partyBName:       data.partyBName       || 'N/A',\n  parties,\n  governingLaw:     data.governingLaw     || 'N/A',\n  nettingApplies:   data.nettingApplies   || false,\n  creditSupportType: data.creditSupportType || 'N/A',\n  crossDefaultApplies: data.crossDefaultApplies || false,\n  crossDefaultThreshold: data.crossDefaultThreshold || 0,\n  eventsOfDefaultList:   data.eventsOfDefaultList   || 'N/A',\n  terminationEventsList: data.terminationEventsList || 'N/A',\n  eodCount:  eods.length,\n  termCount: terms.length,\n  amendmentsList: data.amendmentsList || 'None',\n  riskRating: data.riskRating || 'Medium',\n  keyRisksList: data.keyRisksList || 'None',\n  riskCount: risks.length,\n  autoEarlyTermination: data.autoEarlyTermination || false,\n  fileName, fileId,\n  processedAt: new Date().toISOString(),\n  documentType:         'ISDA Master Agreement',\n  closeOutNetting:      data.nettingApplies ? 'Yes' : 'No',\n  closeOutMethod:       data.closeOutNettingMethod || 'N/A',\n  nettingType:          data.nettingScope          || 'N/A',\n  paymentNetting:       data.nettingApplies ? 'Yes' : 'No',\n  setOffRights:         'Per Schedule',\n  creditSupportDoc:     data.creditSupportType || 'None',\n  eligibleCollateral:   'Per CSA',\n  thresholdPartyA:      parseFloat(data.thresholdAmount) || 0,\n  thresholdPartyB:      parseFloat(data.thresholdAmount) || 0,\n  minimumTransferAmount: parseFloat(data.minimumTransferAmount) || 0,\n  crossDefaultApplicable: data.crossDefaultApplies ? 'Yes' : 'No',\n  partyALei:            'N/A',\n  partyBLei:            'N/A',\n  partyAJurisdiction:   data.governingLaw || 'N/A',\n  partyBJurisdiction:   data.governingLaw || 'N/A',\n  fileId:               fileId,\n\n}}];"
      },
      "id": "format-data",
      "name": "Format ISDA Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        280
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "list",
          "cachedResultName": "ISDA Agreements"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Agreements"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Party A": "={{ $json.partyAName }}",
            "Party B": "={{ $json.partyBName }}",
            "Agreement Date": "={{ $json.agreementDate }}",
            "Governing Law": "={{ $json.governingLaw }}",
            "Netting Type": "={{ $json.nettingType }}",
            "Credit Support": "={{ $json.creditSupportDoc }}",
            "Threshold A": "={{ $json.thresholdPartyA }}",
            "Threshold B": "={{ $json.thresholdPartyB }}",
            "MTA": "={{ $json.minimumTransferAmount }}",
            "Cross Default": "={{ $json.crossDefaultApplies ? 'Yes' : 'No' }}",
            "Close-out Method": "={{ $json.closeOutMethod }}",
            "Processed Date": "={{ $json.processedAt.split('T')[0] }}",
            "Date": "={{ $json.agreementDate }}",
            "Version": "={{ $json.agreementVersion }}",
            "Netting": "={{ $json.nettingApplies ? 'Yes' : 'No' }}",
            "EOD Count": "={{ $json.eodCount }}",
            "Risk Rating": "={{ $json.riskRating }}",
            "Document Link": "=https://drive.google.com/file/d/{{ $json.fileId }}/view",
            "Added Date": "={{ $json.processedAt.split('T')[0] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Party A",
              "displayName": "Party A",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Party B",
              "displayName": "Party B",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Agreement Date",
              "displayName": "Agreement Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Governing Law",
              "displayName": "Governing Law",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Netting Type",
              "displayName": "Netting Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Credit Support",
              "displayName": "Credit Support",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Threshold A",
              "displayName": "Threshold A",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Threshold B",
              "displayName": "Threshold B",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MTA",
              "displayName": "MTA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cross Default",
              "displayName": "Cross Default",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Close-out Method",
              "displayName": "Close-out Method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Processed Date",
              "displayName": "Processed Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "sheets-log",
      "name": "Log to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1280,
        280
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "YOUR_SLACK_CHANNEL_ID",
          "mode": "list",
          "cachedResultName": "isda-agreements"
        },
        "text": "=📈 *ISDA Agreement Digitized*\n\n*Document Type:* {{ $('Format ISDA Data').item.json.documentType }}\n*Agreement Date:* {{ $('Format ISDA Data').item.json.agreementDate }}\n\n👥 *Counterparties:*\n• Party A: {{ $('Format ISDA Data').item.json.partyAName }}\n  - LEI: {{ $('Format ISDA Data').item.json.partyALei }}\n  - Jurisdiction: {{ $('Format ISDA Data').item.json.partyAJurisdiction }}\n• Party B: {{ $('Format ISDA Data').item.json.partyBName }}\n  - LEI: {{ $('Format ISDA Data').item.json.partyBLei }}\n  - Jurisdiction: {{ $('Format ISDA Data').item.json.partyBJurisdiction }}\n\n⚖️ *Governing Law:* {{ $('Format ISDA Data').item.json.governingLaw }}\n\n🔄 *Netting:*\n• Type: {{ $('Format ISDA Data').item.json.nettingType }}\n• Payment Netting: {{ $('Format ISDA Data').item.json.paymentNetting }}\n• Close-out Netting: {{ $('Format ISDA Data').item.json.closeOutNetting }}\n\n💰 *Credit Support:*\n• Document: {{ $('Format ISDA Data').item.json.creditSupportDoc }}\n• Threshold Party A: {{ $('Format ISDA Data').item.json.thresholdPartyA }}\n• Threshold Party B: {{ $('Format ISDA Data').item.json.thresholdPartyB }}\n• MTA: {{ $('Format ISDA Data').item.json.minimumTransferAmount }}\n• Eligible Collateral: {{ $('Format ISDA Data').item.json.eligibleCollateral }}\n\n⚠️ *Risk Provisions:*\n• Cross Default: {{ $('Format ISDA Data').item.json.crossDefaultApplicable }} ({{ $('Format ISDA Data').item.json.crossDefaultThreshold }})\n• Close-out Method: {{ $('Format ISDA Data').item.json.closeOutMethod }}\n• Set-off Rights: {{ $('Format ISDA Data').item.json.setOffRights }}\n\n🔗 <https://drive.google.com/file/d/{{ $('Format ISDA Data').item.json.fileId }}/view|View Document>",
        "otherOptions": {}
      },
      "id": "slack-notify",
      "name": "Send to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1480,
        280
      ],
      "credentials": {
        "slackOAuth2Api": {
          "id": "YOUR_SLACK_CREDENTIAL_ID",
          "name": "Slack"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "New ISDA Document": {
      "main": [
        [
          {
            "node": "Download Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Document": {
      "main": [
        [
          {
            "node": "Extract ISDA Terms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract ISDA Terms": {
      "main": [
        [
          {
            "node": "Format ISDA Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format ISDA Data": {
      "main": [
        [
          {
            "node": "Log to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Sheets": {
      "main": [
        [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
