n8n-workflows/kyc-document-verification.json
{
  "name": "Extract KYC identity documents and verify customer data",
  "nodes": [
    {
      "parameters": {
        "content": "## 🔐 KYC Document Verification\n\n### What this workflow does\n1. Watches Google Drive folder for KYC documents\n2. Extracts ID details (passport, license, utility bill)\n3. Pulls name, address, DOB, document numbers\n4. Cross-references data across documents\n5. Logs verification results to Google Sheets\n6. Sends Slack alert with verification status\n\n### Setup steps\n1. Get PDF Vector API key from pdfvector.com/api-keys\n2. Create a Google Drive folder for KYC documents\n3. Create a Google Sheet with these columns:\n   Customer ID | Name | DOB | ID Type | ID Number | Address | Verified | Discrepancies | Risk Level | Processed Date\n4. Update the folder ID and sheet ID in the nodes\n5. Connect your Slack workspace\n\n### Perfect for\n- Compliance teams\n- Fintech onboarding\n- Banking KYC departments",
        "height": 520,
        "width": 400,
        "color": 5
      },
      "id": "sticky-main",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        60,
        60
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "YOUR_FOLDER_ID",
          "mode": "list",
          "cachedResultName": "KYC Documents"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "gdrive-trigger",
      "name": "New KYC Document",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        480,
        280
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "gdrive-download",
      "name": "Download Document",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        680,
        280
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "operation": "extract",
        "inputType": "file",
        "prompt": "Extract identity verification data as flat fields. documentType, fullNameAsShown, firstName, middleName, lastName, dateOfBirth (YYYY-MM-DD), gender, nationality, documentNumber, issueDate (YYYY-MM-DD), expirationDate (YYYY-MM-DD), issuingAuthority, issuingCountry, street, city, state, postalCode, country, photoPresent (true/false), signaturePresent (true/false), mrzCode, barcodeData, accountNumber, statementPeriod, securityFeaturesList (semicolon-separated security features), documentCondition.",
        "schema": "{\"type\": \"object\", \"additionalProperties\": false, \"properties\": {\"documentType\": {\"type\": \"string\"}, \"fullNameAsShown\": {\"type\": \"string\"}, \"firstName\": {\"type\": \"string\"}, \"middleName\": {\"type\": \"string\"}, \"lastName\": {\"type\": \"string\"}, \"dateOfBirth\": {\"type\": \"string\"}, \"gender\": {\"type\": \"string\"}, \"nationality\": {\"type\": \"string\"}, \"documentNumber\": {\"type\": \"string\"}, \"issueDate\": {\"type\": \"string\"}, \"expirationDate\": {\"type\": \"string\"}, \"issuingAuthority\": {\"type\": \"string\"}, \"issuingCountry\": {\"type\": \"string\"}, \"street\": {\"type\": \"string\"}, \"city\": {\"type\": \"string\"}, \"state\": {\"type\": \"string\"}, \"postalCode\": {\"type\": \"string\"}, \"country\": {\"type\": \"string\"}, \"photoPresent\": {\"type\": \"boolean\"}, \"signaturePresent\": {\"type\": \"boolean\"}, \"mrzCode\": {\"type\": \"string\"}, \"barcodeData\": {\"type\": \"string\"}, \"accountNumber\": {\"type\": \"string\"}, \"statementPeriod\": {\"type\": \"string\"}, \"securityFeaturesList\": {\"type\": \"string\"}, \"documentCondition\": {\"type\": \"string\"}}}"
      },
      "id": "pdfvector-extract",
      "name": "Extract ID Data",
      "type": "n8n-nodes-pdfvector.pdfVector",
      "typeVersion": 2,
      "position": [
        880,
        280
      ],
      "credentials": {
        "pdfVectorApi": {
          "id": "YOUR_PDFVECTOR_CREDENTIAL_ID",
          "name": "PDF Vector"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const kyc = ($input.first().json?.data || $input.first().json) || {};\nconst triggerData = $('New KYC Document').item.json;\nconst fileName = triggerData.name || 'unknown';\nconst fileId   = triggerData.id   || '';\n\nconst customerIdMatch = fileName.match(/^([A-Z0-9]+)_/i);\nconst customerId = customerIdMatch ? customerIdMatch[1] : 'Unknown';\n\nconst fullName = kyc.fullNameAsShown ||\n  [kyc.firstName, kyc.middleName, kyc.lastName].filter(Boolean).join(' ') || 'Unknown';\nconst fullAddress = [kyc.street, kyc.city, kyc.state, kyc.postalCode, kyc.country]\n  .filter(Boolean).join(', ') || 'Not provided';\n\nlet discrepancies = [];\nlet riskLevel = 'Low';\nlet verificationStatus = 'Verified';\n\nif (kyc.expirationDate) {\n  const exp = new Date(kyc.expirationDate);\n  const today = new Date();\n  if (exp < today) {\n    discrepancies.push('Document expired');\n    riskLevel = 'High'; verificationStatus = 'Failed';\n  } else if (exp < new Date(today.getTime() + 30*24*60*60*1000)) {\n    discrepancies.push('Expires within 30 days');\n    if (riskLevel === 'Low') riskLevel = 'Medium';\n  }\n}\nif (!kyc.documentNumber) { discrepancies.push('Missing document number'); riskLevel = 'High'; verificationStatus = 'Review Required'; }\nif (!kyc.dateOfBirth)    { discrepancies.push('Missing date of birth');   if (riskLevel === 'Low') riskLevel = 'Medium'; }\nconst idTypes = ['passport','driver','national id'];\nif (idTypes.some(t => (kyc.documentType||'').toLowerCase().includes(t)) && !kyc.photoPresent) {\n  discrepancies.push('No photo detected'); riskLevel = 'High'; verificationStatus = 'Review Required';\n}\nif ((kyc.documentCondition||'').toLowerCase().includes('poor')) {\n  discrepancies.push('Poor document quality'); if (riskLevel === 'Low') riskLevel = 'Medium';\n}\n\nreturn [{ json: {\n  customerId, documentType: kyc.documentType || 'Unknown',\n  fullName, firstName: kyc.firstName || '', lastName: kyc.lastName || '',\n  dateOfBirth: kyc.dateOfBirth || 'N/A',\n  gender: kyc.gender || 'N/A',\n  nationality: kyc.nationality || 'N/A',\n  documentNumber: kyc.documentNumber || 'N/A',\n  issueDate: kyc.issueDate || 'N/A',\n  expirationDate: kyc.expirationDate || 'N/A',\n  issuingAuthority: kyc.issuingAuthority || 'N/A',\n  issuingCountry: kyc.issuingCountry || 'N/A',\n  address: fullAddress,\n  photoPresent: kyc.photoPresent ? 'Yes' : 'No',\n  signaturePresent: kyc.signaturePresent ? 'Yes' : 'No',\n  mrzCode: kyc.mrzCode || 'N/A',\n  accountNumber: kyc.accountNumber || 'N/A',\n  securityFeatures: kyc.securityFeaturesList || 'Not assessed',\n  documentCondition: kyc.documentCondition || 'Good',\n  verificationStatus, riskLevel,\n  discrepancies: discrepancies.join('; ') || 'None',\n  discrepancyCount: discrepancies.length,\n  fileName, fileId,\n  processedAt: new Date().toISOString(),\n  documentType: kyc.documentType || \"Unknown\",\n  fileId: fileId,\n  riskLevel: riskLevel,\n}}];"
      },
      "id": "format-data",
      "name": "Verify & Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        280
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "list",
          "cachedResultName": "KYC Verification Log"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Verifications"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Customer ID": "={{ $json.customerId }}",
            "Name": "={{ $json.fullName }}",
            "DOB": "={{ $json.dateOfBirth }}",
            "ID Type": "={{ $json.documentType }}",
            "ID Number": "={{ $json.documentNumber }}",
            "Expiration": "={{ $json.expirationDate }}",
            "Address": "={{ $json.address }}",
            "Status": "={{ $json.verificationStatus }}",
            "Discrepancies": "={{ $json.discrepancies }}",
            "Risk Level": "={{ $json.riskLevel }}",
            "Processed Date": "={{ $json.processedAt.split('T')[0] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Customer ID",
              "displayName": "Customer ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DOB",
              "displayName": "DOB",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID Type",
              "displayName": "ID Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID Number",
              "displayName": "ID Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Expiration",
              "displayName": "Expiration",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Discrepancies",
              "displayName": "Discrepancies",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Risk Level",
              "displayName": "Risk Level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Processed Date",
              "displayName": "Processed Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "sheets-log",
      "name": "Log to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1280,
        280
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "YOUR_SLACK_CHANNEL_ID",
          "mode": "list",
          "cachedResultName": "kyc-verification"
        },
        "text": "=🔐 *KYC Document Verified*\n\n*Customer:* {{ $('Verify & Format').item.json.customerId }}\n*Status:* {{ $('Verify & Format').item.json.verificationStatus }}\n*Risk Level:* {{ $('Verify & Format').item.json.riskLevel }}\n\n📄 *Document Details:*\n• Type: {{ $('Verify & Format').item.json.documentType }}\n• Number: {{ $('Verify & Format').item.json.documentNumber }}\n• Issued: {{ $('Verify & Format').item.json.issueDate }}\n• Expires: {{ $('Verify & Format').item.json.expirationDate }}\n• Issuer: {{ $('Verify & Format').item.json.issuingAuthority }}\n\n👤 *Identity Information:*\n• Name: {{ $('Verify & Format').item.json.fullName }}\n• DOB: {{ $('Verify & Format').item.json.dateOfBirth }}\n• Gender: {{ $('Verify & Format').item.json.gender }}\n• Nationality: {{ $('Verify & Format').item.json.nationality }}\n\n📍 *Address:*\n{{ $('Verify & Format').item.json.address }}\n\n✅ *Verification Checks:*\n• Photo Present: {{ $('Verify & Format').item.json.photoPresent }}\n• Signature Present: {{ $('Verify & Format').item.json.signaturePresent }}\n• Condition: {{ $('Verify & Format').item.json.documentCondition }}\n\n⚠️ *Discrepancies:*\n{{ $('Verify & Format').item.json.discrepancies }}\n\n🔗 <https://drive.google.com/file/d/{{ $('Verify & Format').item.json.fileId }}/view|View Document>",
        "otherOptions": {}
      },
      "id": "slack-notify",
      "name": "Send to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1480,
        280
      ],
      "credentials": {
        "slackOAuth2Api": {
          "id": "YOUR_SLACK_CREDENTIAL_ID",
          "name": "Slack"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "New KYC Document": {
      "main": [
        [
          {
            "node": "Download Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Document": {
      "main": [
        [
          {
            "node": "Extract ID Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract ID Data": {
      "main": [
        [
          {
            "node": "Verify & Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify & Format": {
      "main": [
        [
          {
            "node": "Log to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Sheets": {
      "main": [
        [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
