n8n-workflows/lab-results-extractor-health-tracker.json
{
  "name": "Lab Results Extractor & Health Tracker",
  "nodes": [
    {
      "parameters": {
        "content": "## 🔬 Lab Results Extractor & Health Tracker\n\n### What this workflow does\n1. Watches Google Drive folder for new lab result PDFs\n2. Downloads and extracts all test results with values and ranges\n3. Flags abnormal values (high, low, critical)\n4. Calculates overall health status\n5. Logs results to Google Sheets health tracker\n6. Sends Slack alert if any abnormal results found\n\n### Setup steps\n1. Create Google Drive folder for lab results\n2. Get PDF Vector API key from pdfvector.com/api-keys\n3. Create Google Sheet with columns:\n   Patient, Test Date, Lab, Category, Total Tests, Normal, High, Low, Critical, Overall Status, Physician, Document Link, Processed Date\n4. Update folder ID and spreadsheet ID in nodes\n5. Connect Slack and set channel for health alerts\n\n### ⚠️ Privacy note\nThis processes PHI (Protected Health Information).\nEnsure HIPAA compliance if used in healthcare.\nSelf-host n8n securely!\n\n### Perfect for\n- Patients tracking personal health trends\n- Wellness coaches monitoring client labs\n- Healthcare providers organizing results",
        "height": 620,
        "width": 380,
        "color": 5
      },
      "id": "sticky-main",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -140,
        -40
      ]
    },
    {
      "parameters": {
        "content": "## 🎯 Extracted Data\n\n- Patient name & DOB\n- Test date\n- Lab name\n- Ordering physician\n- All test results:\n  - Test name\n  - Value & unit\n  - Reference range\n  - Status (Normal/High/Low/Critical)",
        "height": 260,
        "width": 220
      },
      "id": "sticky-extract",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        500,
        -80
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "YOUR_FOLDER_ID",
          "mode": "list",
          "cachedResultName": "Lab Results"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "gdrive-trigger",
      "name": "Google Drive Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        280,
        220
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": "={{ $json.id }}",
        "options": {}
      },
      "id": "gdrive-download",
      "name": "Download Document",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        480,
        220
      ]
    },
    {
      "parameters": {
        "operation": "extract",
        "inputType": "file",
        "prompt": "Extract lab test results as flat fields. patientName, patientDob, patientId, testDate (YYYY-MM-DD), reportDate (YYYY-MM-DD), orderingPhysician, labName, labAddress, testCategory, resultsList (semicolon-separated formatted as: testName value unit status referenceRange), totalTests (number), normalCount (number), highCount (number), lowCount (number), criticalCount (number), abnormalList (semicolon-separated abnormal results only formatted as: testName value unit status referenceRange).",
        "schema": "{\"type\": \"object\", \"properties\": {\"patientName\": {\"type\": \"string\"}, \"patientDob\": {\"type\": \"string\"}, \"patientId\": {\"type\": \"string\"}, \"testDate\": {\"type\": \"string\"}, \"reportDate\": {\"type\": \"string\"}, \"orderingPhysician\": {\"type\": \"string\"}, \"labName\": {\"type\": \"string\"}, \"labAddress\": {\"type\": \"string\"}, \"testCategory\": {\"type\": \"string\"}, \"resultsList\": {\"type\": \"string\"}, \"totalTests\": {\"type\": \"number\"}, \"normalCount\": {\"type\": \"number\"}, \"highCount\": {\"type\": \"number\"}, \"lowCount\": {\"type\": \"number\"}, \"criticalCount\": {\"type\": \"number\"}, \"abnormalList\": {\"type\": \"string\"}}, \"additionalProperties\": false}"
      },
      "id": "pdfvector-extract",
      "name": "PDF Vector - Extract Results",
      "type": "n8n-nodes-pdfvector.pdfVector",
      "typeVersion": 2,
      "position": [
        680,
        220
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = ($input.first().json?.data || $input.first().json) || {};\nconst fileName = $('Google Drive Trigger').item.json.name;\nconst fileId   = $('Google Drive Trigger').item.json.id;\n\nconst totalTests   = parseInt(data.totalTests)   || 0;\nconst normalCount  = parseInt(data.normalCount)  || 0;\nconst highCount    = parseInt(data.highCount)    || 0;\nconst lowCount     = parseInt(data.lowCount)     || 0;\nconst criticalCount= parseInt(data.criticalCount)|| 0;\nconst abnormalCount= highCount + lowCount;\n\nconst abnormalList = data.abnormalList\n  ? data.abnormalList.split(';').map(r => `⚠️ ${r.trim()}`).join('\\n')\n  : '✅ All results within normal range';\n\nlet overallStatus = 'Normal'; let statusEmoji = '✅';\nif (criticalCount > 0)        { overallStatus = 'Critical - Action Required'; statusEmoji = '🚨'; }\nelse if (abnormalCount > 3)   { overallStatus = 'Multiple Abnormal - Review Needed'; statusEmoji = '⚠️'; }\nelse if (abnormalCount > 0)   { overallStatus = 'Some Abnormal Values'; statusEmoji = '⚠️'; }\n\nreturn [{ json: {\n  patientName:     data.patientName     || 'Unknown',\n  patientDob:      data.patientDob      || 'N/A',\n  testDate:        data.testDate        || 'N/A',\n  orderingPhysician: data.orderingPhysician || 'N/A',\n  labName:         data.labName         || 'N/A',\n  testCategory:    data.testCategory    || 'General',\n  totalTests, normalCount, highCount, lowCount, criticalCount, abnormalCount,\n  abnormalList,\n  overallStatus, statusEmoji,\n  hasAbnormal: abnormalCount > 0 || criticalCount > 0,\n  fileName, fileId,\n  processedAt: new Date().toISOString()\n}}];"
      },
      "id": "analyze-results",
      "name": "Analyze Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        220
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "list",
          "cachedResultName": "Health Tracker"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Lab Results"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Patient": "={{ $json.patientName }}",
            "Test Date": "={{ $json.testDate || 'N/A' }}",
            "Lab": "={{ $json.labName || 'N/A' }}",
            "Category": "={{ $json.testCategory || 'General' }}",
            "Total Tests": "={{ $json.totalTests }}",
            "Normal": "={{ $json.normalCount }}",
            "High": "={{ $json.highCount }}",
            "Low": "={{ $json.lowCount }}",
            "Critical": "={{ $json.criticalCount }}",
            "Overall Status": "={{ $json.overallStatus }}",
            "Physician": "={{ $json.orderingPhysician || 'N/A' }}",
            "Document Link": "=https://drive.google.com/file/d/{{ $json.fileId }}/view",
            "Processed Date": "={{ $json.processedAt.split('T')[0] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Patient",
              "displayName": "Patient",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Test Date",
              "displayName": "Test Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lab",
              "displayName": "Lab",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total Tests",
              "displayName": "Total Tests",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Normal",
              "displayName": "Normal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "High",
              "displayName": "High",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Low",
              "displayName": "Low",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Critical",
              "displayName": "Critical",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Overall Status",
              "displayName": "Overall Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Physician",
              "displayName": "Physician",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Document Link",
              "displayName": "Document Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Processed Date",
              "displayName": "Processed Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "sheets-log",
      "name": "Log to Health Tracker",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1080,
        220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-abnormal",
              "leftValue": "={{ $('Analyze Results').item.json.hasAbnormal }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-abnormal",
      "name": "Has Abnormal Results?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1280,
        220
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "YOUR_SLACK_CHANNEL_ID",
          "mode": "list",
          "cachedResultName": "health-alerts"
        },
        "text": "={{ $('Analyze Results').item.json.statusEmoji }} *Lab Results Alert*\n\n*Patient:* {{ $('Analyze Results').item.json.patientName }}\n*Test Date:* {{ $('Analyze Results').item.json.testDate || 'N/A' }}\n*Lab:* {{ $('Analyze Results').item.json.labName || 'N/A' }}\n*Physician:* {{ $('Analyze Results').item.json.orderingPhysician || 'N/A' }}\n\n📊 *Results Summary:*\n• Total Tests: {{ $('Analyze Results').item.json.totalTests }}\n• Normal: {{ $('Analyze Results').item.json.normalCount }}\n• High: {{ $('Analyze Results').item.json.highCount }}\n• Low: {{ $('Analyze Results').item.json.lowCount }}\n• Critical: {{ $('Analyze Results').item.json.criticalCount }}\n\n⚠️ *Overall Status:* {{ $('Analyze Results').item.json.overallStatus }}\n\n*Abnormal Results:*\n{{ $('Analyze Results').item.json.abnormalList }}\n\n<https://drive.google.com/file/d/{{ $('Analyze Results').item.json.fileId }}/view|📄 View Lab Report>",
        "otherOptions": {}
      },
      "id": "slack-alert",
      "name": "Alert - Abnormal Results",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1480,
        120
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Document": {
      "main": [
        [
          {
            "node": "PDF Vector - Extract Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF Vector - Extract Results": {
      "main": [
        [
          {
            "node": "Analyze Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Results": {
      "main": [
        [
          {
            "node": "Log to Health Tracker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Health Tracker": {
      "main": [
        [
          {
            "node": "Has Abnormal Results?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Abnormal Results?": {
      "main": [
        [
          {
            "node": "Alert - Abnormal Results",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
