n8n-workflows/ma-contract-review-risk-analysis.json
{
  "name": "Review M&A contracts for risks and missing clauses with Slack alerts",
  "nodes": [
    {
      "parameters": {
        "content": "## 📊 M&A Due Diligence Scanner\n\n### What this workflow does\n1. Watches Google Drive folder for data room contracts\n2. Extracts key terms (change-of-control, IP, non-compete)\n3. AI checks for compliance gaps and transaction risks\n4. Flags missing GDPR or anti-bribery clauses\n5. Logs findings to Google Sheets\n6. Sends Slack alert with risk assessment\n\n### Setup steps\n1. Get PDF Vector API key from pdfvector.com/api-keys\n2. Create a Google Drive folder for data room documents\n3. Create a Google Sheet with these columns:\n   Document | Type | Parties | Effective Date | Term | Governing Law | CoC Status | CoC Consent | Risk Level | Critical Issues | Missing Clauses | Processed Date\n4. Update the folder ID and sheet ID in the nodes\n5. Connect your Slack workspace\n\n### Perfect for\n- M&A attorneys\n- Corporate development teams\n- Private equity due diligence",
        "height": 560,
        "width": 400,
        "color": 5
      },
      "id": "sticky-main",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        60,
        60
      ]
    },
    {
      "parameters": {
        "content": "## 🔀 Parallel Processing\n\nExtract and Risk Analysis run at the\nsame time from the same PDF",
        "height": 100,
        "width": 260
      },
      "id": "sticky-parallel",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        840,
        100
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "YOUR_FOLDER_ID",
          "mode": "list",
          "cachedResultName": "M&A Data Room"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "gdrive-trigger",
      "name": "New Data Room Doc",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        480,
        300
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "gdrive-download",
      "name": "Download Document",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        680,
        300
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "operation": "extract",
        "inputType": "file",
        "prompt": "Extract M&A due diligence contract data as flat fields. documentTitle, documentType, party1Name, party1Role, party2Name, party2Role, executionDate (YYYY-MM-DD), governingLaw, changeOfControlClause (true/false), changeOfControlDetails, terminationClausesList (semicolon-separated termination triggers), terminationNoticeDays (number), nonCompetePresent (true/false), nonCompeteDurationMonths (number), nonCompeteGeography, nonSolicitPresent (true/false), nonSolicitDurationMonths (number), ipOwnershipClause, ipAssignmentRequired (true/false), confidentialityDurationMonths (number), confidentialityScope, consentRequiredList (semicolon-separated consents needed for M&A), repsAndWarrantiesList (semicolon-separated key reps and warranties), liabilityCapAmount (number), indemnificationClause, highRiskFlagsList (semicolon-separated high-risk M&A flags), totalRiskScore (number 0-100).",
        "schema": "{\"type\": \"object\", \"properties\": {\"documentTitle\": {\"type\": \"string\"}, \"documentType\": {\"type\": \"string\"}, \"party1Name\": {\"type\": \"string\"}, \"party1Role\": {\"type\": \"string\"}, \"party2Name\": {\"type\": \"string\"}, \"party2Role\": {\"type\": \"string\"}, \"executionDate\": {\"type\": \"string\"}, \"governingLaw\": {\"type\": \"string\"}, \"changeOfControlClause\": {\"type\": \"boolean\"}, \"changeOfControlDetails\": {\"type\": \"string\"}, \"terminationClausesList\": {\"type\": \"string\"}, \"terminationNoticeDays\": {\"type\": \"number\"}, \"nonCompetePresent\": {\"type\": \"boolean\"}, \"nonCompeteDurationMonths\": {\"type\": \"number\"}, \"nonCompeteGeography\": {\"type\": \"string\"}, \"nonSolicitPresent\": {\"type\": \"boolean\"}, \"nonSolicitDurationMonths\": {\"type\": \"number\"}, \"ipOwnershipClause\": {\"type\": \"string\"}, \"ipAssignmentRequired\": {\"type\": \"boolean\"}, \"confidentialityDurationMonths\": {\"type\": \"number\"}, \"confidentialityScope\": {\"type\": \"string\"}, \"consentRequiredList\": {\"type\": \"string\"}, \"repsAndWarrantiesList\": {\"type\": \"string\"}, \"liabilityCapAmount\": {\"type\": \"number\"}, \"indemnificationClause\": {\"type\": \"string\"}, \"highRiskFlagsList\": {\"type\": \"string\"}, \"totalRiskScore\": {\"type\": \"number\"}}, \"additionalProperties\": false}"
      },
      "id": "pdfvector-extract",
      "name": "Extract Contract Terms",
      "type": "n8n-nodes-pdfvector.pdfVector",
      "typeVersion": 2,
      "position": [
        900,
        220
      ],
      "credentials": {
        "pdfVectorApi": {
          "id": "YOUR_PDFVECTOR_CREDENTIAL_ID",
          "name": "PDF Vector"
        }
      }
    },
    {
      "parameters": {
        "operation": "ask",
        "inputType": "file",
        "question": "Perform M&A due diligence risk analysis on this contract. Evaluate for transaction risks:\n\n**CHANGE OF CONTROL RISKS:**\n- Does this contract have change of control provisions?\n- Could the transaction trigger termination rights?\n- Are consents required from counterparties?\n- What is the financial impact if this contract is terminated?\n\n**COMPLIANCE GAPS:**\n- Is there a GDPR/data protection clause? (Required for EU operations)\n- Are anti-bribery/FCPA provisions present? (Required for US public companies)\n- Is there an anti-money laundering clause?\n- Are there adequate cybersecurity/data breach provisions?\n\n**ASSIGNMENT & SUCCESSOR RISKS:**\n- Can this contract be assigned to an acquirer?\n- Are there restrictions on assignment by operation of law?\n- Do successor obligations exist?\n\n**TERMINATION RISKS:**\n- Can the counterparty terminate without cause?\n- What is the notice period for termination?\n- Are there material adverse change triggers?\n\n**IP & CONFIDENTIALITY RISKS:**\n- Are IP rights clearly assigned or licensed?\n- Do confidentiality obligations survive termination?\n- Could IP be lost or disputed post-transaction?\n\n**KEY PERSON & NON-COMPETE:**\n- Are there key person provisions?\n- Do non-competes survive a change of control?\n- Could critical employees leave post-transaction?\n\nFor each risk area, provide:\n1. Risk Level: CRITICAL / HIGH / MEDIUM / LOW / NONE\n2. Specific finding or gap\n3. Potential impact on transaction\n4. Recommended action\n\nProvide overall risk score (1-10) and deal impact summary."
      },
      "id": "pdfvector-analyze",
      "name": "Risk Analysis",
      "type": "n8n-nodes-pdfvector.pdfVector",
      "typeVersion": 2,
      "position": [
        900,
        380
      ],
      "credentials": {
        "pdfVectorApi": {
          "id": "YOUR_PDFVECTOR_CREDENTIAL_ID",
          "name": "PDF Vector"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1120,
        300
      ],
      "id": "merge-results",
      "name": "Merge Results"
    },
    {
      "parameters": {
        "jsCode": "const allInputs = $input.all();\nconst data = (allInputs[0]?.json?.data || allInputs[0]?.json) || {};\nconst riskAnalysis = allInputs[1]?.json?.answer || allInputs[1]?.json?.markdown || '';\nconst fileName = $('New Data Room Doc').item.json.name;\nconst fileId   = $('New Data Room Doc').item.json.id;\n\nconst flags = (data.highRiskFlagsList || '').split(';').filter(Boolean);\nconst consents = (data.consentRequiredList || '').split(';').filter(Boolean);\nconst flagsList = flags.map(f => `🚩 ${f.trim()}`).join('\\n') || 'None';\nconst consentsList = consents.map(c => `• ${c.trim()}`).join('\\n') || 'None';\n\nconst parties = [data.party1Name, data.party2Name].filter(Boolean).join(' / ') || 'N/A';\n\nreturn [{ json: {\n  documentTitle:  data.documentTitle  || 'Unknown',\n  documentType:   data.documentType   || 'N/A',\n  parties,\n  party1Name:     data.party1Name     || 'N/A',\n  party2Name:     data.party2Name     || 'N/A',\n  executionDate:  data.executionDate  || 'N/A',\n  governingLaw:   data.governingLaw   || 'N/A',\n  changeOfControlClause: data.changeOfControlClause || false,\n  changeOfControlDetails: data.changeOfControlDetails || 'N/A',\n  nonCompetePresent: data.nonCompetePresent || false,\n  nonCompeteDurationMonths: data.nonCompeteDurationMonths || 0,\n  ipAssignmentRequired: data.ipAssignmentRequired || false,\n  totalRiskScore: parseFloat(data.totalRiskScore) || 0,\n  flagsList, flagCount: flags.length,\n  consentsList, consentCount: consents.length,\n  highRiskFlagsList: data.highRiskFlagsList || 'None',\n  consentRequiredList: data.consentRequiredList || 'None',\n  riskAnalysis,\n  fileName, fileId,\n  processedAt: new Date().toISOString(),\n  fileId: fileId,\n  effectiveDate: data.executionDate || \"N/A\",\n  expirationDate: \"N/A\",\n  termLength: \"N/A\",\n  terminationNotice: (data.terminationNoticeDays || 0) + \" days\",\n  changeOfControlStatus: data.changeOfControlClause ? \"Present\" : \"Not Present\",\n  cocConsentRequired: consents.length > 0 ? \"Yes\" : \"No\",\n  cocTerminationRight: data.changeOfControlClause ? \"Yes\" : \"No\",\n  macClause: \"N/A\",\n  nonCompete: data.nonCompetePresent ? `${data.nonCompeteDurationMonths || 0} months` : \"None\",\n  nonSolicitation: data.nonSolicitPresent ? `${data.nonSolicitDurationMonths || 0} months` : \"None\",\n  missingClauses: \"N/A\",\n  gdprCompliance: \"N/A\",\n  antiBribery: \"N/A\",\n  riskLevel: data.totalRiskScore >= 70 ? \"High\" : data.totalRiskScore >= 40 ? \"Medium\" : \"Low\",\n  criticalIssues: flagsList,\n  highIssues: \"N/A\",\n}}];"
      },
      "id": "format-data",
      "name": "Format Assessment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        300
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "list",
          "cachedResultName": "M&A Due Diligence Log"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Contracts"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Document": "={{ $json.documentTitle }}",
            "Type": "={{ $json.documentType }}",
            "Parties": "={{ $json.parties }}",
            "Effective Date": "={{ $json.effectiveDate }}",
            "Term": "={{ $json.termLength }}",
            "Governing Law": "={{ $json.governingLaw }}",
            "CoC Status": "={{ $json.changeOfControlStatus }}",
            "CoC Consent": "={{ $json.cocConsentRequired }}",
            "Risk Level": "={{ $json.riskLevel }}",
            "Critical Issues": "={{ $json.criticalIssues }}",
            "Missing Clauses": "={{ $json.missingClauses }}",
            "Processed Date": "={{ $json.processedAt.split('T')[0] }}",
            "Execution Date": "={{ $json.executionDate }}",
            "Risk Score": "={{ $json.totalRiskScore }}",
            "Flags": "={{ $json.flagCount }}",
            "Change of Control": "={{ $json.changeOfControlClause ? 'Yes' : 'No' }}",
            "Non-Compete": "={{ $json.nonCompetePresent ? 'Yes' : 'No' }}",
            "Consents Needed": "={{ $json.consentCount }}",
            "Document Link": "=https://drive.google.com/file/d/{{ $json.fileId }}/view",
            "Added Date": "={{ $json.processedAt.split('T')[0] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Document",
              "displayName": "Document",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Parties",
              "displayName": "Parties",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Effective Date",
              "displayName": "Effective Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Term",
              "displayName": "Term",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Governing Law",
              "displayName": "Governing Law",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CoC Status",
              "displayName": "CoC Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CoC Consent",
              "displayName": "CoC Consent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Risk Level",
              "displayName": "Risk Level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Critical Issues",
              "displayName": "Critical Issues",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Missing Clauses",
              "displayName": "Missing Clauses",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Processed Date",
              "displayName": "Processed Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "sheets-log",
      "name": "Log to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1520,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "YOUR_SLACK_CHANNEL_ID",
          "mode": "list",
          "cachedResultName": "ma-due-diligence"
        },
        "text": "=📊 *M&A Due Diligence Analysis Complete*\n\n*Document:* {{ $('Format Assessment').item.json.fileName }}\n*Type:* {{ $('Format Assessment').item.json.documentType }}\n*Parties:* {{ $('Format Assessment').item.json.parties }}\n\n📅 *Contract Terms:*\n• Effective: {{ $('Format Assessment').item.json.effectiveDate }}\n• Expiration: {{ $('Format Assessment').item.json.expirationDate }}\n• Term: {{ $('Format Assessment').item.json.termLength }}\n• Governing Law: {{ $('Format Assessment').item.json.governingLaw }}\n\n🔄 *Change of Control:*\n• Status: {{ $('Format Assessment').item.json.changeOfControlStatus }}\n• Consent Required: {{ $('Format Assessment').item.json.cocConsentRequired }}\n• Termination Right: {{ $('Format Assessment').item.json.cocTerminationRight }}\n\n⚖️ *Restrictive Covenants:*\n• Non-Compete: {{ $('Format Assessment').item.json.nonCompete }}\n• Non-Solicitation: {{ $('Format Assessment').item.json.nonSolicitation }}\n• Termination Notice: {{ $('Format Assessment').item.json.terminationNotice }}\n\n✅ *Compliance Provisions:*\n• GDPR: {{ $('Format Assessment').item.json.gdprCompliance }}\n• Anti-Bribery: {{ $('Format Assessment').item.json.antiBribery }}\n• MAC Clause: {{ $('Format Assessment').item.json.macClause }}\n\n⚠️ *Risk Assessment:*\n• Risk Level: *{{ $('Format Assessment').item.json.riskLevel }}*\n• Critical Issues: {{ $('Format Assessment').item.json.criticalIssues }}\n• High Issues: {{ $('Format Assessment').item.json.highIssues }}\n• Missing Clauses: {{ $('Format Assessment').item.json.missingClauses }}\n\n🔗 <https://drive.google.com/file/d/{{ $('Format Assessment').item.json.fileId }}/view|View Document>",
        "otherOptions": {}
      },
      "id": "slack-notify",
      "name": "Send to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1720,
        300
      ],
      "credentials": {
        "slackOAuth2Api": {
          "id": "YOUR_SLACK_CREDENTIAL_ID",
          "name": "Slack"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "New Data Room Doc": {
      "main": [
        [
          {
            "node": "Download Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Document": {
      "main": [
        [
          {
            "node": "Extract Contract Terms",
            "type": "main",
            "index": 0
          },
          {
            "node": "Risk Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Contract Terms": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Risk Analysis": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Format Assessment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Assessment": {
      "main": [
        [
          {
            "node": "Log to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Sheets": {
      "main": [
        [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
