n8n-workflows/patient-referral-processor.json
{
  "name": "Extract patient referrals from PDFs and route to departments",
  "nodes": [
    {
      "parameters": {
        "content": "## 🏥 Patient Referral Processor\n\n### What this workflow does\n1. Watches Google Drive folder for referral letters\n2. Extracts patient info, referring MD, diagnosis\n3. Identifies urgency level (routine/urgent/stat)\n4. Routes to the right department automatically\n5. Logs referral to Google Sheets\n6. Sends Slack alert with referral details\n\n### Setup steps\n1. Get PDF Vector API key from pdfvector.com/api-keys\n2. Create a Google Drive folder for referral documents\n3. Create a Google Sheet with these columns:\n   Patient Name | DOB | Phone | Insurance | Referring MD | MD Practice | Diagnosis | ICD Codes | Urgency | Requested Service | Department | Status | Referral Date | Processed Date\n4. Update the folder ID and sheet ID in the nodes\n5. Connect your Slack workspace\n\n### Perfect for\n- Hospital intake teams\n- Referral coordinators\n- Specialty clinic staff",
        "height": 540,
        "width": 400,
        "color": 5
      },
      "id": "sticky-main",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        60,
        60
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "YOUR_FOLDER_ID",
          "mode": "list",
          "cachedResultName": "Patient Referrals"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "gdrive-trigger",
      "name": "New Referral Letter",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        480,
        280
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "gdrive-download",
      "name": "Download Referral",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        680,
        280
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "operation": "extract",
        "inputType": "file",
        "prompt": "Extract patient referral letter data as flat fields. patientName, patientDob, patientId, patientPhone, patientEmail, patientAddress, referringPhysicianName, referringPhysicianNpi, referringClinic, referringPhone, referringFax, specialistType, specialistName, referralDate (YYYY-MM-DD), urgency (Routine/Urgent/STAT), icdCodesList (semicolon-separated ICD-10 codes with descriptions), referralReason, clinicalSummary, medicalHistoryList (semicolon-separated relevant history), currentMedicationsList (semicolon-separated medications with doses), allergiesList (semicolon-separated allergies with reactions), recentTestsList (semicolon-separated recent tests with results), insuranceProvider, policyNumber, authorizationNumber, specialInstructions, attachmentsList.",
        "schema": "{\"type\": \"object\", \"properties\": {\"patientName\": {\"type\": \"string\"}, \"patientDob\": {\"type\": \"string\"}, \"patientId\": {\"type\": \"string\"}, \"patientPhone\": {\"type\": \"string\"}, \"patientEmail\": {\"type\": \"string\"}, \"patientAddress\": {\"type\": \"string\"}, \"referringPhysicianName\": {\"type\": \"string\"}, \"referringPhysicianNpi\": {\"type\": \"string\"}, \"referringClinic\": {\"type\": \"string\"}, \"referringPhone\": {\"type\": \"string\"}, \"referringFax\": {\"type\": \"string\"}, \"specialistType\": {\"type\": \"string\"}, \"specialistName\": {\"type\": \"string\"}, \"referralDate\": {\"type\": \"string\"}, \"urgency\": {\"type\": \"string\"}, \"icdCodesList\": {\"type\": \"string\"}, \"referralReason\": {\"type\": \"string\"}, \"clinicalSummary\": {\"type\": \"string\"}, \"medicalHistoryList\": {\"type\": \"string\"}, \"currentMedicationsList\": {\"type\": \"string\"}, \"allergiesList\": {\"type\": \"string\"}, \"recentTestsList\": {\"type\": \"string\"}, \"insuranceProvider\": {\"type\": \"string\"}, \"policyNumber\": {\"type\": \"string\"}, \"authorizationNumber\": {\"type\": \"string\"}, \"specialInstructions\": {\"type\": \"string\"}, \"attachmentsList\": {\"type\": \"string\"}}, \"additionalProperties\": false}"
      },
      "id": "pdfvector-extract",
      "name": "Extract Referral Data",
      "type": "n8n-nodes-pdfvector.pdfVector",
      "typeVersion": 2,
      "position": [
        880,
        280
      ],
      "credentials": {
        "pdfVectorApi": {
          "id": "YOUR_PDFVECTOR_CREDENTIAL_ID",
          "name": "PDF Vector"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = ($input.first().json?.data || $input.first().json) || {};\nconst fileName = $('New Referral Letter').item.json.name;\nconst fileId   = $('New Referral Letter').item.json.id;\n\nconst urgency = data.urgency || 'Routine';\nlet urgencyEmoji = '📋';\nif (urgency === 'STAT') urgencyEmoji = '🚨';\nelse if (urgency === 'Urgent') urgencyEmoji = '⚠️';\n\nreturn [{ json: {\n  patientName:           data.patientName           || 'Unknown',\n  patientDob:            data.patientDob            || 'N/A',\n  referringPhysicianName: data.referringPhysicianName || 'N/A',\n  referringClinic:       data.referringClinic       || 'N/A',\n  specialistType:        data.specialistType        || 'N/A',\n  specialistName:        data.specialistName        || 'N/A',\n  referralDate:          data.referralDate          || 'N/A',\n  urgency, urgencyEmoji,\n  icdCodesList:          data.icdCodesList          || 'N/A',\n  referralReason:        data.referralReason        || 'N/A',\n  clinicalSummary:       data.clinicalSummary       || 'N/A',\n  currentMedicationsList: data.currentMedicationsList || 'None',\n  allergiesList:         data.allergiesList         || 'NKDA',\n  recentTestsList:       data.recentTestsList       || 'None',\n  insuranceProvider:     data.insuranceProvider     || 'N/A',\n  authorizationNumber:   data.authorizationNumber   || 'N/A',\n  specialInstructions:   data.specialInstructions   || 'None',\n  fileName, fileId,\n  processedAt: new Date().toISOString(),\n  fileId: fileId,\n  dateOfBirth: data.patientDob || \"N/A\",\n  phone: data.patientPhone || \"N/A\",\n  diagnosis: data.icdCodesList || \"N/A\",\n  icdCodes: data.icdCodesList || \"N/A\",\n  requestedService: data.specialistType || \"N/A\",\n  department: data.specialistType || \"N/A\",\n  currentMedications: data.currentMedicationsList || \"None\",\n  allergies: data.allergiesList || \"NKDA\",\n  insuranceId: data.policyNumber || \"N/A\",\n  referringMDName: data.referringPhysicianName || \"N/A\",\n  referringMDPhone: data.referringPhone || \"N/A\",\n  referringMDPractice: data.referringClinic || \"N/A\",\n  urgencyLevel: urgency,\n  priorityFlag: urgencyEmoji,\n}}];"
      },
      "id": "format-data",
      "name": "Format and Route",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        280
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "list",
          "cachedResultName": "Patient Referrals Log"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Referrals"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Patient Name": "={{ $json.patientName }}",
            "DOB": "={{ $json.dateOfBirth }}",
            "Phone": "={{ $json.phone }}",
            "Insurance": "={{ $json.insuranceProvider }}",
            "Referring MD": "={{ $json.referringPhysicianName }}",
            "MD Practice": "={{ $json.referringMDPractice }}",
            "Diagnosis": "={{ $json.diagnosis }}",
            "ICD Codes": "={{ $json.icdCodes }}",
            "Urgency": "={{ $json.urgency }}",
            "Requested Service": "={{ $json.requestedService }}",
            "Department": "={{ $json.department }}",
            "Status": "New",
            "Referral Date": "={{ $json.referralDate }}",
            "Processed Date": "={{ $json.processedAt.split('T')[0] }}",
            "Patient": "={{ $json.patientName }}",
            "Specialist Type": "={{ $json.specialistType }}",
            "Reason": "={{ $json.referralReason }}",
            "Document Link": "=https://drive.google.com/file/d/{{ $json.fileId }}/view",
            "Added Date": "={{ $json.processedAt.split('T')[0] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Patient Name",
              "displayName": "Patient Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DOB",
              "displayName": "DOB",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Insurance",
              "displayName": "Insurance",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Referring MD",
              "displayName": "Referring MD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MD Practice",
              "displayName": "MD Practice",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Diagnosis",
              "displayName": "Diagnosis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ICD Codes",
              "displayName": "ICD Codes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Urgency",
              "displayName": "Urgency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Requested Service",
              "displayName": "Requested Service",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Department",
              "displayName": "Department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Referral Date",
              "displayName": "Referral Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Processed Date",
              "displayName": "Processed Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "sheets-log",
      "name": "Log to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1280,
        280
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "YOUR_SLACK_CHANNEL_ID",
          "mode": "list",
          "cachedResultName": "patient-referrals"
        },
        "text": "={{ $('Format and Route').item.json.priorityFlag }} *New Patient Referral*\n\n*Patient:* {{ $('Format and Route').item.json.patientName }}\n*DOB:* {{ $('Format and Route').item.json.dateOfBirth }}\n*Phone:* {{ $('Format and Route').item.json.phone }}\n\n📋 *Insurance:*\n• Provider: {{ $('Format and Route').item.json.insuranceProvider }}\n• ID: {{ $('Format and Route').item.json.insuranceId }}\n\n👨‍⚕️ *Referring Physician:*\n• Name: {{ $('Format and Route').item.json.referringMDName }}\n• Practice: {{ $('Format and Route').item.json.referringMDPractice }}\n• Phone: {{ $('Format and Route').item.json.referringMDPhone }}\n\n🏥 *Referral Details:*\n• Date: {{ $('Format and Route').item.json.referralDate }}\n• Urgency: *{{ $('Format and Route').item.json.urgencyLevel }}*\n• Diagnosis: {{ $('Format and Route').item.json.diagnosis }}\n• ICD Codes: {{ $('Format and Route').item.json.icdCodes }}\n\n🎯 *Routing:*\n• Requested: {{ $('Format and Route').item.json.requestedService }}\n• *Department: {{ $('Format and Route').item.json.department }}*\n\n💊 *Clinical Info:*\n• Medications: {{ $('Format and Route').item.json.currentMedications }}\n• Allergies: {{ $('Format and Route').item.json.allergies }}\n\n🔗 <https://drive.google.com/file/d/{{ $('Format and Route').item.json.fileId }}/view|View Referral>",
        "otherOptions": {}
      },
      "id": "slack-notify",
      "name": "Send to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1480,
        280
      ],
      "credentials": {
        "slackOAuth2Api": {
          "id": "YOUR_SLACK_CREDENTIAL_ID",
          "name": "Slack"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "New Referral Letter": {
      "main": [
        [
          {
            "node": "Download Referral",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Referral": {
      "main": [
        [
          {
            "node": "Extract Referral Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Referral Data": {
      "main": [
        [
          {
            "node": "Format and Route",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format and Route": {
      "main": [
        [
          {
            "node": "Log to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Sheets": {
      "main": [
        [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
