n8n-workflows/property-listing-extractor.json
{
  "name": "Real Estate Property Listing Extractor",
  "nodes": [
    {
      "parameters": {
        "content": "## 🏡 Property Listing Extractor\n\n### What this workflow does\n1. Watches Google Drive for property listing PDFs\n2. Downloads and extracts listing details\n3. Parses price, beds, baths, sqft, features\n4. Calculates price/sqft and monthly costs\n5. Logs to property database in Sheets\n6. Sends listing summary to Slack\n\n### Setup steps\n1. Get PDF Vector API key from pdfvector.com/api-keys\n2. Create Google Drive folder for listings\n3. Create Google Sheet with columns:\n   Address, Price, Type, Beds, Baths, Sq Ft, $/Sq Ft, Year Built, Lot Size, HOA, Taxes/Year, Est. Monthly, MLS #, Status, DOM, Agent, Agent Phone, Listing Link, Added Date\n4. Update folder ID and spreadsheet ID in nodes\n5. Connect Slack for notifications\n\n### Perfect for\n- Real estate agents\n- Property investors\n- Property managers\n- Home buyers",
        "height": 620,
        "width": 380,
        "color": 5
      },
      "id": "sticky-main",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -120,
        0
      ]
    },
    {
      "parameters": {
        "content": "## 📊 Data Tracked\n\n- Price & price/sqft\n- Bedrooms/Bathrooms\n- Square footage\n- Lot size\n- Year built\n- HOA fees\n- Property taxes\n- Agent contact",
        "height": 240,
        "width": 200
      },
      "id": "sticky-data",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1080,
        0
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "YOUR_LISTINGS_FOLDER_ID",
          "mode": "list",
          "cachedResultName": "Property Listings"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "gdrive-trigger",
      "name": "New Listing",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        300,
        280
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "gdrive-download",
      "name": "Download Listing",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        500,
        280
      ]
    },
    {
      "parameters": {
        "operation": "extract",
        "inputType": "file",
        "prompt": "Extract real estate property listing data as flat fields. streetAddress, city, state, zipCode, county, listingPrice (number), pricePerSqFt (number), propertyType (e.g. Single Family, Condo, Townhouse, Multi-Family), bedrooms (number), bathrooms (number), squareFeet (number), lotSizeSqFt (number), yearBuilt (number), garageSpaces (number), stories (number), mlsNumber, listingStatus (Active/Pending/Sold/Off Market), daysOnMarket (number), hoaMonthly (number), propertyTaxAnnual (number), indoorFeaturesList (semicolon-separated indoor features), outdoorFeaturesList (semicolon-separated outdoor features), appliancesList (semicolon-separated appliances included), listingAgentName, listingAgentPhone, listingAgentEmail, brokerageName, estimatedMortgage (number), description.",
        "schema": "{\"type\": \"object\", \"properties\": {\"streetAddress\": {\"type\": \"string\"}, \"city\": {\"type\": \"string\"}, \"state\": {\"type\": \"string\"}, \"zipCode\": {\"type\": \"string\"}, \"listingPrice\": {\"type\": \"number\"}, \"pricePerSqFt\": {\"type\": \"number\"}, \"propertyType\": {\"type\": \"string\"}, \"bedrooms\": {\"type\": \"number\"}, \"bathrooms\": {\"type\": \"number\"}, \"squareFeet\": {\"type\": \"number\"}, \"lotSizeSqFt\": {\"type\": \"number\"}, \"yearBuilt\": {\"type\": \"number\"}, \"garageSpaces\": {\"type\": \"number\"}, \"stories\": {\"type\": \"number\"}, \"mlsNumber\": {\"type\": \"string\"}, \"listingStatus\": {\"type\": \"string\"}, \"daysOnMarket\": {\"type\": \"number\"}, \"hoaMonthly\": {\"type\": \"number\"}, \"propertyTaxAnnual\": {\"type\": \"number\"}, \"indoorFeaturesList\": {\"type\": \"string\"}, \"outdoorFeaturesList\": {\"type\": \"string\"}, \"appliancesList\": {\"type\": \"string\"}, \"listingAgentName\": {\"type\": \"string\"}, \"listingAgentPhone\": {\"type\": \"string\"}, \"listingAgentEmail\": {\"type\": \"string\"}, \"brokerageName\": {\"type\": \"string\"}, \"estimatedMortgage\": {\"type\": \"number\"}, \"description\": {\"type\": \"string\"}}, \"additionalProperties\": false}"
      },
      "id": "pdfvector-extract",
      "name": "PDF Vector Extract",
      "type": "n8n-nodes-pdfvector.pdfVector",
      "typeVersion": 2,
      "position": [
        700,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = ($input.first().json?.data || $input.first().json) || {};\nconst fileName = $('New Listing').item.json.name;\nconst fileId   = $('New Listing').item.json.id;\n\nconst address = [data.streetAddress, data.city, data.state, data.zipCode].filter(Boolean).join(', ') || 'N/A';\nconst cleanNum = v => parseFloat(String(v || 0).replace(/[^0-9.]/g, '')) || 0;\nconst price = cleanNum(data.listingPrice);\nconst priceFormatted = '$' + price.toLocaleString();\nconst sqFt  = parseFloat(data.squareFeet)   || 0;\nconst pricePerSqFt = data.pricePerSqFt || (sqFt > 0 ? Math.round(price / sqFt) : 0);\nconst hoaMonthly = cleanNum(data.hoaMonthly);\nconst taxAnnual  = cleanNum(data.propertyTaxAnnual);\nconst mortgage   = cleanNum(data.estimatedMortgage);\nconst estMonthly = mortgage + hoaMonthly + Math.round(taxAnnual / 12);\n\nreturn [{ json: {\n  address,\n  streetAddress:   data.streetAddress  || 'N/A',\n  city:            data.city           || 'N/A',\n  state:           data.state          || 'N/A',\n  listingPrice:    price,\n  priceFormatted:  '$' + price.toLocaleString(),\n  pricePerSqFt,\n  propertyType:    data.propertyType   || 'N/A',\n  bedrooms:        data.bedrooms        || 0,\n  bathrooms:       data.bathrooms       || 0,\n  squareFeet:      sqFt,\n  lotSizeSqFt:     data.lotSizeSqFt    || 0,\n  yearBuilt:       data.yearBuilt       || 'N/A',\n  garageSpaces:    data.garageSpaces    || 0,\n  mlsNumber:       data.mlsNumber       || 'N/A',\n  listingStatus:   data.listingStatus   || 'N/A',\n  daysOnMarket:    data.daysOnMarket    || 0,\n  hoaMonthly,\n  propertyTaxAnnual: taxAnnual,\n  estimatedMortgage: mortgage,\n  estMonthly,\n  indoorFeaturesList:  data.indoorFeaturesList  || 'N/A',\n  outdoorFeaturesList: data.outdoorFeaturesList || 'N/A',\n  listingAgentName:  data.listingAgentName  || 'N/A',\n  listingAgentPhone: data.listingAgentPhone || 'N/A',\n  brokerageName:     data.brokerageName     || 'N/A',\n  description:       data.description       || 'N/A',\n  fileName, fileId,\n  processedAt: new Date().toISOString(),\n  fullAddress: address,\n  listPrice: priceFormatted || '$0',\n  pricePerSqft: pricePerSqFt,\n  featuresList: data.indoorFeaturesList || 'N/A',\n  hoaText: hoaMonthly > 0 ? '$' + hoaMonthly + '/mo' : 'None',\n  monthlyTaxes: Math.round(taxAnnual / 12),\n  estimatedMonthlyCost: estMonthly,\n}}];"
      },
      "id": "process-listing",
      "name": "Process Listing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        280
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "list",
          "cachedResultName": "Property Database"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Listings"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Address": "={{ $json.address }}",
            "Price": "={{ $json.listingPrice }}",
            "Type": "={{ $json.propertyType }}",
            "Beds": "={{ $json.bedrooms }}",
            "Baths": "={{ $json.bathrooms }}",
            "Sq Ft": "={{ $json.squareFeet }}",
            "$/Sq Ft": "={{ $json.pricePerSqFt }}",
            "Year Built": "={{ $json.yearBuilt }}",
            "Lot Size": "={{ $json.lotSizeSqFt }}",
            "HOA": "={{ $json.hoaMonthly }}",
            "Taxes/Year": "={{ $json.propertyTaxAnnual }}",
            "Est. Monthly": "={{ $json.estMonthly }}",
            "MLS #": "={{ $json.mlsNumber }}",
            "Status": "={{ $json.listingStatus }}",
            "DOM": "={{ $json.daysOnMarket }}",
            "Agent": "={{ $json.listingAgentName }}",
            "Agent Phone": "={{ $json.listingAgentPhone }}",
            "Listing Link": "=https://drive.google.com/file/d/{{ $json.fileId }}/view",
            "Added Date": "={{ $json.processedAt.split('T')[0] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Price",
              "displayName": "Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Beds",
              "displayName": "Beds",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Baths",
              "displayName": "Baths",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sq Ft",
              "displayName": "Sq Ft",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "$/Sq Ft",
              "displayName": "$/Sq Ft",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Year Built",
              "displayName": "Year Built",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lot Size",
              "displayName": "Lot Size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HOA",
              "displayName": "HOA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Taxes/Year",
              "displayName": "Taxes/Year",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Est. Monthly",
              "displayName": "Est. Monthly",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MLS #",
              "displayName": "MLS #",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DOM",
              "displayName": "DOM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Agent",
              "displayName": "Agent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Agent Phone",
              "displayName": "Agent Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Listing Link",
              "displayName": "Listing Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Added Date",
              "displayName": "Added Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "sheets-log",
      "name": "Log to Database",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1100,
        280
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "YOUR_SLACK_CHANNEL_ID",
          "mode": "list",
          "cachedResultName": "real-estate"
        },
        "text": "=🏡 *New Property Listing*\n\n*Address:* {{ $('Process Listing').item.json.fullAddress }}\n*Price:* ${{ $('Process Listing').item.json.listPrice.toLocaleString() }}\n*Type:* {{ $('Process Listing').item.json.propertyType }}\n\n🏠 *Details:*\n• Beds/Baths: {{ $('Process Listing').item.json.bedrooms || 'N/A' }}/{{ $('Process Listing').item.json.bathrooms || 'N/A' }}\n• Sq Ft: {{ $('Process Listing').item.json.squareFeet ? $('Process Listing').item.json.squareFeet.toLocaleString() : 'N/A' }}\n• Price/Sq Ft: ${{ $('Process Listing').item.json.pricePerSqft || 'N/A' }}\n• Year Built: {{ $('Process Listing').item.json.yearBuilt || 'N/A' }}\n\n💵 *Est. Monthly:* ${{ $('Process Listing').item.json.estimatedMonthlyCost.toLocaleString() }}\n• HOA: {{ $('Process Listing').item.json.hoaText }}\n• Taxes: ${{ $('Process Listing').item.json.monthlyTaxes }}/mo\n\n✨ *Features:* {{ $('Process Listing').item.json.featuresList }}\n\n🔗 <https://drive.google.com/file/d/{{ $('Process Listing').item.json.fileId }}/view|View Listing>",
        "options": {}
      },
      "id": "slack-notify",
      "name": "Send to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1300,
        280
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "New Listing": {
      "main": [
        [
          {
            "node": "Download Listing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Listing": {
      "main": [
        [
          {
            "node": "PDF Vector Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF Vector Extract": {
      "main": [
        [
          {
            "node": "Process Listing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Listing": {
      "main": [
        [
          {
            "node": "Log to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Database": {
      "main": [
        [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
