n8n-workflows/quote-comparison-vendor-selection.json
{
  "name": "Quote Comparison & Vendor Selection Tool",
  "nodes": [
    {
      "parameters": {
        "content": "## 💰 Quote Comparison & Vendor Selection Tool\n\n### What this workflow does\n1. Watches Google Drive folder for new vendor quote PDFs\n2. Downloads and extracts quote details (items, pricing, terms)\n3. Calculates effective pricing and checks quote validity\n4. Logs to Google Sheets for side-by-side comparison\n5. Notifies team on Slack with quote summary\n\n### Setup steps\n1. Create Google Drive folder for vendor quotes\n2. Get PDF Vector API key from pdfvector.com/api-keys\n3. Create Google Sheet with columns:\n   Vendor, Quote #, Quote Date, Valid Until, Status, Items, Subtotal, Discount, Shipping, Tax, Grand Total, Currency, Delivery Days, Payment Terms, Warranty, Contact, Quote Link, Added Date\n4. Update folder ID and spreadsheet ID in nodes\n5. Connect Slack and set procurement channel\n\n### Perfect for\n- Procurement teams comparing bids\n- Project managers evaluating contractors\n- Business owners selecting vendors\n- Freelancers comparing service quotes",
        "height": 560,
        "width": 380,
        "color": 5
      },
      "id": "sticky-main",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -140,
        -20
      ]
    },
    {
      "parameters": {
        "content": "## 📊 Extracted Fields\n\n- Vendor name & contact\n- Quote number & date\n- Valid until date\n- Line items with prices\n- Subtotal, discounts, tax\n- Shipping cost\n- Grand total\n- Payment terms\n- Delivery timeline\n- Warranty coverage\n- Special conditions",
        "height": 300,
        "width": 220
      },
      "id": "sticky-fields",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        500,
        -60
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "YOUR_FOLDER_ID",
          "mode": "list",
          "cachedResultName": "Vendor Quotes"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "gdrive-trigger",
      "name": "Google Drive Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        280,
        220
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": "={{ $json.id }}",
        "options": {}
      },
      "id": "gdrive-download",
      "name": "Download Quote",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        480,
        220
      ]
    },
    {
      "parameters": {
        "operation": "extract",
        "inputType": "file",
        "prompt": "Extract vendor quote data as flat fields. vendorName, vendorAddress, vendorContact, vendorEmail, vendorPhone, quoteNumber, quoteDate (YYYY-MM-DD), validUntil (YYYY-MM-DD), lineItemsList (semicolon-separated formatted as: itemCode description qty unit unitPrice total), itemCount (number), subtotal (number), discountAmount (number), discountPercent (number), shippingCost (number), taxAmount (number), taxRate (number), grandTotal (number), currency, deliveryDays (number), deliveryTerms, paymentTerms, warrantyMonths (number), warrantyDetails, specialConditions, notes.",
        "schema": "{\"type\": \"object\", \"properties\": {\"vendorName\": {\"type\": \"string\"}, \"vendorAddress\": {\"type\": \"string\"}, \"vendorContact\": {\"type\": \"string\"}, \"vendorEmail\": {\"type\": \"string\"}, \"vendorPhone\": {\"type\": \"string\"}, \"quoteNumber\": {\"type\": \"string\"}, \"quoteDate\": {\"type\": \"string\"}, \"validUntil\": {\"type\": \"string\"}, \"lineItemsList\": {\"type\": \"string\"}, \"itemCount\": {\"type\": \"number\"}, \"subtotal\": {\"type\": \"number\"}, \"discountAmount\": {\"type\": \"number\"}, \"discountPercent\": {\"type\": \"number\"}, \"shippingCost\": {\"type\": \"number\"}, \"taxAmount\": {\"type\": \"number\"}, \"taxRate\": {\"type\": \"number\"}, \"grandTotal\": {\"type\": \"number\"}, \"currency\": {\"type\": \"string\"}, \"deliveryDays\": {\"type\": \"number\"}, \"deliveryTerms\": {\"type\": \"string\"}, \"paymentTerms\": {\"type\": \"string\"}, \"warrantyMonths\": {\"type\": \"number\"}, \"warrantyDetails\": {\"type\": \"string\"}, \"specialConditions\": {\"type\": \"string\"}, \"notes\": {\"type\": \"string\"}}, \"additionalProperties\": false}"
      },
      "id": "pdfvector-extract",
      "name": "PDF Vector - Extract Quote",
      "type": "n8n-nodes-pdfvector.pdfVector",
      "typeVersion": 2,
      "position": [
        680,
        220
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = ($input.first().json?.data || $input.first().json) || {};\nconst fileName = $('Google Drive Trigger').item.json.name;\nconst fileId   = $('Google Drive Trigger').item.json.id;\n\nconst cleanNum = v => parseFloat(String(v || 0).replace(/[^0-9.]/g, '')) || 0;\nconst grandTotal = cleanNum(data.grandTotal);\nconst subtotal   = cleanNum(data.subtotal);\nconst discount   = cleanNum(data.discountAmount);\nconst shipping   = cleanNum(data.shippingCost);\nconst tax        = cleanNum(data.taxAmount);\nconst fmt = n => '$' + n.toLocaleString('en-US', {minimumFractionDigits:2, maximumFractionDigits:2});\nconst grandTotalFormatted = fmt(grandTotal);\nconst subtotalFormatted   = fmt(subtotal);\nconst shippingFormatted   = fmt(shipping);\nconst taxFormatted        = fmt(tax);\nconst discountText = discount > 0 ? `${fmt(discount)} (${data.discountPercent || 0}%)` : 'None';\nconst warrantyText = data.warrantyMonths ? `${data.warrantyMonths} months` : (data.warrantyDetails || 'N/A');\n\nlet validityStatus = 'Valid'; let validityEmoji = '✅';\nif (data.validUntil) {\n  const days = Math.ceil((new Date(data.validUntil) - new Date()) / (1000*60*60*24));\n  if (days < 0)        { validityStatus = 'Expired';       validityEmoji = '❌'; }\n  else if (days <= 7)  { validityStatus = 'Expiring Soon'; validityEmoji = '⚠️'; }\n}\n\nconst deliveryTimeline = data.deliveryDays ? `${data.deliveryDays} days` : (data.deliveryTerms || 'N/A');\nconst itemsList = data.lineItemsList || 'N/A';\n\nreturn [{ json: {\n  vendorName:    data.vendorName    || 'Unknown',\n  vendorContact: data.vendorContact || 'N/A',\n  vendorEmail:   data.vendorEmail   || 'N/A',\n  quoteNumber:   data.quoteNumber   || 'N/A',\n  quoteDate:     data.quoteDate     || 'N/A',\n  validUntil:    data.validUntil    || 'N/A',\n  validityStatus, validityEmoji,\n  quoteStatus:   validityStatus,\n  itemCount:     parseInt(data.itemCount) || 0,\n  itemsList, lineItemsList: itemsList,\n  subtotal, subtotalFormatted,\n  discountAmount: discount, discountText,\n  shippingCost: shipping, shippingFormatted,\n  taxAmount: tax, taxFormatted,\n  grandTotal, grandTotalFormatted,\n  currency:      data.currency      || 'USD',\n  deliveryDays:  parseInt(data.deliveryDays) || 0,\n  deliveryTimeline,\n  paymentTerms:  data.paymentTerms  || 'N/A',\n  warrantyMonths: parseInt(data.warrantyMonths) || 0,\n  warrantyText,\n  specialConditions: data.specialConditions || 'None',\n  fileName, fileId,\n  processedAt: new Date().toISOString()\n}}];"
      },
      "id": "process-quote",
      "name": "Process Quote",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        220
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "list",
          "cachedResultName": "Quote Comparison"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Quotes"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Vendor": "={{ $json.vendorName }}",
            "Quote #": "={{ $json.quoteNumber }}",
            "Quote Date": "={{ $json.quoteDate }}",
            "Valid Until": "={{ $json.validUntil }}",
            "Status": "={{ $json.quoteStatus }}",
            "Items": "={{ $json.itemCount }}",
            "Subtotal": "={{ $json.subtotal }}",
            "Discount": "={{ $json.discountAmount }}",
            "Shipping": "={{ $json.shippingCost }}",
            "Tax": "={{ $json.taxAmount }}",
            "Grand Total": "={{ $json.grandTotal }}",
            "Currency": "={{ $json.currency }}",
            "Delivery Days": "={{ $json.deliveryDays }}",
            "Payment Terms": "={{ $json.paymentTerms }}",
            "Warranty": "={{ $json.warrantyMonths }} months",
            "Contact": "={{ $json.vendorEmail }}",
            "Quote Link": "=https://drive.google.com/file/d/{{ $json.fileId }}/view",
            "Added Date": "={{ $json.processedAt.split('T')[0] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Vendor",
              "displayName": "Vendor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quote #",
              "displayName": "Quote #",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quote Date",
              "displayName": "Quote Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Valid Until",
              "displayName": "Valid Until",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Items",
              "displayName": "Items",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Subtotal",
              "displayName": "Subtotal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Discount",
              "displayName": "Discount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Shipping",
              "displayName": "Shipping",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tax",
              "displayName": "Tax",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Grand Total",
              "displayName": "Grand Total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Currency",
              "displayName": "Currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Delivery Days",
              "displayName": "Delivery Days",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Payment Terms",
              "displayName": "Payment Terms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Warranty",
              "displayName": "Warranty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact",
              "displayName": "Contact",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quote Link",
              "displayName": "Quote Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Added Date",
              "displayName": "Added Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "sheets-log",
      "name": "Add to Quote Comparison",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1080,
        220
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "YOUR_SLACK_CHANNEL_ID",
          "mode": "list",
          "cachedResultName": "procurement"
        },
        "text": "={{ $('Process Quote').item.json.validityEmoji }} *New Vendor Quote Added*\n\n*Vendor:* {{ $('Process Quote').item.json.vendorName }}\n*Quote #:* {{ $('Process Quote').item.json.quoteNumber || 'N/A' }}\n*Quote Date:* {{ $('Process Quote').item.json.quoteDate || 'N/A' }}\n\n📋 *Line Items ({{ $('Process Quote').item.json.itemCount }}):*\n{{ $('Process Quote').item.json.itemsList }}\n\n💵 *Pricing:*\n• Subtotal: {{ $('Process Quote').item.json.subtotalFormatted }}\n• Discount: {{ $('Process Quote').item.json.discountText }}\n• Shipping: {{ $('Process Quote').item.json.shippingFormatted }}\n• Tax: {{ $('Process Quote').item.json.taxFormatted }}\n• *Grand Total: {{ $('Process Quote').item.json.grandTotalFormatted }} {{ $('Process Quote').item.json.currency || 'USD' }}*\n\n📅 *Validity:* {{ $('Process Quote').item.json.validUntil || 'N/A' }} ({{ $('Process Quote').item.json.validityStatus }})\n🚚 *Delivery:* {{ $('Process Quote').item.json.deliveryTimeline || $('Process Quote').item.json.deliveryDays + ' days' || 'N/A' }}\n💳 *Payment:* {{ $('Process Quote').item.json.paymentTerms || 'N/A' }}\n🛡️ *Warranty:* {{ $('Process Quote').item.json.warrantyText }}\n\n<https://drive.google.com/file/d/{{ $('Process Quote').item.json.fileId }}/view|📄 View Quote>",
        "otherOptions": {}
      },
      "id": "slack-notify",
      "name": "Notify Team",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1280,
        220
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download Quote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Quote": {
      "main": [
        [
          {
            "node": "PDF Vector - Extract Quote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF Vector - Extract Quote": {
      "main": [
        [
          {
            "node": "Process Quote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Quote": {
      "main": [
        [
          {
            "node": "Add to Quote Comparison",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Quote Comparison": {
      "main": [
        [
          {
            "node": "Notify Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
