n8n-workflows/receipt-scanner-tax-organizer.json
{
  "name": "Receipt Scanner with Tax Tracking",
  "nodes": [
    {
      "parameters": {
        "content": "### 🧾 Receipt Scanner & Tax Organizer\n\n### What this workflow does:\n1. Watches Google Drive for new receipts\n2. Extracts store, date, items, total\n3. Figures out if it's tax-deductible\n4. Assigns a category\n5. Logs to Receipt Database\n6. Adds deductibles to Tax Tracker\n\n### Perfect for:\n• Freelancers tracking expenses\n• Small business bookkeeping\n• Tax prep and deductions",
        "height": 340,
        "width": 280,
        "color": 5
      },
      "id": "049d6932-10d0-4970-a6f5-390de0140c74",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        128
      ]
    },
    {
      "parameters": {
        "content": "### 💰 Tax Categories\n\n• Office Supplies\n• Business Meals\n• Travel\n• Equipment\n• Software\n• Professional Services\n• Marketing\n• Not Deductible",
        "height": 208,
        "width": 200
      },
      "id": "918d4a00-a2da-4530-83aa-582440676fb6",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1424,
        -80
      ]
    },
    {
      "parameters": {
        "content": "### 1. Get receipt\nDownloads new files from Receipts folder",
        "height": 80,
        "width": 260
      },
      "id": "b72f914b-7200-4eb9-a709-c5b02f9a2ffb",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        320,
        128
      ]
    },
    {
      "parameters": {
        "content": "### 2. Extract & process\nReads receipt and assigns tax category",
        "height": 80,
        "width": 300
      },
      "id": "1c1717f4-de6d-4a1d-8e18-4657b9b3d2ae",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        640,
        128
      ]
    },
    {
      "parameters": {
        "content": "### 3. Log & route\nSaves to database, routes deductibles separately",
        "height": 80,
        "width": 380
      },
      "id": "082dfc6d-6fbf-4ad7-82c6-14fe79612619",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1008,
        128
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "YOUR_FOLDER_ID",
          "mode": "list"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "1f83f02b-23bd-4f2d-8dd8-6817255c395a",
      "name": "Google Drive Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        352,
        272
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "0b6789e0-31fc-4866-aaeb-518ce728a603",
      "name": "Download file",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        528,
        272
      ]
    },
    {
      "parameters": {
        "operation": "extract",
        "inputType": "file",
        "prompt": "Extract receipt details as flat fields. storeName, storeAddress, receiptDate (YYYY-MM-DD), itemsList (all items as single string: name x qty @ price, semicolon-separated), subtotal (number), taxAmount (number), taxRate (number), total (number), paymentMethod, lastFourDigits, isTaxDeductible (true/false), deductionCategory (one of: Office Supplies, Business Meals, Travel, Equipment, Software, Professional Services, Marketing, Not Deductible).",
        "schema": "{\"type\": \"object\", \"properties\": {\"storeName\": {\"type\": \"string\"}, \"storeAddress\": {\"type\": \"string\"}, \"receiptDate\": {\"type\": \"string\"}, \"itemsList\": {\"type\": \"string\"}, \"subtotal\": {\"type\": \"number\"}, \"taxAmount\": {\"type\": \"number\"}, \"taxRate\": {\"type\": \"number\"}, \"total\": {\"type\": \"number\"}, \"paymentMethod\": {\"type\": \"string\"}, \"lastFourDigits\": {\"type\": \"string\"}, \"isTaxDeductible\": {\"type\": \"boolean\"}, \"deductionCategory\": {\"type\": \"string\"}}, \"additionalProperties\": false}"
      },
      "id": "906c71de-6e67-46e6-abb7-9525e4e06aa5",
      "name": "PDF Vector - Extract Receipt",
      "type": "n8n-nodes-pdfvector.pdfVector",
      "typeVersion": 2,
      "position": [
        704,
        272
      ],
      "credentials": {
        "pdfVectorApi": {
          "id": "SzTdgUBGHUbs4zxH",
          "name": "PDF Vector account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const receipt = ($input.first().json?.data || $input.first().json) || {};\n\nconst receiptId = `RCP-${Date.now().toString(36).toUpperCase()}`;\nconst receiptDate = new Date(receipt.receiptDate);\nconst taxYear = receiptDate.getFullYear() || new Date().getFullYear();\nconst quarter = Math.ceil((receiptDate.getMonth() + 1) / 3) || 1;\n\nreturn [{ json: {\n  receiptId,\n  storeName:         receipt.storeName         || 'Unknown',\n  storeAddress:      receipt.storeAddress      || 'N/A',\n  receiptDate:       receipt.receiptDate       || 'N/A',\n  itemsList:         receipt.itemsList         || 'Items not itemized',\n  subtotal:          parseFloat(receipt.subtotal) || 0,\n  taxAmount:         parseFloat(receipt.taxAmount) || 0,\n  total:             parseFloat(receipt.total) || 0,\n  paymentMethod:     receipt.paymentMethod     || 'N/A',\n  isTaxDeductible:   receipt.isTaxDeductible   || false,\n  deductionCategory: receipt.deductionCategory || 'Not Deductible',\n  taxYear,\n  quarter: `Q${quarter}`,\n  processedAt: new Date().toISOString()\n}}];"
      },
      "id": "71db1ce0-c485-42c6-acf3-2b51e11a84af",
      "name": "Process Receipt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        272
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "Receipt Database",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Receipt ID": "={{ $json.receiptId }}",
            "Date": "={{ $json.receiptDate }}",
            "Store": "={{ $json.storeName }}",
            "Items": "={{ $json.itemsList }}",
            "Subtotal": "={{ $json.subtotal || $json.total }}",
            "Tax": "={{ $json.taxAmount || 0 }}",
            "Total": "={{ $json.total }}",
            "Payment": "={{ $json.paymentMethod || 'N/A' }}",
            "Tax Deductible": "={{ $json.isTaxDeductible ? 'Yes' : 'No' }}",
            "Category": "={{ $json.deductionCategory || 'N/A' }}",
            "Tax Year": "={{ $json.taxYear }}",
            "Quarter": "={{ $json.quarter }}"
          }
        },
        "options": {}
      },
      "id": "5e12c08c-8ec3-4a89-85b6-ae1b455f8521",
      "name": "Log to Receipt Database",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1072,
        272
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "deductible-check",
              "leftValue": "={{ $('Process Receipt').item.json.isTaxDeductible }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "03128c38-d6b3-4ec7-a1a9-ce7e827593f6",
      "name": "Tax Deductible?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1248,
        272
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "Tax Deductions",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Receipt ID": "={{ $('Process Receipt').item.json.receiptId }}",
            "Date": "={{ $('Process Receipt').item.json.receiptDate }}",
            "Vendor": "={{ $('Process Receipt').item.json.storeName }}",
            "Amount": "={{ $('Process Receipt').item.json.total }}",
            "Category": "={{ $('Process Receipt').item.json.deductionCategory }}",
            "Tax Year": "={{ $('Process Receipt').item.json.taxYear }}",
            "Quarter": "={{ $('Process Receipt').item.json.quarter }}"
          }
        },
        "options": {}
      },
      "id": "950da64e-6ae1-428e-aebe-42a2212105d1",
      "name": "Add to Tax Deductions",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1440,
        160
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "PDF Vector - Extract Receipt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF Vector - Extract Receipt": {
      "main": [
        [
          {
            "node": "Process Receipt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Receipt": {
      "main": [
        [
          {
            "node": "Log to Receipt Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Receipt Database": {
      "main": [
        [
          {
            "node": "Tax Deductible?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tax Deductible?": {
      "main": [
        [
          {
            "node": "Add to Tax Deductions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "a17ae5d1-ce52-40e0-a184-83ccc58406b9",
  "meta": {
    "instanceId": "b48c509f4ff8f45ad20bae13ff579a5ad51353a15a2be8320507d7642bd46216"
  },
  "id": "Z7Lw7vgxBBUTBVv7",
  "tags": []
}
