n8n-workflows/research-paper-analyzer.json
{"meta":{"instanceId":"placeholder"},"nodes":[{"parameters":{},"id":"manual-trigger","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[250,300],"notes":"Start paper analysis"},{"parameters":{"operation":"download","fileId":"={{ $json.fileId }}"},"id":"google-drive","name":"Google Drive - Get Paper","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[450,300],"notes":"Retrieve paper from Drive"},{"parameters":{"resource":"document","operation":"parse","inputType":"file","binaryPropertyName":"data","useLLM":"always"},"id":"pdfvector-parse","name":"PDF Vector - Parse Paper","type":"n8n-nodes-pdfvector.pdfVector","typeVersion":1,"position":[650,300],"notes":"Parse research paper"},{"parameters":{"resource":"document","operation":"extract","inputType":"file","binaryPropertyName":"data","prompt":"Extract key information from this research document or image including title, authors with affiliations, abstract, keywords, research questions, methodology, key findings, conclusions, limitations, and future work suggestions. Use OCR if this is a scanned document or image.","schema":"{\"type\":\"object\",\"properties\":{\"title\":{\"type\":\"string\"},\"authors\":{\"type\":\"array\",\"items\":{\"type\":\"object\",\"properties\":{\"name\":{\"type\":\"string\"},\"affiliation\":{\"type\":\"string\"},\"email\":{\"type\":\"string\"}}}},\"abstract\":{\"type\":\"string\"},\"keywords\":{\"type\":\"array\",\"items\":{\"type\":\"string\"}},\"researchQuestions\":{\"type\":\"array\",\"items\":{\"type\":\"string\"}},\"methodology\":{\"type\":\"object\",\"properties\":{\"approach\":{\"type\":\"string\"},\"dataCollection\":{\"type\":\"string\"},\"analysis\":{\"type\":\"string\"},\"tools\":{\"type\":\"array\",\"items\":{\"type\":\"string\"}}}},\"findings\":{\"type\":\"array\",\"items\":{\"type\":\"string\"}},\"conclusions\":{\"type\":\"array\",\"items\":{\"type\":\"string\"}},\"limitations\":{\"type\":\"array\",\"items\":{\"type\":\"string\"}},\"futureWork\":{\"type\":\"array\",\"items\":{\"type\":\"string\"}},\"references\":{\"type\":\"number\"}},\"required\":[\"title\",\"authors\"],\"additionalProperties\":false}"},"id":"pdfvector-extract","name":"PDF Vector - Extract Data","type":"n8n-nodes-pdfvector.pdfVector","typeVersion":1,"position":[850,300],"notes":"Extract structured data"},{"parameters":{"model":"gpt-4","messages":{"values":[{"content":"Based on this research paper, provide:\n\n1. A concise summary (150 words) suitable for a research database\n2. The main contribution to the field (2-3 sentences)\n3. Potential applications or impact\n4. Classification tags (e.g., empirical study, theoretical framework, review, etc.)\n\nPaper content:\n{{ $node['PDF Vector - Parse Paper'].json.content }}"}]}},"id":"openai-analyze","name":"Generate AI Summary","type":"n8n-nodes-base.openAi","typeVersion":1,"position":[1050,300],"notes":"Create AI summary"},{"parameters":{"jsCode":"// Combine all analysis data\nconst parsedContent = $node['PDF Vector - Parse Paper'].json;\nconst extractedData = $node['PDF Vector - Extract Data'].json.data;\nconst aiSummary = $node['Generate AI Summary'].json.choices[0].message.content;\n\n// Calculate reading time (assuming 250 words per minute)\nconst wordCount = parsedContent.content.split(' ').length;\nconst readingTimeMinutes = Math.ceil(wordCount / 250);\n\n// Prepare database entry\nconst paperAnalysis = {\n  // Basic information\n  title: extractedData.title,\n  authors: extractedData.authors,\n  url: $node['Google Drive - Get Paper'].json.webViewLink,\n  \n  // Content\n  abstract: extractedData.abstract,\n  keywords: extractedData.keywords,\n  fullText: parsedContent.content,\n  \n  // Analysis\n  aiSummary: aiSummary,\n  methodology: extractedData.methodology,\n  findings: extractedData.findings,\n  conclusions: extractedData.conclusions,\n  limitations: extractedData.limitations,\n  futureWork: extractedData.futureWork,\n  \n  // Metadata\n  wordCount: wordCount,\n  readingTimeMinutes: readingTimeMinutes,\n  referenceCount: extractedData.references || 0,\n  processedAt: new Date().toISOString(),\n  \n  // Searchable fields\n  searchText: `${extractedData.title} ${extractedData.abstract} ${extractedData.keywords.join(' ')}`.toLowerCase()\n};\n\nreturn [{ json: paperAnalysis }];"},"id":"prepare-data","name":"Prepare Database Entry","type":"n8n-nodes-base.code","typeVersion":1,"position":[1250,300],"notes":"Combine all data"},{"parameters":{"operation":"insert","table":"research_papers","columns":"title,authors,url,abstract,keywords,ai_summary,methodology,findings,processed_at,search_text"},"id":"database-store","name":"Store in Database","type":"n8n-nodes-base.postgres","typeVersion":1,"position":[1450,300],"notes":"Save to research database"}],"connections":{"Manual Trigger":{"main":[[{"node":"Google Drive - Get Paper","type":"main","index":0}]]},"Google Drive - Get Paper":{"main":[[{"node":"PDF Vector - Parse Paper","type":"main","index":0}]]},"PDF Vector - Parse Paper":{"main":[[{"node":"PDF Vector - Extract Data","type":"main","index":0}]]},"PDF Vector - Extract Data":{"main":[[{"node":"Generate AI Summary","type":"main","index":0}]]},"Generate AI Summary":{"main":[[{"node":"Prepare Database Entry","type":"main","index":0}]]},"Prepare Database Entry":{"main":[[{"node":"Store in Database","type":"main","index":0}]]}}}
