n8n-workflows/resume-optimizer-and-job-match-scorer.json
{
  "name": "SOX Compliance Evidence Collector",
  "nodes": [
    {
      "parameters": {
        "content": "## SOX Compliance Evidence Collector\n\n### What this workflow does\n1. Watches a Google Drive folder for SOX evidence documents\n2. Downloads the evidence file\n3. PDF Vector extracts control evidence fields\n4. PDF Vector Ask reviews whether the evidence supports the control\n5. Merges extraction and assessment\n6. Formats the audit record\n7. Logs evidence to Google Sheets\n8. Sends Slack alerts for deficiencies or remediation needs\n\n### Setup steps\n1. Create a Google Drive folder for incoming SOX evidence\n2. Create a Google Sheet with columns for Control ID, Control Name, Owner, Process Area, Test Result, Deficiency Type, Remediation Required, Due Date, File Name, and Processed Date\n3. Add PDF Vector credentials\n4. Add Slack channel for compliance alerts\n5. Update folder, sheet, and channel IDs\n\n### Use case\nFinance, compliance, and audit teams collecting control evidence for SOX testing.\n\n### Template by PDF Vector\npdfvector.com/integrations/n8n",
        "height": 700,
        "width": 460,
        "color": 5
      },
      "id": "6f2d5ac4-3848-4a32-b6a8-4b706510c940",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        540,
        220
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "YOUR_SOX_EVIDENCE_FOLDER_ID",
          "mode": "id",
          "cachedResultName": "SOX Evidence Intake"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "4b8a60f1-2d91-42d7-b0b2-1f369f812d30",
      "name": "New Evidence Document",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        1060,
        420
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "1f2260c0-7a26-464a-9d1f-7fc1ac8e2a22",
      "name": "Download Evidence",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1280,
        420
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "extract",
        "inputType": "file",
        "prompt": "Extract SOX control evidence details from this document. Focus on control ID, control name, owner, process area, test result, exceptions, remediation status, testing date, and auditor comments. Return only fields supported by the document.",
        "schema": "{\"type\":\"object\",\"properties\":{\"controlId\":{\"type\":\"string\"},\"controlName\":{\"type\":\"string\"},\"controlOwner\":{\"type\":\"string\"},\"controlType\":{\"type\":\"string\"},\"processArea\":{\"type\":\"string\"},\"evidencePeriod\":{\"type\":\"string\"},\"testingDate\":{\"type\":\"string\"},\"testerName\":{\"type\":\"string\"},\"sampleSize\":{\"type\":\"number\"},\"exceptionCount\":{\"type\":\"number\"},\"testResult\":{\"type\":\"string\"},\"deficiencyType\":{\"type\":\"string\"},\"remediationRequired\":{\"type\":\"boolean\"},\"remediationPlan\":{\"type\":\"string\"},\"remediationDueDate\":{\"type\":\"string\"},\"auditorComments\":{\"type\":\"string\"}},\"required\":[\"controlId\",\"controlName\",\"testResult\"],\"additionalProperties\":false}"
      },
      "id": "97c2f2e2-f0de-4a54-9300-213a55f44e7b",
      "name": "Extract Control Evidence",
      "type": "n8n-nodes-pdfvector.pdfVector",
      "typeVersion": 2,
      "position": [
        1500,
        320
      ],
      "credentials": {
        "pdfVectorApi": {
          "id": "YOUR_PDFVECTOR_CREDENTIAL_ID",
          "name": "PDF Vector account"
        }
      }
    },
    {
      "parameters": {
        "operation": "ask",
        "inputType": "file",
        "question": "You are an internal controls auditor. Review this SOX evidence document and answer in this exact format:\n\nEVIDENCE_STATUS: [SUFFICIENT / PARTIAL / INSUFFICIENT]\nCONTROL_SUPPORT: [brief explanation]\nMISSING_ITEMS: [required evidence or context that is missing]\nRISK_LEVEL: [LOW / MEDIUM / HIGH]\nREMEDIATION_NOTE: [recommended next step if evidence is incomplete]\n\nDo not invent evidence. If the document does not support a claim, say so."
      },
      "id": "9f7a2acf-f520-48be-9c91-3f722e303872",
      "name": "Assess Evidence Sufficiency",
      "type": "n8n-nodes-pdfvector.pdfVector",
      "typeVersion": 2,
      "position": [
        1500,
        520
      ],
      "credentials": {
        "pdfVectorApi": {
          "id": "YOUR_PDFVECTOR_CREDENTIAL_ID",
          "name": "PDF Vector account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "d7cfd91b-53e1-456b-b555-6e0fa505f6bb",
      "name": "Merge Evidence Review",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1720,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "const allInputs = $input.all();\nconst extracted = (allInputs[0]?.json?.data || allInputs[0]?.json) || {};\nconst assessment = allInputs[1]?.json?.answer || allInputs[1]?.json?.markdown || '';\nconst fileName = $('New Evidence Document').item.json.name;\nconst fileId = $('New Evidence Document').item.json.id;\n\nconst remediationRequired = extracted.remediationRequired === true || /EVIDENCE_STATUS:\\s*(PARTIAL|INSUFFICIENT)/i.test(assessment) || /RISK_LEVEL:\\s*(MEDIUM|HIGH)/i.test(assessment);\n\nreturn [{\n  json: {\n    controlId: extracted.controlId || 'N/A',\n    controlName: extracted.controlName || 'N/A',\n    controlOwner: extracted.controlOwner || 'N/A',\n    controlType: extracted.controlType || 'N/A',\n    processArea: extracted.processArea || 'N/A',\n    evidencePeriod: extracted.evidencePeriod || 'N/A',\n    testingDate: extracted.testingDate || 'N/A',\n    testerName: extracted.testerName || 'N/A',\n    sampleSize: Number(extracted.sampleSize || 0),\n    exceptionCount: Number(extracted.exceptionCount || 0),\n    testResult: extracted.testResult || 'N/A',\n    deficiencyType: extracted.deficiencyType || 'none',\n    remediationRequired,\n    remediationPlan: extracted.remediationPlan || 'Review evidence sufficiency assessment',\n    remediationDueDate: extracted.remediationDueDate || 'N/A',\n    auditorComments: extracted.auditorComments || 'None',\n    evidenceAssessment: assessment,\n    fileName,\n    fileId,\n    processedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "5a152e7b-9f21-49a1-a60e-a15b8bff2476",
      "name": "Format Evidence Record",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1940,
        420
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SOX_EVIDENCE_SHEET_ID",
          "mode": "id",
          "cachedResultName": "SOX Evidence Log"
        },
        "sheetName": {
          "__rl": true,
          "value": "Evidence Log",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Control ID": "={{ $json.controlId }}",
            "Control Name": "={{ $json.controlName }}",
            "Owner": "={{ $json.controlOwner }}",
            "Control Type": "={{ $json.controlType }}",
            "Process Area": "={{ $json.processArea }}",
            "Evidence Period": "={{ $json.evidencePeriod }}",
            "Testing Date": "={{ $json.testingDate }}",
            "Tester": "={{ $json.testerName }}",
            "Sample Size": "={{ $json.sampleSize }}",
            "Exceptions": "={{ $json.exceptionCount }}",
            "Test Result": "={{ $json.testResult }}",
            "Deficiency Type": "={{ $json.deficiencyType }}",
            "Remediation Required": "={{ $json.remediationRequired }}",
            "Remediation Plan": "={{ $json.remediationPlan }}",
            "Due Date": "={{ $json.remediationDueDate }}",
            "Assessment": "={{ $json.evidenceAssessment }}",
            "File Name": "={{ $json.fileName }}",
            "Processed Date": "={{ $json.processedAt }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Control ID",
              "displayName": "Control ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Control Name",
              "displayName": "Control Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "a9f2b626-40d4-448c-96e4-2b4d97d36e11",
      "name": "Log Evidence",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2160,
        320
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "YOUR_COMPLIANCE_SLACK_CHANNEL_ID",
          "mode": "id",
          "cachedResultName": "sox-compliance"
        },
        "text": "=SOX evidence processed\n\nControl: {{ $json.controlId }} - {{ $json.controlName }}\nResult: {{ $json.testResult }}\nDeficiency: {{ $json.deficiencyType }}\nRemediation required: {{ $json.remediationRequired }}\nFile: {{ $json.fileName }}\n\nAssessment:\n{{ $json.evidenceAssessment }}",
        "otherOptions": {}
      },
      "id": "b8be484b-6d10-45f5-b59f-ef6082130d48",
      "name": "Notify Compliance Team",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2160,
        520
      ],
      "credentials": {
        "slackApi": {
          "id": "YOUR_SLACK_CREDENTIAL_ID",
          "name": "Slack account"
        }
      }
    }
  ],
  "connections": {
    "New Evidence Document": {
      "main": [
        [
          {
            "node": "Download Evidence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Evidence": {
      "main": [
        [
          {
            "node": "Extract Control Evidence",
            "type": "main",
            "index": 0
          },
          {
            "node": "Assess Evidence Sufficiency",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Control Evidence": {
      "main": [
        [
          {
            "node": "Merge Evidence Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assess Evidence Sufficiency": {
      "main": [
        [
          {
            "node": "Merge Evidence Review",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Evidence Review": {
      "main": [
        [
          {
            "node": "Format Evidence Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Evidence Record": {
      "main": [
        [
          {
            "node": "Log Evidence",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Compliance Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-05-13T00:00:00.000Z",
  "versionId": "40-sox-compliance-evidence"
}
