n8n-workflows/thesis-dissertation-research-assistant.json
{
  "name": "Thesis & Dissertation Research Assistant",
  "nodes": [
    {
      "parameters": {
        "content": "## 📚 Thesis & Dissertation Research Assistant\n\n### What this workflow does\n1. Watches Google Drive folder for thesis/chapter uploads\n2. Downloads and extracts academic content\n3. Identifies thesis statement, methodology, framework\n4. Searches academic databases for related papers\n5. Compiles reading list sorted by citations\n6. Logs research summary to Google Sheets\n7. Sends Slack notification with findings\n\n### Setup steps\n1. Connect Google Drive account (OAuth2)\n2. Get PDF Vector API key from pdfvector.com/api-keys\n3. Create Google Sheet with columns:\n   Title, Chapter, Thesis Statement, Methodology, Framework, Key Concepts, Search Terms, Papers Found, Research Questions, Processed Date\n4. Update spreadsheet ID in Google Sheets node\n5. Set your thesis folder ID in Google Drive Trigger\n6. Connect Slack and set research channel\n\n### Academic databases searched\n- Semantic Scholar\n- PubMed\n- ArXiv\n\n### Perfect for\n- PhD students writing dissertations\n- Graduate researchers doing lit reviews\n- Academic writers finding related work",
        "height": 620,
        "width": 380,
        "color": 5
      },
      "id": "sticky-main",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -140,
        -20
      ]
    },
    {
      "parameters": {
        "content": "## 📊 Extracted Fields\n\n- Title & Author\n- Institution & Degree\n- Thesis statement\n- Key concepts\n- Methodology\n- Theoretical framework\n- Research questions\n- Keywords for search",
        "height": 220,
        "width": 200
      },
      "id": "sticky-extract",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        480,
        -60
      ]
    },
    {
      "parameters": {
        "content": "## 🔬 Academic Sources\n\n- Semantic Scholar\n- PubMed (medical)\n- ArXiv (preprints)\n\nReturns top 15 papers\nsorted by citation count",
        "height": 180,
        "width": 200
      },
      "id": "sticky-sources",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        880,
        -60
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "YOUR_THESIS_FOLDER_ID",
          "mode": "list",
          "cachedResultName": "Thesis Chapters"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "drive-trigger",
      "name": "Google Drive Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        280,
        200
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "drive-download",
      "name": "Download Document",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        480,
        200
      ]
    },
    {
      "parameters": {
        "operation": "extract",
        "inputType": "file",
        "prompt": "Extract thesis or research document content as flat fields. documentTitle, chapterTitle, authorName, institution, year, thesisStatement (main argument or claim), methodology, theoreticalFramework, keyConceptsList (comma-separated key concepts), mainFindingsList (semicolon-separated main findings), researchQuestionsList (semicolon-separated research questions), keywordsList (comma-separated keywords for academic search), citationCount (number), pageCount (number), fieldOfStudy.",
        "schema": "{\"type\": \"object\", \"properties\": {\"documentTitle\": {\"type\": \"string\"}, \"chapterTitle\": {\"type\": \"string\"}, \"authorName\": {\"type\": \"string\"}, \"institution\": {\"type\": \"string\"}, \"year\": {\"type\": \"string\"}, \"thesisStatement\": {\"type\": \"string\"}, \"methodology\": {\"type\": \"string\"}, \"theoreticalFramework\": {\"type\": \"string\"}, \"keyConceptsList\": {\"type\": \"string\"}, \"mainFindingsList\": {\"type\": \"string\"}, \"researchQuestionsList\": {\"type\": \"string\"}, \"keywordsList\": {\"type\": \"string\"}, \"citationCount\": {\"type\": \"number\"}, \"pageCount\": {\"type\": \"number\"}, \"fieldOfStudy\": {\"type\": \"string\"}}, \"additionalProperties\": false}"
      },
      "id": "pdfvector-extract",
      "name": "PDF Vector - Extract Content",
      "type": "n8n-nodes-pdfvector.pdfVector",
      "typeVersion": 2,
      "position": [
        680,
        200
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "query": "={{ $json.data?.keywordsList ? $json.data.keywordsList.split(',').slice(0,4).join(' ') : $json.data?.documentTitle || '' }}",
        "providers": [
          "semantic-scholar",
          "pubmed",
          "arxiv"
        ],
        "limit": 15,
        "additionalFields": {},
        "resource": "academic"
      },
      "id": "pdfvector-search",
      "name": "PDF Vector - Find Related Papers",
      "type": "n8n-nodes-pdfvector.pdfVector",
      "typeVersion": 2,
      "position": [
        880,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = ($('PDF Vector - Extract Content').item.json?.data || $('PDF Vector - Extract Content').item.json) || {};\nconst papers = $input.first().json.results || [];\nconst fileName = $('Google Drive Trigger').item.json.name;\nconst fileId   = $('Google Drive Trigger').item.json.id;\n\nconst topPapers = papers.slice(0, 5);\nconst relatedPapersList = topPapers.map((p,i) =>\n  `${i+1}. ${p.title || 'Untitled'} (${p.year || 'N/A'}) — ${p.citationCount || 0} citations`\n).join('\\n') || 'None found';\n\nconst searchTerms = (data.keywordsList || data.documentTitle || '').split(',').slice(0,4).join(', ');\n\nreturn [{ json: {\n  title:            data.documentTitle      || 'Unknown',\n  documentTitle:    data.documentTitle      || 'Unknown',\n  chapterTitle:     data.chapterTitle       || 'N/A',\n  thesisStatement:  data.thesisStatement    || 'N/A',\n  methodology:      data.methodology        || 'N/A',\n  theoreticalFramework: data.theoreticalFramework || 'N/A',\n  keyConcepts:      data.keyConceptsList    || 'N/A',\n  keyConceptsList:  data.keyConceptsList    || 'N/A',\n  mainFindingsList: data.mainFindingsList   || 'N/A',\n  researchQuestions: data.researchQuestionsList || 'N/A',\n  researchQuestionsList: data.researchQuestionsList || 'N/A',\n  keywordsList:     data.keywordsList       || 'N/A',\n  searchTerms,\n  papersFound:      papers.length,\n  paperCount:       papers.length,\n  relatedPapersList,\n  readingList:      relatedPapersList,\n  fileName, fileId,\n  processedAt: new Date().toISOString()\n}}];"
      },
      "id": "compile-research",
      "name": "Compile Research",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        200
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "list",
          "cachedResultName": "Thesis Research Tracker"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Research Log"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $json.documentTitle }}",
            "Chapter": "={{ $json.chapterTitle }}",
            "Thesis Statement": "={{ $json.thesisStatement }}",
            "Methodology": "={{ $json.methodology }}",
            "Framework": "={{ $json.theoreticalFramework }}",
            "Key Concepts": "={{ $json.keyConceptsList }}",
            "Search Terms": "={{ $json.searchTerms }}",
            "Papers Found": "={{ $json.papersFound }}",
            "Research Questions": "={{ $json.researchQuestionsList }}",
            "Processed Date": "={{ $json.processedAt.split('T')[0] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chapter",
              "displayName": "Chapter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thesis Statement",
              "displayName": "Thesis Statement",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Methodology",
              "displayName": "Methodology",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Framework",
              "displayName": "Framework",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Key Concepts",
              "displayName": "Key Concepts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Search Terms",
              "displayName": "Search Terms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Papers Found",
              "displayName": "Papers Found",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Research Questions",
              "displayName": "Research Questions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Processed Date",
              "displayName": "Processed Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "sheets-log",
      "name": "Log Research",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1280,
        200
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "YOUR_SLACK_CHANNEL_ID",
          "mode": "list",
          "cachedResultName": "research-updates"
        },
        "text": "=📚 *Thesis Research Summary*\n\n*Document:* {{ $('Compile Research').item.json.fileName }}\n*Title:* {{ $('Compile Research').item.json.title }}\n*Chapter:* {{ $('Compile Research').item.json.chapterTitle }}\n\n---\n\n📝 *Thesis Statement:*\n{{ $('Compile Research').item.json.thesisStatement }}\n\n🔬 *Methodology:* {{ $('Compile Research').item.json.methodology }}\n📐 *Framework:* {{ $('Compile Research').item.json.theoreticalFramework }}\n\n---\n\n🔑 *Key Concepts:*\n{{ $('Compile Research').item.json.keyConcepts }}\n\n❓ *Research Questions:*\n{{ $('Compile Research').item.json.researchQuestions }}\n\n---\n\n📖 *Top Related Papers ({{ $('Compile Research').item.json.paperCount }} found):*\n{{ $('Compile Research').item.json.readingList }}\n\n---\n\n🔗 Document: https://drive.google.com/file/d/{{ $('Compile Research').item.json.fileId }}",
        "otherOptions": {}
      },
      "id": "slack-notify",
      "name": "Send Research Summary",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1480,
        200
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Document": {
      "main": [
        [
          {
            "node": "PDF Vector - Extract Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF Vector - Extract Content": {
      "main": [
        [
          {
            "node": "PDF Vector - Find Related Papers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF Vector - Find Related Papers": {
      "main": [
        [
          {
            "node": "Compile Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compile Research": {
      "main": [
        [
          {
            "node": "Log Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Research": {
      "main": [
        [
          {
            "node": "Send Research Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
