n8n-workflows/title-deed-risk-scorer.json
{
  "name": "Extract title deed data and score risk factors with AI",
  "nodes": [
    {
      "parameters": {
        "content": "## 🏠 Title Deed Risk Scorer\n\n### What this workflow does\n1. Watches Google Drive folder for title documents\n2. Extracts grantor, grantee, property description, liens\n3. AI evaluates chain of title gaps and risks\n4. Generates risk score with explanatory notes\n5. Logs findings to Google Sheets\n6. Sends Slack alert with risk assessment\n\n### Setup steps\n1. Get PDF Vector API key from pdfvector.com/api-keys\n2. Create a Google Drive folder for title documents\n3. Create a Google Sheet with these columns:\n   Property | Grantor | Grantee | Recording Date | Liens | Encumbrances | Risk Score | Risk Factors | Processed Date\n4. Update the folder ID and sheet ID in the nodes\n5. Connect your Slack workspace\n\n### Perfect for\n- Title companies\n- Real estate attorneys\n- Escrow officers",
        "height": 520,
        "width": 400,
        "color": 5
      },
      "id": "sticky-main",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        60,
        60
      ]
    },
    {
      "parameters": {
        "content": "## 🔀 Parallel Processing\n\nExtract and Risk Analysis run at the\nsame time from the same PDF",
        "height": 100,
        "width": 260
      },
      "id": "sticky-parallel",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        840,
        100
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "YOUR_FOLDER_ID",
          "mode": "list",
          "cachedResultName": "Title Documents"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "gdrive-trigger",
      "name": "New Title Document",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        480,
        300
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "gdrive-download",
      "name": "Download Document",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        680,
        300
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "resource": "document",
        "operation": "extract",
        "inputType": "file",
        "binaryPropertyName": "data",
        "prompt": "Extract title deed information including: document type (warranty deed/quitclaim deed/grant deed/special warranty deed/trust deed/title commitment/title policy), grantor name(s), grantee name(s), property legal description (lot, block, subdivision, metes and bounds), property street address, county and state, parcel number or APN, recording date, recording document number, book and page if applicable, consideration amount, tax stamps if visible, prior document references, easements described, restrictions or covenants, liens recorded (mortgages, judgments, tax liens, mechanic's liens), encumbrances, exceptions from coverage if title policy, vesting type (joint tenants, tenants in common, etc.), notary information, and any special provisions or conditions.",
        "schema": "{\"type\":\"object\",\"properties\":{\"documentType\":{\"type\":\"string\"},\"grantor\":{\"type\":\"array\",\"items\":{\"type\":\"object\",\"properties\":{\"name\":{\"type\":\"string\"},\"vestingType\":{\"type\":\"string\"}}}},\"grantee\":{\"type\":\"array\",\"items\":{\"type\":\"object\",\"properties\":{\"name\":{\"type\":\"string\"},\"vestingType\":{\"type\":\"string\"}}}},\"propertyDescription\":{\"type\":\"object\",\"properties\":{\"legalDescription\":{\"type\":\"string\"},\"streetAddress\":{\"type\":\"string\"},\"city\":{\"type\":\"string\"},\"county\":{\"type\":\"string\"},\"state\":{\"type\":\"string\"},\"parcelNumber\":{\"type\":\"string\"},\"lotNumber\":{\"type\":\"string\"},\"blockNumber\":{\"type\":\"string\"},\"subdivision\":{\"type\":\"string\"}}},\"recordingInfo\":{\"type\":\"object\",\"properties\":{\"recordingDate\":{\"type\":\"string\"},\"documentNumber\":{\"type\":\"string\"},\"book\":{\"type\":\"string\"},\"page\":{\"type\":\"string\"}}},\"consideration\":{\"type\":\"number\"},\"taxStamps\":{\"type\":\"number\"},\"priorDocuments\":{\"type\":\"array\",\"items\":{\"type\":\"string\"}},\"easements\":{\"type\":\"array\",\"items\":{\"type\":\"object\",\"properties\":{\"type\":{\"type\":\"string\"},\"description\":{\"type\":\"string\"},\"beneficiary\":{\"type\":\"string\"}}}},\"restrictionsCovenants\":{\"type\":\"array\",\"items\":{\"type\":\"string\"}},\"liens\":{\"type\":\"array\",\"items\":{\"type\":\"object\",\"properties\":{\"type\":{\"type\":\"string\"},\"holder\":{\"type\":\"string\"},\"amount\":{\"type\":\"number\"},\"recordingDate\":{\"type\":\"string\"},\"documentNumber\":{\"type\":\"string\"}}}},\"encumbrances\":{\"type\":\"array\",\"items\":{\"type\":\"string\"}},\"exceptions\":{\"type\":\"array\",\"items\":{\"type\":\"string\"}},\"notaryInfo\":{\"type\":\"object\",\"properties\":{\"name\":{\"type\":\"string\"},\"county\":{\"type\":\"string\"},\"commissionExpires\":{\"type\":\"string\"}}},\"specialProvisions\":{\"type\":\"array\",\"items\":{\"type\":\"string\"}}},\"required\":[\"documentType\",\"grantor\",\"grantee\"],\"additionalProperties\":false}"
      },
      "id": "pdfvector-extract",
      "name": "Extract Title Data",
      "type": "n8n-nodes-pdfvector.pdfVector",
      "typeVersion": 1,
      "position": [
        900,
        220
      ],
      "credentials": {
        "pdfVectorApi": {
          "id": "YOUR_PDFVECTOR_CREDENTIAL_ID",
          "name": "PDF Vector"
        }
      }
    },
    {
      "parameters": {
        "resource": "document",
        "operation": "ask",
        "inputType": "file",
        "binaryPropertyName": "data",
        "prompt": "Perform a comprehensive title risk assessment on this document. Evaluate:\n\n**CHAIN OF TITLE RISKS:**\n- Are there gaps in the chain of title?\n- Do grantor names match prior grantee names exactly?\n- Are there missing intermediate conveyances?\n- Is there evidence of forgery or unauthorized signatures?\n- Are there unreleased prior mortgages?\n\n**LIEN RISKS:**\n- Mortgage liens: current status, amounts, priority\n- Tax liens: federal, state, or property tax\n- Judgment liens: civil judgments, child support\n- Mechanic's liens: construction or improvement related\n- HOA liens: homeowner association assessments\n- Are all liens properly released or accounted for?\n\n**ENCUMBRANCE RISKS:**\n- Easements that affect use or value\n- Restrictive covenants that limit development\n- Right of way issues\n- Mineral or water rights reservations\n- Utility easements impacting buildable area\n\n**LEGAL DESCRIPTION RISKS:**\n- Is legal description complete and unambiguous?\n- Are there boundary disputes or overlaps?\n- Do metes and bounds close properly?\n- Is parcel number consistent with description?\n\n**VESTING RISKS:**\n- Marital status issues (missing spouse signatures)\n- Trust or entity authorization questions\n- Guardianship or conservatorship concerns\n- Probate requirements not satisfied\n\n**DOCUMENT EXECUTION RISKS:**\n- Notary issues (expired commission, wrong county)\n- Missing witnesses where required\n- Improper acknowledgment\n- Recording defects\n\nFor each risk found, provide:\n1. Risk description\n2. Severity: CRITICAL / HIGH / MEDIUM / LOW\n3. Potential impact on title insurability\n4. Recommended cure or action\n\nProvide overall title risk score (1-100, where 100 is clean title) and insurability assessment."
      },
      "id": "pdfvector-analyze",
      "name": "Risk Analysis",
      "type": "n8n-nodes-pdfvector.pdfVector",
      "typeVersion": 1,
      "position": [
        900,
        380
      ],
      "credentials": {
        "pdfVectorApi": {
          "id": "YOUR_PDFVECTOR_CREDENTIAL_ID",
          "name": "PDF Vector"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1120,
        300
      ],
      "id": "merge-results",
      "name": "Merge Results"
    },
    {
      "parameters": {
        "jsCode": "// Get all items from Merge\nconst allItems = $input.all();\n\n// Extract data\nconst extractItem = allItems[0]?.json || {};\nconst titleData = extractItem.data || extractItem;\n\n// Analysis\nconst analysisItem = allItems[1]?.json || {};\nconst riskAnalysis = analysisItem.markdown || analysisItem.answer || analysisItem.text || 'No analysis generated';\n\n// Trigger data\nconst triggerData = $('New Title Document').item.json;\nconst fileName = triggerData.name || 'unknown';\nconst fileId = triggerData.id || '';\n\n// Format grantors\nconst grantors = titleData.grantor || [];\nconst grantorNames = grantors.map(g => g.name).join(', ') || 'Unknown';\n\n// Format grantees\nconst grantees = titleData.grantee || [];\nconst granteeNames = grantees.map(g => `${g.name}${g.vestingType ? ' (' + g.vestingType + ')' : ''}`).join(', ') || 'Unknown';\n\n// Property description\nconst prop = titleData.propertyDescription || {};\nconst propertyAddress = [prop.streetAddress, prop.city, prop.state].filter(Boolean).join(', ') || 'See legal description';\n\n// Recording info\nconst rec = titleData.recordingInfo || {};\nconst recordingInfo = `${rec.recordingDate || 'N/A'} - Doc #${rec.documentNumber || 'N/A'}`;\n\n// Format liens\nconst liens = titleData.liens || [];\nconst lienSummary = liens.map(l => `${l.type}: $${l.amount || 'N/A'} (${l.holder || 'Unknown'})`).join('; ') || 'None found';\nconst totalLienAmount = liens.reduce((sum, l) => sum + (l.amount || 0), 0);\n\n// Format easements\nconst easements = titleData.easements || [];\nconst easementSummary = easements.map(e => `${e.type}: ${e.description || 'N/A'}`).join('; ') || 'None';\n\n// Format encumbrances\nconst encumbrances = titleData.encumbrances || [];\nconst encumbranceSummary = encumbrances.join('; ') || 'None';\n\n// Format exceptions\nconst exceptions = titleData.exceptions || [];\nconst exceptionSummary = exceptions.join('; ') || 'None';\n\n// Count risks from analysis\nconst analysisLower = riskAnalysis.toLowerCase();\nconst criticalCount = (analysisLower.match(/critical/g) || []).length;\nconst highCount = (analysisLower.match(/high/g) || []).length;\nconst mediumCount = (analysisLower.match(/medium/g) || []).length;\n\n// Determine risk score\nlet riskScore = 85;\nif (criticalCount > 0) riskScore = 30;\nelse if (highCount > 0) riskScore = 50;\nelse if (mediumCount > 0) riskScore = 70;\nelse if (liens.length > 0) riskScore = 75;\n\n// Risk level\nlet riskLevel = 'Low';\nif (riskScore < 50) riskLevel = 'High';\nelse if (riskScore < 70) riskLevel = 'Medium';\n\n// Insurability\nlet insurability = 'Insurable';\nif (criticalCount > 0) insurability = 'Not Insurable - Critical Issues';\nelse if (highCount > 0) insurability = 'Conditional - Requires Cure';\nelse if (liens.length > 3) insurability = 'Conditional - Multiple Liens';\n\nreturn [{\n  json: {\n    documentType: titleData.documentType || 'Unknown',\n    grantorNames: grantorNames,\n    granteeNames: granteeNames,\n    propertyAddress: propertyAddress,\n    legalDescription: prop.legalDescription || 'N/A',\n    county: prop.county || 'N/A',\n    state: prop.state || 'N/A',\n    parcelNumber: prop.parcelNumber || 'N/A',\n    recordingDate: rec.recordingDate || 'N/A',\n    recordingInfo: recordingInfo,\n    consideration: titleData.consideration || 0,\n    lienCount: liens.length,\n    lienSummary: lienSummary,\n    totalLienAmount: totalLienAmount,\n    easementCount: easements.length,\n    easementSummary: easementSummary,\n    encumbranceSummary: encumbranceSummary,\n    exceptionSummary: exceptionSummary,\n    riskScore: riskScore,\n    riskLevel: riskLevel,\n    criticalIssues: criticalCount,\n    highIssues: highCount,\n    mediumIssues: mediumCount,\n    insurability: insurability,\n    riskAnalysis: riskAnalysis,\n    fileName: fileName,\n    fileId: fileId,\n    processedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "format-data",
      "name": "Score Risk",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        300
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "list",
          "cachedResultName": "Title Search Log"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Titles"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Property": "={{ $json.propertyAddress }}",
            "Parcel": "={{ $json.parcelNumber }}",
            "Grantor": "={{ $json.grantorNames }}",
            "Grantee": "={{ $json.granteeNames }}",
            "Recording Date": "={{ $json.recordingDate }}",
            "Liens": "={{ $json.lienCount }}",
            "Lien Amount": "={{ $json.totalLienAmount }}",
            "Risk Score": "={{ $json.riskScore }}",
            "Risk Level": "={{ $json.riskLevel }}",
            "Insurability": "={{ $json.insurability }}",
            "Processed Date": "={{ $json.processedAt.split('T')[0] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Property",
              "displayName": "Property",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Parcel",
              "displayName": "Parcel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Grantor",
              "displayName": "Grantor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Grantee",
              "displayName": "Grantee",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Recording Date",
              "displayName": "Recording Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Liens",
              "displayName": "Liens",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lien Amount",
              "displayName": "Lien Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Risk Score",
              "displayName": "Risk Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Risk Level",
              "displayName": "Risk Level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Insurability",
              "displayName": "Insurability",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Processed Date",
              "displayName": "Processed Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "sheets-log",
      "name": "Log to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1520,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "YOUR_SLACK_CHANNEL_ID",
          "mode": "list",
          "cachedResultName": "title-search"
        },
        "text": "=🏠 *Title Deed Risk Assessment Complete*\n\n*Document:* {{ $('Score Risk').item.json.documentType }}\n*Property:* {{ $('Score Risk').item.json.propertyAddress }}\n*Parcel:* {{ $('Score Risk').item.json.parcelNumber }}\n\n👥 *Parties:*\n• Grantor: {{ $('Score Risk').item.json.grantorNames }}\n• Grantee: {{ $('Score Risk').item.json.granteeNames }}\n\n📅 *Recording:*\n{{ $('Score Risk').item.json.recordingInfo }}\n• Consideration: ${{ $('Score Risk').item.json.consideration }}\n\n⚠️ *Risk Assessment:*\n• Score: {{ $('Score Risk').item.json.riskScore }}/100\n• Level: *{{ $('Score Risk').item.json.riskLevel }}*\n• Insurability: {{ $('Score Risk').item.json.insurability }}\n• Critical Issues: {{ $('Score Risk').item.json.criticalIssues }}\n• High Issues: {{ $('Score Risk').item.json.highIssues }}\n\n🔗 *Liens ({{ $('Score Risk').item.json.lienCount }}):*\n{{ $('Score Risk').item.json.lienSummary }}\nTotal: ${{ $('Score Risk').item.json.totalLienAmount }}\n\n📋 *Easements ({{ $('Score Risk').item.json.easementCount }}):*\n{{ $('Score Risk').item.json.easementSummary }}\n\n📝 *Encumbrances:*\n{{ $('Score Risk').item.json.encumbranceSummary }}\n\n📄 *Risk Analysis:*\n{{ $('Score Risk').item.json.riskAnalysis }}\n\n🔗 <https://drive.google.com/file/d/{{ $('Score Risk').item.json.fileId }}/view|View Document>",
        "otherOptions": {}
      },
      "id": "slack-notify",
      "name": "Send to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1720,
        300
      ],
      "credentials": {
        "slackOAuth2Api": {
          "id": "YOUR_SLACK_CREDENTIAL_ID",
          "name": "Slack"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "New Title Document": {
      "main": [
        [
          {
            "node": "Download Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Document": {
      "main": [
        [
          {
            "node": "Extract Title Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Risk Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Title Data": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Risk Analysis": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Score Risk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Risk": {
      "main": [
        [
          {
            "node": "Log to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Sheets": {
      "main": [
        [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
