n8n-workflows/whitepaper-report-summarizer.json
{
  "name": "Whitepaper & Report Summarizer",
  "nodes": [
    {
      "parameters": {
        "content": "## 📄 Whitepaper & Report Summarizer\n\n### How it works\n1. Watches Google Drive folder for new whitepapers/reports\n2. Downloads and extracts structured data (title, author, stats, findings)\n3. Generates AI executive summary with actionable insights\n4. Compiles and formats all extracted information\n5. Logs document metadata to Google Sheets research library\n6. Shares formatted summary to Slack channel\n\n### Setup steps\n1. Create Google Drive folder for whitepapers and reports\n2. Get PDF Vector API key from pdfvector.com/api-keys\n3. Create Google Sheet with columns:\n   Title, Author, Organization, Type, Industry, Published, Pages, Key Statistics, Findings, Recommendations, Keywords, Document Link, Added Date\n4. Connect Google Drive, Sheets, and Slack credentials\n5. Update folder ID and spreadsheet ID in nodes\n\n### Perfect for\n- Analysts processing industry reports\n- Researchers tracking publications\n- Content marketers curating insights\n- Executives needing quick document summaries",
        "height": 560,
        "width": 380,
        "color": 5
      },
      "id": "sticky-main",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -140,
        -96
      ]
    },
    {
      "parameters": {
        "content": "## 🎯 Extracted Data\n\n- Title and author\n- Organization\n- Document type\n- Main thesis\n- Key statistics\n- Methodology\n- Main findings\n- Conclusions\n- Recommendations\n- Data sources\n- Keywords",
        "height": 280,
        "width": 220
      },
      "id": "sticky-extract",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        528,
        -140
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "YOUR_FOLDER_ID",
          "mode": "list",
          "cachedResultName": "Whitepapers & Reports"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "gdrive-trigger",
      "name": "Google Drive Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        176,
        224
      ],
      "notes": "Watch for new whitepapers/reports"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": "={{ $json.id }}",
        "options": {}
      },
      "id": "gdrive-download",
      "name": "Download Document",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        384,
        224
      ]
    },
    {
      "parameters": {
        "operation": "extract",
        "inputType": "file",
        "prompt": "Extract whitepaper or report data as flat fields. title, author, organization, publicationDate, documentType (one of: Whitepaper, Research Report, Industry Report, Case Study, Technical Document, Annual Report, Market Analysis, Other), pageCount (number), industry, mainThesis, methodology, keyStatisticsList (semicolon-separated key stats as single string), mainFindingsList (semicolon-separated main findings), conclusionsList (semicolon-separated conclusions), recommendationsList (semicolon-separated recommendations), dataSourcesList (semicolon-separated data sources cited), keywordsList (comma-separated keywords).",
        "schema": "{\"type\": \"object\", \"properties\": {\"title\": {\"type\": \"string\"}, \"author\": {\"type\": \"string\"}, \"organization\": {\"type\": \"string\"}, \"publicationDate\": {\"type\": \"string\"}, \"documentType\": {\"type\": \"string\"}, \"pageCount\": {\"type\": \"number\"}, \"industry\": {\"type\": \"string\"}, \"mainThesis\": {\"type\": \"string\"}, \"methodology\": {\"type\": \"string\"}, \"keyStatisticsList\": {\"type\": \"string\"}, \"mainFindingsList\": {\"type\": \"string\"}, \"conclusionsList\": {\"type\": \"string\"}, \"recommendationsList\": {\"type\": \"string\"}, \"dataSourcesList\": {\"type\": \"string\"}, \"keywordsList\": {\"type\": \"string\"}}, \"additionalProperties\": false}"
      },
      "id": "pdfvector-extract",
      "name": "PDF Vector - Extract Info",
      "type": "n8n-nodes-pdfvector.pdfVector",
      "typeVersion": 2,
      "position": [
        576,
        48
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "merge-data",
      "name": "Merge Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        784,
        192
      ]
    },
    {
      "parameters": {
        "operation": "ask",
        "inputType": "file",
        "question": "Based on this document, provide: 1) A 3-4 sentence executive summary, 2) The single most important takeaway for business leaders, 3) Three actionable next steps based on the findings, and 4) Who should read this document and why."
      },
      "id": "pdfvector-summary",
      "name": "PDF Vector - Generate Summary",
      "type": "n8n-nodes-pdfvector.pdfVector",
      "typeVersion": 2,
      "position": [
        976,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "const doc = $('PDF Vector - Extract Info').item.json.data || $('PDF Vector - Extract Info').item.json;\nconst summary = $input.first().json.answer || $input.first().json.markdown || '';\nconst fileName = $('Google Drive Trigger').item.json.name;\nconst fileId   = $('Google Drive Trigger').item.json.id;\n\nconst stats    = (doc.keyStatisticsList   || '').split(';').filter(Boolean);\nconst findings = (doc.mainFindingsList    || '').split(';').filter(Boolean);\nconst recs     = (doc.recommendationsList || '').split(';').filter(Boolean);\n\nconst statsList    = stats.map(s => `📊 ${s.trim()}`).join('\\n')           || 'None extracted';\nconst findingsList = findings.map((f,i) => `${i+1}. ${f.trim()}`).join('\\n') || 'None listed';\nconst recsList     = recs.map(r => `✓ ${r.trim()}`).join('\\n')             || 'None provided';\n\nreturn [{ json: {\n  title:           doc.title           || 'Unknown',\n  author:          doc.author          || 'N/A',\n  organization:    doc.organization    || 'N/A',\n  documentType:    doc.documentType    || 'Other',\n  industry:        doc.industry        || 'N/A',\n  publicationDate: doc.publicationDate || 'N/A',\n  pageCount:       doc.pageCount       || 'N/A',\n  keywordsList:    doc.keywordsList    || 'None',\n  executiveSummary: summary,\n  statsList,    statsCount:    stats.length,\n  findingsList, findingsCount: findings.length,\n  recsList,     recsCount:     recs.length,\n  fileName, fileId,\n  processedAt: new Date().toISOString()\n}}];"
      },
      "id": "compile-summary",
      "name": "Compile Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        192
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "list",
          "cachedResultName": "Research Library"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $json.title }}",
            "Author": "={{ $json.author || 'N/A' }}",
            "Organization": "={{ $json.organization || 'N/A' }}",
            "Type": "={{ $json.documentType }}",
            "Industry": "={{ $json.industry || 'N/A' }}",
            "Published": "={{ $json.publicationDate || 'N/A' }}",
            "Pages": "={{ $json.pageCount || 'N/A' }}",
            "Key Statistics": "={{ $json.statsCount }}",
            "Findings": "={{ $json.findingsCount }}",
            "Recommendations": "={{ $json.recsCount }}",
            "Keywords": "={{ $json.keywordsList }}",
            "Document Link": "=https://drive.google.com/file/d/{{ $json.fileId }}/view",
            "Added Date": "={{ $json.processedAt.split('T')[0] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Author",
              "displayName": "Author",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Organization",
              "displayName": "Organization",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Published",
              "displayName": "Published",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pages",
              "displayName": "Pages",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Key Statistics",
              "displayName": "Key Statistics",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Findings",
              "displayName": "Findings",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Recommendations",
              "displayName": "Recommendations",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Keywords",
              "displayName": "Keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Document Link",
              "displayName": "Document Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Added Date",
              "displayName": "Added Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "sheets-log",
      "name": "Add to Research Library",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1376,
        192
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "YOUR_SLACK_CHANNEL_ID",
          "mode": "list",
          "cachedResultName": "research-updates"
        },
        "text": "=📄 *New Whitepaper Summarized*\n\n*Title:* {{ $('Compile Summary').item.json.title }}\n*Author:* {{ $('Compile Summary').item.json.author || 'N/A' }}\n*Type:* {{ $('Compile Summary').item.json.documentType }}\n*Industry:* {{ $('Compile Summary').item.json.industry || 'N/A' }}\n\n---\n\n📋 *Executive Summary:*\n{{ $('Compile Summary').item.json.executiveSummary }}\n\n---\n\n📊 *Key Statistics ({{ $('Compile Summary').item.json.statsCount }}):*\n{{ $('Compile Summary').item.json.statsList }}\n\n---\n\n🔍 *Key Findings ({{ $('Compile Summary').item.json.findingsCount }}):*\n{{ $('Compile Summary').item.json.findingsList }}\n\n---\n\n✅ *Recommendations ({{ $('Compile Summary').item.json.recsCount }}):*\n{{ $('Compile Summary').item.json.recsList }}\n\n<https://drive.google.com/file/d/{{ $('Compile Summary').item.json.fileId }}/view|📄 Read Full Document>",
        "otherOptions": {}
      },
      "id": "slack-share",
      "name": "Share Summary",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1584,
        192
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Document": {
      "main": [
        [
          {
            "node": "PDF Vector - Extract Info",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "PDF Vector - Extract Info": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Data": {
      "main": [
        [
          {
            "node": "PDF Vector - Generate Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF Vector - Generate Summary": {
      "main": [
        [
          {
            "node": "Compile Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compile Summary": {
      "main": [
        [
          {
            "node": "Add to Research Library",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Research Library": {
      "main": [
        [
          {
            "node": "Share Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
